<ng-header></ng-header>

<section class="proyectos-creados">
	<div class="container" dw-loading="users" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
		<div class="row dashboard-header">
			<div class="col-md-12">
				<div class="logged-user">
					{{ 'label-proyectos-saludos' | translate}}<span class="user-name">{{nameUser}} {{lastname}}</span>
				</div>
			</div>
		</div>
		<h1>
			{{ 'label-users-title' | translate}}
		</h1>

		<messages src="messages"></messages>

		<p class="no-records" ng-if="(userList.length == 0)">
			{{ 'label-user-no-records' | translate }}
		</p>

		<div class="row proyects">
			<div class="col-md-6" ng-repeat="user in userList">
				<article class="proyect">

					<div class="row">
						<div class="col-sm-7 col-xs-12 col-md-6">
							<img class="proyect-img" ng-src="{{dominioImage}}{{user.person.image}}">
						</div>
						<div class="col-sm-5 col-xs-12 col-md-6">
							<div class="proyect-info">
								<h2>{{user.username}}</h2>
								<div class="owner">
									<h3>{{user.fullname | camelCase}}</h3>
								</div>
								
								<h2>&nbsp;</h2>

								<div class="owner">
									<h3>{{user.person.email}}</h3>
								</div>

								<h2>&nbsp;</h2>

								<div class="date">
									{{user.createdAt | date:'longDate'}}
								</div>
							</div>
						</div>
					</div>
					<div class="row description">
						<div class="col-sm-12 col-xs-12">
							<p class="proyect-text" style="overflow: hidden;">
								{{ user.fulladdress }}
							</p>
						</div>
					</div>
					<div class="row description">
						<div class="col-sm-12 col-xs-12 btn-container">
							<button class="btn btn-primary" ng-hide="user.enabled" ng-click="activateUser(user)">
								{{ 'label-proyectos-proyecto-activate' | translate}}
							</button>
							<button class="btn btn-primary" ng-show="user.enabled" ng-click="deactivateUser(user)">
								{{ 'label-proyectos-proyecto-deactivate' | translate}}
							</button>
							<button class="btn btn-primary" ng-click="recoverUser(user)">
								{{ 'label-users-user-recover' | translate}}
							</button>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<script type="text/ng-template" id="payments-modal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title" id="modal-title">{{ 'label-detallesPago' | translate }}</h3>
	</div>

	<messages src="messages"></messages>

	<div class="modal-body" id="modal-body">
		<div class="text-center">
			<h3>{{ projectName }}</h3>

			<p>{{ 'label-ImpulsoTotal' | translate }}:</p>
			<p class="total">
				<h4><b>{{ investmentTotal | currency : project.currency.symbol : 2 }}</b></h4>
			</p>

			<h3>{{ 'label-detallesPago' | translate }}</h3>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>{{'label-formaPago' | translate}}</th>
						<th>{{'label-fecha' | translate}}</th>
						<th>{{'label-monto' | translate}}</th>
						<th>{{'label-activar' | translate}}</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="investment in investmentList.investments">
						<td style="padding-top: 15px;">
							{{ investment.methodPayment | translate }}
						</td>
						<td style="padding-top: 15px;">{{investment.date | date:'longDate'}}</td>
						<td style="padding-top: 15px;">{{ investment.amount | currency : project.currency.symbol : 2 }}</td>
						<td>
							<button class="btn btn-primary" style="background: #003362;" ng-show="investment.methodPayment == 'TRANSFER' && investment.status == 'INACTIVE'" ng-click="activateTransfer(investment)">
								{{ 'label-proyectos-transfer-activate' | translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="close()">{{ 'label-cerrar' | translate }}</button>
	</div>
</script>

<ng-footer></ng-footer>
