<section class="dashboard">

<ng-header></ng-header>

<div class="container" dw-loading="home" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
	<div class="row dashboard-header">
		<div class="col-md-12">
			<div class="logged-user">
				{{'label-homeuser-hola' | translate}}<span class="user-name">{{nameUser}} {{lastname}}</span>
			</div>
		</div>
	</div>
	<div class="row stat-container">
		<div class="col-md-6">
			<a class="dashboard-stat dashboard-stat orange" href="/#/projects">
				<div class="visual">
					<i class="fa fa-cog"></i>
				</div>
				<div class="details">
					<div class="number">
						<span ng-show="numberProjectList > 0">{{numberProjectList}}</span>
						<span class="text">
						{{numberProjectList, plural, offset:1
							=0    { {{'label-homeuser-sin-proyecto' | translate}} }
							=1    { {{'label-homeuser-proyecto' | translate}} }
							other { {{'label-homeuser-proyectos' | translate}} }
						}}
						</span>
					</div>
					<div class="desc">
						<em>{{'label-homeuser-ver-mas' | translate}}</em>
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-6">
			<a class="dashboard-stat dashboard-stat blue" href="#/myInvestments">
				<div class="visual">
					<i class="fa fa-dollar"></i>
				</div>
				<div class="details">
					<div class="number">
						<span ng-show="numberInvestmentList > 0">{{numberInvestmentList}}</span>
						<span class="text">
						{{numberInvestmentList, plural, offset:1
							=0    { {{'label-homeuser-sin-inversion' | translate}} }
							=1    { {{'label-homeuser-inversion' | translate}} }
							other { {{'label-homeuser-inversiones' | translate}} }
						}}
						</span>
					</div>
					<div class="desc">
						<em>{{'label-homeuser-ver-mas' | translate}}</em>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>

<ng-footer></ng-footer>
</section>
