<ng-header-loggeado></ng-header-loggeado>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
        <h5 class="m-n font-thin h5">{{ 'label-bienvenido' | translate }}, {{nameUser}} {{lastname}}</h5>
    </div>

    <section class="col-sm-8">
        <br><br><br><br>
        <div class="col-sm-6">
            <div class="well m-t bg-light lt">
                <div class="row" align="center">
                  <a href="#/myInvestments"> <img class="img-responsive" src="template/img/mis_inversiones.png" alt=""></a>
                </div>
                <div class="text-center"> {{'label-misInversiones' | translate}} <br></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well m-t bg-light lt">
                <div class="row" align="center">
                  <a href="#projects"> <img class="img-responsive" src="template/img/mis_proyectos.png" alt=""></a>
                </div>
                <div class="text-center"> {{'label-misProyectos' | translate}} <br></div>
            </div>
        </div>
    </section>

    <section class="col-sm-4">
        <div class="wrapper-md">

          <div ng-repeat="project in projectList">
            <div ng-if="project.priorityType == 'LASTINVESTMENT' ">

              <div ng-if="project.position == '1' ">
                <div class="row">
                  <h3 class="font-bold text-center">{{'label-lastVersion' | translate}} </h3>
                </div>
              </div>

              <div class="well m-t bg-light lt">
                <div class="row">
                  <div class="text-center"><span class="font-bold"> $ {{project.lastInvestment}}</span></div>
                  <div ng-if="project.dateLastInvestment != null">
                    <div class="text-center"> {{ 'label-hace' | translate }} {{project.dateLastInvestment}}<br></div>
                  </div>
                </div>
                <div class="row" align="center">
                  <img class="img-responsive" width="200" height="200" src="data:image/jpeg;base64,{{project.image}}" alt="">
                </div>
              </div>

            </div>
          </div>


          <div ng-repeat="project in projectList">
            <div ng-if="project.priorityType == 'JUSTPAID' ">

              <div ng-if="project.position == '1' ">
                <div class="row">
                  <h3 class="font-bold text-center">{{'label-recentlyPaid' | translate}}</h3>
                </div>
              </div>

              <div class="well m-t bg-light lt">
                <div class="row" align="center">
                  <img class="img-responsive" width="200" height="200" src="data:image/jpeg;base64,{{project.image}}" alt=""> <br>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="text-center"><span class="font-bold"> $ {{project.obtained}}</span></div>
                    <div class="text-center"> {{'label-invested' | translate}} <br></div>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-center"><span class="font-bold"> {{project.percent}} %</span></div>
                    <div class="text-center"> {{'label-funded' | translate}} <br></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </section>
    </div>
</div>
<div id="myloader">
  <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
