.acerca-nosotros h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0 40px;
}
.acerca-nosotros .background-blue {
  text-align: center;
}
.acerca-nosotros .background-blue h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.acerca-nosotros .background-blue p {
  font-size: 16px;
  width: 80%;
  margin: 30px auto 0;
}
.acerca-nosotros .mision-vision {
  background: url('../img/acerca/berriez.jpg') no-repeat center;
  background-size: cover;
}
