.acerca-nosotros {
  h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 40px;
  }

  .background-blue {
    text-align: center;

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 16px;
      width: 80%;
      margin: 30px auto 0;
    }
  }

  .mision-vision {
    background: url('../img/acerca/berriez.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    height: 395px;
    padding-top: 40px;
    margin-top: 80px;
    margin-bottom: 80px;

    h2 {
      color: @color-orange;
      font-size: 30px;
      font-weight: bold;
    }

    p {
      color: #fff;
      font-size: 14px;
      width: 80%;
      margin: 0 auto;
    }
  }

  .equipo {
    text-align: center;

    h2 {
      font-size: 30px;
      color: @color-orange;
    }

    h4 {
      font-size: 16px;
      color: @color-blue;
    }

    > .row {
      padding: 0 60px;
      margin-top: 30px;
      margin-bottom: 30px;

      .background-orange {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 20px;
        overflow: hidden;
      }

      img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
      }

      .info {
        color: #fff;
        text-align: left;

        h3 {
          position: relative;
          font-weight: bold;
          padding-bottom: 20px;

          &:after {
            position: absolute;
            bottom: 0;
            content: ' ';
            width: 160%;
            height: 2px;
            background: #fff;
            left: 0;
            margin-left: -60%;
          }
        }

        h4 {
          color: inherit;
          font-style: italic;
          margin-bottom: 60px;
        }

        p {
          margin: 0;
        }
      }

      .img-container {
        z-index: 2;
      }

      .info-container {
        z-index: 1%;
      }
    }
  }

}