body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  color: #003362;
  overflow-x: hidden;
}
header.header {
  padding: 40px 20px;
}
header.header .logo {
  width: 226px;
}
header.header > .container {
  position: relative;
}
header.header nav {
  background: #fff;
  border: 0;
}
header.header nav li {
  position: inherit;
  margin-right: 10px;
}
header.header nav li.active > a {
  border-bottom: solid 2px #003362;
  background: transparent !important;
}
header.header nav li:hover > a {
  border-bottom: solid 2px #f67336;
}
header.header nav a {
  color: #003362 !important;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 0 0;
}
header.header nav .dropdown {
  position: absolute;
  top: -25px;
  right: 0;
}
header.header nav .dropdown button {
  background: transparent !important;
  border: 0;
  font-size: 10px;
  color: #003362 !important;
  padding: 0;
  font-weight: bold;
  box-shadow: none !important;
}
header.header nav .dropdown li {
  font-size: 10px;
  text-align: center;
  position: relative;
}
header.header nav .dropdown li.dropdown-header {
  font-weight: bold;
  padding-left: 30px;
  padding-right: 10px;
}
header.header nav .dropdown li a {
  padding-left: 30px;
  padding-right: 10px;
  font-size: 12px;
}
header.header nav .flag {
  width: 18px;
  height: 12px;
  background: url(../img/flags.png);
  position: absolute;
  top: 4px;
  left: 5px;
}
header.header nav .flag.mexico {
  background-position: 0 0;
}
header.header nav .flag.usa {
  background-position: 0 -12px;
}
header.header nav .flag.euro {
  background-position: 0 -24px;
}
header.header .input-group-addon {
  background: #fff;
  border: 0;
  padding: 0;
}
header.header .search-container {
  padding: 5px 0 0;
  margin: 0;
}
header.header .search-container i {
  color: #003362;
}
header.header .search-container input {
  padding-left: 0;
  margin-left: 10px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  height: 20px;
  width: 120px !important;
  border-bottom: solid 1px #003362;
}
footer {
  font-size: 16px;
}
footer .center {
  text-align: center;
}
footer .center a {
  display: block;
  margin-bottom: 10px;
}
footer .center ul {
  display: inline-block;
  padding: 0;
}
footer ul {
  list-style: none;
}
footer ul.social li {
  display: inline-block;
  margin-right: 5px;
}
footer a {
  color: #000;
  font-weight: normal;
}
footer a.blue {
  color: #003362;
  font-weight: bold;
}
footer li {
  color: #003362;
  font-weight: bold;
}
footer .copyright {
  text-align: center;
  color: #000;
  margin-top: 30px;
}
footer .institucional {
  background: url('../img/footer/BannerINADEM-01.jpg') no-repeat center;
  background-size: cover;
  width: 80%;
  height: 103px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
@media (max-width: 992px) {
  footer .institucional {
    background: url('../img/footer/BannerINADEM-02.jpg') no-repeat center;
    background-size: cover;
    width: 769px;
    height: 90px;
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  footer .institucional {
    background: url('../img/footer/BannerINADEM-03.jpg') no-repeat center;
    background-size: cover;
    width: 321px;
    height: 136px;
    margin-top: 30px;
  }
}

.background-blue,
.background-orange {
  color: #fff;
  padding: 20px;
}
.background-blue {
  background: #003362;
}
.background-orange {
  background: #f67336;
}
.proyect {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  border: solid 1px #ccc;
  margin-bottom: 20px;
  text-align: center;
}
.proyect .proyect-img {
  width: 100%;
  height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.proyect .proyect-info {
  padding: 0 5px;
}
.proyect .proyect-info h4 {
  color: #474747;
  margin: 0;
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}
.proyect .proyect-info .amount {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.proyect .proyect-info .date {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.proyect h2 {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
}
.proyect .owner {
  display: inline-table;
}
.proyect .owner div {
  display: table-cell;
  vertical-align: middle;
}
.proyect .owner img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.proyect .owner h3 {
  color: #474747;
  margin: 0;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
  font-style: italic;
}
.proyect .progress {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 15px;
}
.proyect .legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.proyect .legend span {
  vertical-align: middle;
}
.proyect .legend i {
  font-size: 18px;
  vertical-align: middle;
}
.proyect .legend p {
  font-size: 12px;
  font-weight: normal;
  color: #474747;
  margin: 0;
  line-height: 12px;
}
.proyect .description {
  color: #474747;
  text-align: justify;
  font-size: 10px;
}
.proyect .description p {
  margin: 0;
}
.proyect .description .btn {
  background: #003362;
  margin-top: 20px;
}
.proyect .description .btn-container {
  text-align: center;
}
form label {
  color: #6b6b6b;
}
form .sub-title {
  background: #ccc;
  border: solid 1px #666;
  padding: 5px;
}
.btn-orange {
  background: #f67336;
  color: #fff;
}
.btn-blue {
  background: #003362;
  color: #fff;
}
.btn-blue:hover {
  color: #fff;
}
.carousel-inner img {
  width: 100%;
  height: 784px !important;
}
@media (max-width: 992px) {
  .carousel-inner img {
    height: 620px !important;
  }
  footer {
    text-align: center;
  }
  footer ul {
    padding: 0;
  }
}
@media (max-width: 1091px) {
  header.header .logo {
    width: 140px;
  }
}
@media (max-width: 768px) {
  .carousel-inner img {
    height: 415px !important;
  }
  .proyect .proyect-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 450px) {
  .carousel-inner img {
    height: 310px !important;
  }
}
.aviso-privacidad,
.terminos-condiciones {
  margin-bottom: 20px;
}
.aviso-privacidad h1,
.terminos-condiciones h1,
.aviso-privacidad h2,
.terminos-condiciones h2,
.aviso-privacidad h3,
.terminos-condiciones h3 {
  text-transform: uppercase;
}
.aviso-privacidad h1,
.terminos-condiciones h1 {
  font-size: 25px;
  color: #003362;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.aviso-privacidad h2,
.terminos-condiciones h2 {
  color: #f67336;
  font-weight: bold;
  font-size: 20px;
}
.aviso-privacidad h3,
.terminos-condiciones h3 {
  color: #003362;
  font-weight: bold;
  font-size: 14px;
}
.aviso-privacidad p,
.terminos-condiciones p {
  color: #003362;
  font-size: 14px;
}
.aviso-privacidad p.bold,
.terminos-condiciones p.bold {
  font-weight: bold;
}
.aviso-privacidad ul,
.terminos-condiciones ul {
  color: #003362;
  font-size: 14px;
}
@media (min-width: 992px) {
  .terminos-condiciones,
  .aviso-privacidad {
    width: 855px;
  }
}
.inicio .content-wrapper {
  text-align: center;
  padding-top: 100px;
}
.inicio .logo-big {
  width: 440px;
  margin-bottom: 70px;
  max-width: 100%;
}
.inicio .squares .background-blue,
.inicio .squares .background-orange {
  font-size: 16px;
  -webkit-border-radius: 3 pxF;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
.inicio .squares .background-blue a,
.inicio .squares .background-orange a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
}
.inicio .squares .background-blue p,
.inicio .squares .background-orange p {
  margin: 0;
}
.inicio .squares .background-blue:after,
.inicio .squares .background-orange:after {
  content: '';
  position: absolute;
  width: 500%;
  top: 50%;
  height: 12px;
  margin-top: -6px;
}
.inicio .background-orange {
  margin-bottom: 30px;
}
.inicio .background-orange:after {
  left: 100%;
  background: #003362;
}
.inicio .background-blue:after {
  right: 100%;
  background: #f67336;
}
.inicio .subscribe {
  margin-top: 40px;
  text-align: center;
}
.inicio .subscribe p {
  width: 60%;
  font-size: 20px;
  margin: 0 auto 10px;
}
.inicio .subscribe input {
  width: 430px !important;
}
.inicio .subscribe .input-group-addon {
  padding: 0;
  background: #f67336;
  border-color: #f67336;
}
.inicio .subscribe button {
  border-radius: 0;
  background: #003362;
}
.inicio .proyects {
  margin-top: 50px;
}
.inicio .proyects > h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 40px;
}
.inicio .como-funciona h1 {
  font-weight: bold;
  margin: 40px 0;
}
.inicio .como-funciona p {
  font-size: 15px;
}
.inicio .como-funciona hr {
  margin: 40px;
  border-top: solid 20px #f67336;
}
.inicio .como-funciona .como-funciona-img {
  max-width: 100%;
}
@media (max-width: 992px) {
  .inicio .background-blue:after,
  .inicio .background-orange:after {
    display: none;
  }
  .inicio .subscribe input {
    width: 100% !important;
  }
}
.corredores .carousel-inner {
  height: 668px;
  overflow: hidden;
}
.corredores .carousel-inner img {
  margin-top: -116px;
}
.corredores .background-blue {
  text-align: center;
  margin-top: 70px;
}
.corredores .background-blue h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.corredores .background-blue p {
  font-size: 16px;
  max-width: 80%;
  margin: 20px auto 0;
}
.corredores .container.steps {
  margin-top: 40px;
  margin-bottom: 40px;
}
.corredores .container.steps ul {
  list-style: none;
  padding: 0;
}
.corredores .container.steps ul li {
  position: relative;
  padding-left: 90px;
}
.corredores .container.steps ul li .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  padding: 0 10px;
  text-align: center;
}
.corredores .container.steps ul li h3,
.corredores .container.steps ul li p {
  font-size: 15px;
}
.corredores .container.steps ul li p {
  font-weight: 600;
  color: #244b7c;
}
.corredores .container.steps ul li h3 {
  font-weight: bold;
}
.corredores .advantages {
  display: inline-block;
  text-align: left;
}
.corredores .background-orange {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}
.corredores .background-orange h2 {
  font-size: 24px;
  font-weight: bold;
}
.corredores .background-orange ul {
  list-style: square;
  padding-left: 0;
  margin-left: 30px;
}
.corredores .upload-project {
  background: #003362;
  padding: 20px;
  font-size: 30px;
  color: #fff;
  margin: 50px auto;
  display: block;
  width: 290px;
  text-align: center;
  font-weight: bold;
}
@media (min-width: 992px) {
  .corredores .container.steps {
    width: 800px;
  }
}
@media (max-width: 992px) {
  .corredores .carousel-inner {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .corredores .carousel-inner {
    height: 300px;
  }
}
@media (max-width: 450px) {
  .corredores .carousel-inner {
    height: 194px;
  }
}
.proyectos p.title {
  font-size: 16px;
  font-weight: 600;
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}
.proyectos .page-wrapper {
  margin: 40px 0;
}
.proyectos .nav-tabs {
  border-bottom: 0;
}
.proyectos .nav-tabs a {
  font-size: 20px;
  color: #003362;
  font-weight: 600;
  border: 1px solid #cccccc !important;
  border-radius: 5px;
  text-align: center;
}
.proyectos .nav-tabs li.active a {
  background-color: #f67336;
  border-color: #f67336 !important;
  color: #ffffff;
}
.proyectos .tab-content {
  padding: 20px 0;
}
.proyectos .filter {
  margin-bottom: 30px;
}
.proyectos .filter label {
  padding-left: 20px;
  position: relative;
}
.proyectos .filter span.target {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 18px;
  margin-right: 5px;
  font-size: 18px;
  cursor: pointer;
}
.proyectos .filter input[type='checkbox'] {
  display: none;
  position: relative;
  left: -999em;
  /* hide the real checkbox */
}
.proyectos .filter input[type='checkbox'] + span.target:after {
  content: "\f096";
  /* In fontawesome, is an open square (fa-square-o) */
}
.proyectos .filter input[type='checkbox']:checked + span.target:after {
  content: "\f14a";
  /* fontawesome checked box (fa-check-square) */
}
@media (max-width: 992px) {
  .proyectos .filter {
    overflow: hidden;
  }
  .proyectos .filter .blue-checkbox {
    float: left;
    margin-left: 20px;
  }
}
@media (max-width: 486px) {
  .proyectos .filter .blue-checkbox {
    float: none;
  }
}
@media (max-width: 991px) {
  .proyectos .nav-tabs li {
    margin-bottom: 10px;
  }
}
.acerca-nosotros h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0 40px;
}
.acerca-nosotros .background-blue {
  text-align: center;
}
.acerca-nosotros .background-blue h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.acerca-nosotros .background-blue p {
  font-size: 16px;
  width: 80%;
  margin: 30px auto 0;
}
.acerca-nosotros .mision-vision {
  background: url('../img/acerca/berriez.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  height: 395px;
  padding-top: 40px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.acerca-nosotros .mision-vision h2 {
  color: #f67336;
  font-size: 30px;
  font-weight: bold;
}
.acerca-nosotros .mision-vision p {
  color: #fff;
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
}
.acerca-nosotros .equipo {
  text-align: center;
}
.acerca-nosotros .equipo h2 {
  font-size: 30px;
  color: #f67336;
}
.acerca-nosotros .equipo h4 {
  font-size: 16px;
  color: #003362;
}
.acerca-nosotros .equipo > .row {
  padding: 0 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.acerca-nosotros .equipo > .row .background-orange {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.acerca-nosotros .equipo > .row img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.acerca-nosotros .equipo > .row .info {
  color: #fff;
  text-align: left;
}
.acerca-nosotros .equipo > .row .info h3 {
  position: relative;
  font-weight: bold;
  padding-bottom: 20px;
}
.acerca-nosotros .equipo > .row .info h3:after {
  position: absolute;
  bottom: 0;
  content: ' ';
  width: 160%;
  height: 2px;
  background: #fff;
  left: 0;
  margin-left: -60%;
}
.acerca-nosotros .equipo > .row .info h4 {
  color: inherit;
  font-style: italic;
  margin-bottom: 60px;
}
.acerca-nosotros .equipo > .row .info p {
  margin: 0;
}
.acerca-nosotros .equipo > .row .img-container {
  z-index: 2;
}
.acerca-nosotros .equipo > .row .info-container {
  z-index: 1%;
}
.inicio-sesion {
  margin-bottom: 40px;
}
.inicio-sesion h1 {
  text-align: center;
}
.inicio-sesion form {
  margin-bottom: 20px;
}
.inicio-sesion form .password {
  margin-bottom: 0;
}
.inicio-sesion form .links {
  margin: 5px 0;
  overflow: hidden;
}
.inicio-sesion form .links .register {
  float: left;
}
.inicio-sesion form .links .remember-password {
  float: right;
}
.inicio-sesion img {
  width: 100%;
  margin-bottom: 10px;
}
.inicio-sesion .img-container {
  text-align: center;
}
@media (max-width: 992px) {
  .inicio-sesion img {
    width: 60%;
  }
}
.registro {
  margin-bottom: 40px;
}
.registro h1 {
  text-align: center;
}
.registro form {
  margin-bottom: 20px;
}
.registro img {
  width: 100%;
  margin-bottom: 10px;
}
.registro .img-container {
  text-align: center;
}
@media (max-width: 992px) {
  .registro img {
    width: 60%;
  }
}
.preguntas-frecuentes h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.preguntas-frecuentes .nav-tabs {
  text-align: center;
  border: 0;
}
.preguntas-frecuentes .nav-tabs a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.preguntas-frecuentes .nav-tabs a:hover,
.preguntas-frecuentes .nav-tabs a:focus {
  color: #003362;
}
.preguntas-frecuentes .tab-content {
  padding: 20px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .preguntas-frecuentes .nav-tabs a {
    font-size: 14px;
  }
}
.contacto {
  margin-bottom: 40px;
}
.contacto .background-blue {
  text-align: center;
  margin-bottom: 40px;
}
.contacto .background-blue h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.contacto .background-blue p {
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}
.contacto ul {
  list-style: none;
}
.contacto ul li {
  position: relative;
  padding-left: 90px;
  margin-bottom: 10px;
  min-height: 35px;
}
.contacto ul .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  vertical-align: middle;
  background: #003362;
  padding: 5px;
  text-align: right;
}
.contacto ul p {
  margin: 0;
  font-size: 16px;
}
.contacto ul h4,
.contacto ul h5 {
  font-weight: 600;
  margin: 0;
}
.contacto .google-map-container {
  height: 280px;
  margin-bottom: 20px;
}
.project-details {
  max-width: 1000px;
  margin-bottom: 40px;
}
.project-details .no-padding {
  padding: 0;
}
.project-details .user-detail {
  font-size: 15px;
}
.project-details .user-detail span {
  margin-right: 10px;
}
.project-details .project-info {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.project-details .project-info .project-img {
  width: 100%;
}
.project-details .project-info h3 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.project-details .project-info .end-date,
.project-details .project-info .required {
  font-size: 20px;
  line-height: 20px;
}
.project-details .project-info .date,
.project-details .project-info .collected {
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
}
.project-details .project-info .end-date {
  margin-top: 10px;
}
.project-details .project-info .date {
  margin-bottom: 20px;
}
.project-details .project-info .collected {
  font-weight: bold;
}
.project-details .project-info .progress {
  margin-top: 5px;
  margin-bottom: 25px;
  height: 15px;
}
.project-details .project-data {
  text-align: center;
}
.project-details .project-data .data {
  display: inline-block;
  font-size: 20px;
  margin: 10px;
}
.project-details .project-data .data .data-img {
  width: 27px;
  vertical-align: middle;
}
.project-details .project-data .data .users {
  width: 40px;
}
.project-details .project-data .data b {
  vertical-align: middle;
}
.project-details .project-meta {
  font-size: 14px;
  margin-bottom: 20px;
}
.project-details .project-meta .prominent-project {
  margin-right: 10px;
}
.project-details .project-meta .prominent-project.hightlight i {
  color: #cccc00;
}
.project-details .project-meta .share {
  text-align: center;
}
.project-details .project-meta .share span {
  margin-right: 20px;
}
.project-details .project-meta .share span,
.project-details .project-meta .share i {
  vertical-align: middle;
}
.project-details .project-meta .share img {
  width: 20px;
}
.project-details .project-meta .share a {
  margin-right: 5px;
  text-decoration: none !important;
}
.project-details .project-meta .share i {
  font-size: 22px;
}
.project-details .project-video img {
  width: 100%;
}
.project-details .project-description {
  font-size: 15px;
}
.project-details .project-description h4 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
.project-details .project-description img {
  width: 100%;
  margin: 40px 0;
}
@media (max-width: 992px) {
  .project-details .project-info h3 {
    font-size: 18px;
    margin-top: 5px;
  }
  .project-details .project-info .end-date,
  .project-details .project-info .required {
    font-size: 16px;
    line-height: 16px;
  }
  .project-details .project-info .date,
  .project-details .project-info .collected {
    font-size: 18px;
    line-height: 18px;
  }
  .project-details .project-info .end-date {
    margin-top: 10px;
  }
  .project-details .project-info .date {
    margin-bottom: 10px;
  }
  .project-details .project-info .progress {
    margin-bottom: 10px;
  }
}
.project-badge {
  position: relative;
}
.project-badge:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
.project-badge.project-sucessful:after {
  background-image: url('../img/badges/sucessful_en.svg');
}
.project-badge.project-new:after {
  background-image: url('../img/badges/new_en.svg');
}
.project-badge.project-featured:after {
  background-image: url('../img/badges/featured_en.svg');
}
.project-badge.es.project-sucessful:after {
  background-image: url('../img/badges/sucessful_es.svg');
}
.project-badge.es.project-new:after {
  background-image: url('../img/badges/new_es.svg');
}
.project-badge.es.project-featured:after {
  background-image: url('../img/badges/featured_es.svg');
}
.sube_proyecto {
  margin-bottom: 40px;
}
.sube_proyecto h4 {
  border: solid 1px #ccc;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  color: #333;
  background: #f5f5f5;
  margin-bottom: 0;
  border-bottom: 0;
}
.sube_proyecto h4 .right-title {
  float: right;
  font-size: 14px;
  line-height: 18px;
}
.sube_proyecto fieldset {
  border: solid 1px #ccc;
  padding: 10px;
}
.sube_proyecto .pager.wizard a {
  background: #f67336;
  color: #fff;
}
.sube_proyecto .pager.wizard .finish button {
  float: right;
}
.sube_proyecto .btn-blue {
  background: #003362;
  color: #fff;
}
.sube_proyecto label {
  color: #003362;
}
.sube_proyecto .form-group {
  display: block;
  margin-top: 10px;
}
.sube_proyecto .rewards-form {
  margin-bottom: 30px;
}
.sube_proyecto .add-reward-container {
  padding-top: 20px;
  text-align: center;
}
.sube_proyecto .note-btn {
  background: #f67336;
  color: #fff;
}
.sube_proyecto .note-btn i {
  color: #fff;
}
.sube_proyecto .note-btn .note-recent-color {
  background: transparent !important;
}
@media (max-width: 768px) {
  .sube_proyecto h4 .right-title {
    float: none;
    display: block;
    margin-top: 5px;
  }
}
.rewards .reward {
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 30px;
}
.rewards .reward .section {
  margin-bottom: 20px;
}
.rewards .reward h2 {
  font-size: 15px;
  margin: 0;
  color: #f67336;
}
.rewards .reward p {
  margin: 0;
}
.rewards .reward .details {
  text-align: center;
}
.rewards .reward .btn-orange {
  width: 100%;
}
.rewards .reward .summary {
  font-size: 12px;
}
.dashboard-header .logged-user {
  float: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin-left: 20px;
}
.dashboard-header .btn-orange {
  float: right;
}
.dashboard .stat-container {
  margin-top: 60px;
  margin-bottom: 60px;
}
.dashboard .dashboard-stat {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 4px;
}
.dashboard .dashboard-stat.orange {
  background: #f67336;
}
.dashboard .dashboard-stat.blue {
  background-color: #003362;
}
.dashboard .dashboard-stat .visual {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  padding-left: 15px;
  font-size: 35px;
  line-height: 35px;
  padding-top: 35px;
  margin-bottom: 40px;
}
.dashboard .dashboard-stat .visual i {
  color: #fff;
  opacity: .4;
  filter: alpha(opacity=40);
  margin-left: -35px;
  font-size: 110px;
  line-height: 110px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.dashboard .dashboard-stat .details {
  position: absolute;
  right: 15px;
  padding-right: 15px;
}
.dashboard .dashboard-stat .details .number {
  color: #fff;
  padding-top: 25px;
  text-align: right;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-weight: 300;
}
.dashboard .dashboard-stat .details .number .text {
  font-size: 16px;
  font-weight: normal;
}
.dashboard .dashboard-stat .details .desc {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  text-align: right;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 300;
}
.configuracion {
  margin-bottom: 40px;
}
.configuracion h1 {
  margin-top: 30px;
}
.configuracion .btn-container {
  text-align: center;
  margin: 20px 0;
}
.configuracion #informacion_complementaria section {
  margin-top: 10px;
}
.configuracion h4 {
  border: solid 1px #ccc;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  color: #333;
  background: #f5f5f5;
  margin-bottom: 0;
  border-bottom: 0;
}
.configuracion h4 .right-title {
  float: right;
  font-size: 14px;
  line-height: 18px;
}
.configuracion fieldset {
  border: solid 1px #ccc;
  padding: 10px;
}
.proyectos-creados {
  font-size: 15px;
  margin-bottom: 40px;
}
.proyectos-creados h1 {
  text-align: center;
  margin-bottom: 40px;
}
.proyectos-creados .no-records {
  padding-left: 20px;
  margin-bottom: 40px;
}
.proyectos-creados .btn-container {
  text-align: center;
}
.proyectos-creados .proyects {
  margin: 40px auto;
  max-width: 1000px;
}
.proyectos-impulsados {
  font-size: 15px;
  margin-bottom: 40px;
}
.proyectos-impulsados h1 {
  text-align: center;
  margin-bottom: 40px;
}
.proyectos-impulsados .no-records {
  padding-left: 20px;
  margin-bottom: 40px;
}
.proyectos-impulsados .btn-container {
  text-align: center;
}
.proyectos-impulsados .proyects {
  margin: 40px 0;
}
.proyectos-impulsados .proyects .proyect {
  cursor: pointer;
}
.proyectos-impulsados .proyects .btn-orange {
  margin: 15px 0;
}
.proyectos-impulsados .modal-body {
  font-size: 15px;
}
.proyectos-impulsados .modal-body h2 {
  font-size: 22px;
  text-align: center;
  margin-top: 0;
}
.proyectos-impulsados .modal-body p {
  text-align: center;
}
.proyectos-impulsados .modal-body p b {
  font-size: 20px;
}
.proyectos-impulsados .modal-body h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.impulsores h1 {
  text-align: center;
  margin-bottom: 25px;
}
.impulsores img {
  width: 100%;
  margin-bottom: 30px;
}
.impulsores p {
  font-size: 15px;
  margin-bottom: 25px;
}
.impulsores .btn-container {
  text-align: center;
  margin: 40px 0;
}
.impulsores a {
  font-size: 30px;
}
.metodos-pagos .panel-title .protegido {
  color: #666;
  font-size: 12px;
  margin-left: 20px;
}
.metodos-pagos .panel-title .img-container {
  float: right;
}
.metodos-pagos .panel-title .img-container img {
  height: 20px;
}
.metodos-pagos .panel-title .img-container .visa {
  height: 16px;
}
.metodos-pagos .panel-title .img-container .banorte {
  height: 16px;
  width: 100px;
}
.metodos-pagos .fecha-vencimiento label {
  display: block;
}
.metodos-pagos .form-pago {
  padding-top: 40px;
}
.metodos-pagos .form-pago .descripcion-recompensa {
  max-height: 50px;
  overflow: auto;
  margin-bottom: 30px;
}
.metodos-pagos .form-pago .row {
  margin-bottom: 10px;
}
.metodos-pagos .form-pago .monto-total {
  font-size: 18px;
}
.metodos-pagos .form-pago h4 {
  margin-top: 0;
  border: solid 1px #ccc;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  color: #333;
  background: #f5f5f5;
  margin-bottom: 0;
  border-bottom: 0;
}
.metodos-pagos .form-pago h4 .right-title {
  float: right;
  font-size: 14px;
  line-height: 18px;
}
.metodos-pagos .form-pago fieldset {
  border: solid 1px #ccc;
  padding: 10px;
}
.metodos-pagos .btn-blue {
  width: 100%;
  margin-top: 20px;
}
.metodos-pagos .btn-blue,
.metodos-pagos .btn-orange {
  font-size: 20px;
  font-weight: bold;
}
.metodos-pagos .btn-blue:hover,
.metodos-pagos .btn-orange:hover,
.metodos-pagos .btn-blue:focus,
.metodos-pagos .btn-orange:focus {
  color: #fff !important;
}
@media (max-width: 768px) {
  .metodos-pagos .panel-title .protegido {
    display: block;
    margin-top: 5px;
    margin-left: 0 !important;
  }
}
@media (max-width: 500px) {
  .metodos-pagos .btn-blue,
  .metodos-pagos .btn-orange {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .metodos-pagos .panel-title .img-container {
    display: block;
    float: none !important;
    margin-top: 5px;
    margin-left: 0 !important;
  }
  .metodos-pagos .btn-blue,
  .metodos-pagos .btn-orange {
    font-size: 12px;
  }
}
.project-box-height {
  height: 100px;
}


/* custom loader styles */
.custom-loading.dw-loading {
  text-align: center;
}

.custom-loading.dw-loading.dw-loading-overlay {
  background-color: rgba(255, 255, 255, .7);
  z-index: 9999;
}

.custom-loading.dw-loading > .dw-loading-body > .dw-loading-text {
  font-size: 30px;
  top: 45px;
}