.project-badge {
  position: relative;
}
.project-badge:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
.project-badge.project-sucessful:after {
  background-image: url('../img/badges/sucessful_en.svg');
}
.project-badge.project-new:after {
  background-image: url('../img/badges/new_en.svg');
}
.project-badge.project-featured:after {
  background-image: url('../img/badges/featured_en.svg');
}
.project-badge.es.project-sucessful:after {
  background-image: url('../img/badges/sucessful_es.svg');
}
.project-badge.es.project-new:after {
  background-image: url('../img/badges/new_es.svg');
}
.project-badge.es.project-featured:after {
  background-image: url('../img/badges/featured_es.svg');
}
