.project-badge {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.project-sucessful:after {
    background-image: url('../img/badges/sucessful_en.svg');
  }

  &.project-new:after {
    background-image: url('../img/badges/new_en.svg');
  }

  &.project-featured:after {
    background-image: url('../img/badges/featured_en.svg');
  }

  &.es {
    &.project-sucessful:after {
      background-image: url('../img/badges/sucessful_es.svg');
    }

    &.project-new:after {
      background-image: url('../img/badges/new_es.svg');
    }

    &.project-featured:after {
      background-image: url('../img/badges/featured_es.svg');
    }
  }
}