.border-radius(@radius:5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow() {
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  color: @color-blue;
  overflow-x: hidden;
}

header.header {
  padding: 40px 20px;

  .logo {
    width: 226px;
  }

  > .container {
    position: relative;
  }

  nav {
    background: #fff;
    border: 0;

    li {
      position: inherit;
      margin-right: 10px;

      &.active {
        > a {
          border-bottom: solid 2px @color-blue;
          background: transparent !important;
        }
      }

      &:hover > a {
        border-bottom: solid 2px @color-orange;
      }
    }

    a {
      color: @color-blue !important;
      font-weight: bold;
      font-size: 14px;
      padding: 5px 0 0;
    }

    .dropdown {
      position: absolute;
      top: -25px;
      right: 0;

      button {
        background: transparent !important;
        border: 0;
        font-size: 10px;
        color: @color-blue !important;
        padding: 0;
        font-weight: bold;
        box-shadow: none !important;
      }

      li {
        font-size: 10px;
        text-align: center;
        position: relative;

        &.dropdown-header {
          font-weight: bold;
          padding-left: 30px;
          padding-right: 10px;
        }

        a {
          padding-left: 30px;
          padding-right: 10px;
          font-size: 12px;
        }
      }
    }

    .flag {
      width: 18px;
      height: 12px;
      background: url(../img/flags.png);
      position: absolute;
      top: 4px;
      left: 5px;

      &.mexico {
        background-position: 0 0;
      }

      &.usa {
        background-position: 0 -12px;
      }

      &.euro {
        background-position: 0 -24px;
      }
    }
  }

  .input-group-addon {
    background: #fff;
    border: 0;
    padding: 0;
  }

  .search-container {
    padding: 5px 0 0;
    margin: 0;

    i {
      color: @color-blue;
    }

    input {
      padding-left: 0;
      margin-left: 10px;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      height: 20px;
      width: 120px !important;
      border-bottom: solid 1px @color-blue;
    }
  }
}

footer {
  font-size: 16px;

  .center {
    text-align: center;

    a {
      display: block;
      margin-bottom: 10px;
    }

    ul {
      display: inline-block;
      padding: 0;
    }
  }

  ul {
    list-style: none;

    &.social {
      li {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  a {
    color: #000;
    font-weight: normal;

    &.blue {
      color: @color-blue;
      font-weight: bold;
    }

  }

  li {
    color: @color-blue;
    font-weight: bold;
  }

  .copyright {
    text-align: center;
    color: #000;
    margin-top: 30px;
  }
}

.background-blue,
.background-orange {
  color: #fff;
  padding: 20px;
}

.background-blue {
  background: @color-blue;
}

.background-orange {
  background: @color-orange;
}

.proyect {
  padding: 5px;
  .border-radius();
  .box-shadow();
  border: solid 1px #ccc;
  margin-bottom: 20px;
  text-align: center;

  .proyect-img {
    width: 100%;
    height: 200px;
    .border-radius();
  }

  .proyect-info {
    padding: 0 5px;

    h4 {
      color: #474747;
      margin: 0;
      text-align: center;
      font-size: 12px;
      margin-top: 20px;
    }

    .amount {
      color: #000;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }

    .date {
      color: #000;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
    }
  }

  h2 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
  }

  .owner {
    display: inline-table;

    div {
      display: table-cell;
      vertical-align: middle;
    }

    img {
      width: 40px;
      height: 40px;
      .border-radius();
    }

    h3 {
      color: #474747;
      margin: 0;
      text-align: left;
      font-size: 16px;
      padding-left: 10px;
      font-style: italic;
    }
  }

  .progress {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 15px;
  }

  .legend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

    span {
      vertical-align: middle;
    }

    i {
      font-size: 18px;
      vertical-align: middle;
    }

    p {
      font-size: 12px;
      font-weight: normal;
      color: #474747;
      margin: 0;
      line-height: 12px;
    }
  }

  .description {
    color: #474747;
    text-align: justify;
    font-size: 10px;

    p {
      margin: 0;
    }

    .btn {
      background: @color-blue;
      margin-top: 20px;
    }

    .btn-container {
      text-align: center;
    }
  }
}

form {

  label {
    color: #6b6b6b;
  }

  .sub-title {
    background: #ccc;
    border: solid 1px #666;
    padding: 5px;
  }
}

.btn-orange {
  background: @color-orange;
  color: #fff;
}

.btn-blue {
  background: @color-blue;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.carousel-inner {
  img {
    width: 100%;
    height: 784px !important;
  }
}

@media (max-width: 992px) {
  .carousel-inner {
    img {
      height: 620px !important;
    }
  }

  footer {
    text-align: center;

    ul {
      padding: 0;
    }
  }
}

@media (max-width: 1091px) {
  header.header {
    .logo {
      width: 140px;
    }
  }

}

@media (max-width: 768px) {

  .carousel-inner {
    img {
      height: 415px !important;
    }
  }

  .proyect .proyect-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {

  .carousel-inner {
    img {
      height: 310px !important;
    }
  }
}