.configuracion {
  margin-bottom: 40px;
}
.configuracion h1 {
  margin-top: 30px;
}
.configuracion .btn-container {
  text-align: center;
  margin: 20px 0;
}
.configuracion #informacion_complementaria section {
  margin-top: 10px;
}
.configuracion h4 {
  border: solid 1px #ccc;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  color: #333;
  background: #f5f5f5;
  margin-bottom: 0;
  border-bottom: 0;
}
.configuracion h4 .right-title {
  float: right;
  font-size: 14px;
  line-height: 18px;
}
.configuracion fieldset {
  border: solid 1px #ccc;
  padding: 10px;
}
