.configuracion {
  margin-bottom: 40px;

  h1 {
    margin-top: 30px;
  }

  .btn-container {
    text-align: center;
    margin: 20px 0;
  }

  #informacion_complementaria {
    section {
      margin-top: 10px;
    }
  }

  h4 {
    border: solid 1px #ccc;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    color: #333;
    background: #f5f5f5;
    margin-bottom: 0;
    border-bottom: 0;

    .right-title {
      float: right;
      font-size: 14px;
      line-height: 18px;
    }
  }

  fieldset {
    border: solid 1px #ccc;
    padding: 10px;
  }
}