.contacto {
  margin-bottom: 40px;
}
.contacto .background-blue {
  text-align: center;
  margin-bottom: 40px;
}
.contacto .background-blue h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.contacto .background-blue p {
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}
.contacto ul {
  list-style: none;
}
.contacto ul li {
  position: relative;
  padding-left: 70px;
}
.contacto ul .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
}
