.contacto {
  margin-bottom: 40px;

  .background-blue {
    text-align: center;
    margin-bottom: 40px;

    h2 {
      font-size: 25px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      width: 80%;
      margin: 0 auto;
    }
  }

  ul {
    list-style: none;

    li {
      position: relative;
      padding-left: 90px;
      margin-bottom: 10px;
      min-height: 35px;
    }

    .img-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      vertical-align: middle;
      background: @color-blue;
      padding: 5px;
      text-align: right;
    }

    p {
      margin: 0;
      font-size: 16px;
    }

    h4, h5 {
      font-weight: 600;
      margin: 0;
    }
  }

  .google-map-container {
    height: 280px;
    margin-bottom: 20px;
  }
}