.corredores .background-blue {
  text-align: center;
}
.corredores .background-blue h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.corredores .background-blue p {
  font-size: 16px;
  max-width: 80%;
  margin: 20px auto 0;
}
.corredores .container.steps {
  margin-top: 40px;
  margin-bottom: 40px;
}
.corredores .container.steps ul {
  list-style: none;
  padding: 0;
}
.corredores .container.steps ul li {
  position: relative;
  padding-left: 90px;
}
.corredores .container.steps ul li .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  padding: 0 10px;
  text-align: center;
}
.corredores .container.steps ul li h3,
.corredores .container.steps ul li p {
  font-size: 15px;
}
.corredores .container.steps ul li p {
  font-weight: 600;
  color: #244b7c;
}
.corredores .container.steps ul li h3 {
  font-weight: bold;
}
.corredores .advantages {
  display: inline-block;
  text-align: left;
}
.corredores .background-orange {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}
.corredores .background-orange h2 {
  font-size: 24px;
  font-weight: bold;
}
.corredores .background-orange ul {
  list-style: square;
  padding-left: 0;
  margin-left: 30px;
}
@media (min-width: 992px) {
  .corredores .container.steps {
    width: 800px;
  }
}
