.corredores {
  .carousel-inner {
    height: 668px;
    overflow: hidden;

    img {
      margin-top: -116px;
    }
  }

  .background-blue {
    text-align: center;
    margin-top: 70px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 16px;
      max-width: 80%;
      margin: 20px auto 0;
    }
  }

  .container.steps {
    margin-top: 40px;
    margin-bottom: 40px;

    ul {
      list-style: none;
      padding: 0;

      li {
        position: relative;
        padding-left: 90px;

        .img-container {
          position: absolute;
          top: 0;
          left: 0;
          width: 90px;
          padding: 0 10px;
          text-align: center;
        }

        h3, p {
          font-size: 15px;
        }

        p {
          font-weight: 600;
          color: #244b7c
        }

        h3 {
          font-weight: bold;
        }
      }
    }

  }

  .advantages {
    display: inline-block;
    text-align: left;
  }

  .background-orange {
    text-align: center;
    font-size: 17px;
    font-weight: 600;

    h2 {
      font-size: 24px;
      font-weight: bold;
    }

    ul {
      list-style: square;
      padding-left: 0;
      margin-left: 30px;
    }
  }

  .upload-project {
    background: @color-blue;
    padding: 20px;
    font-size: 30px;
    color: #fff;
    margin: 50px auto;
    display: block;
    width: 290px;
    text-align: center;
    font-weight: bold;
  }

  @media (min-width: 992px) {
    .container.steps {
      width: 800px;
    }
  }
}

@media (max-width: 992px) {
  .corredores .carousel-inner {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .corredores .carousel-inner {
    height: 300px;
  }
}

@media (max-width: 450px) {

  .corredores .carousel-inner {
    height: 194px;
  }
}