.dashboard .logged-user {
  float: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin-left: 20px;
}
.dashboard .btn-orange {
  float: right;
}
.dashboard .dashboard-stat {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 4px;
}
.dashboard .dashboard-stat.orange {
  background: #dfb200;
}
.dashboard .dashboard-stat .visual {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  padding-left: 15px;
  font-size: 35px;
  line-height: 35px;
  padding-top: 35px;
  margin-bottom: 40px;
}
.dashboard .dashboard-stat .visual i {
  color: #fff;
  opacity: .1;
  filter: alpha(opacity=10);
  margin-left: -35px;
  font-size: 110px;
  line-height: 110px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.dashboard .dashboard-stat .details {
  position: absolute;
  right: 15px;
  padding-right: 15px;
}
.dashboard .dashboard-stat .details .number {
  color: #fff;
  padding-top: 25px;
  text-align: right;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-weight: 300;
}
.dashboard .dashboard-stat .details .desc {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  text-align: right;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 300;
}
