.dashboard-header {
  .logged-user {
    float: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-left: 20px;
  }

  .btn-orange {
    float: right;
  }
}

.dashboard {
  .stat-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 4px;

    &.orange {
      background: @color-orange;
    }

    &.blue {
      background-color: @color-blue;
    }

    .visual {
      width: 80px;
      height: 80px;
      display: block;
      float: left;
      padding-left: 15px;
      font-size: 35px;
      line-height: 35px;
      padding-top: 35px;
      margin-bottom: 40px;

      i {
        color: #fff;
        opacity: .4;
        filter: alpha(opacity=40);
        margin-left: -35px;
        font-size: 110px;
        line-height: 110px;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
      }
    }

    .details {
      position: absolute;
      right: 15px;
      padding-right: 15px;

      .number {
        color: #fff;
        padding-top: 25px;
        text-align: right;
        font-size: 34px;
        line-height: 36px;
        letter-spacing: -1px;
        margin-bottom: 0;
        font-weight: 300;

        .text {
          font-size: 16px;
          font-weight: normal;
        }
      }

      .desc {
        color: #fff;
        opacity: 1;
        filter: alpha(opacity=100);
        text-align: right;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 300;
      }
    }
  }
}