.impulsores h1 {
  text-align: center;
  margin-bottom: 25px;
}
.impulsores img {
  width: 100%;
  margin-bottom: 30px;
}
.impulsores p {
  font-size: 15px;
  margin-bottom: 25px;
}
.impulsores .btn-container {
  text-align: center;
  margin: 40px 0;
}
.impulsores a {
  font-size: 30px;
}
