.impulsores {
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }

  img {
    width: 100%;
    margin-bottom: 30px;
  }

  p {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .btn-container{
    text-align: center;
    margin: 40px 0;
  }

  a{
    font-size: 30px;
  }
}