.inicio .content-wrapper {
  text-align: center;
  padding-top: 100px;
}
.inicio .logo-big {
  width: 440px;
  margin-bottom: 70px;
}
.inicio .background-blue,
.inicio .background-orange {
  font-size: 16px;
  -webkit-border-radius: 3 pxF;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.inicio .background-blue a,
.inicio .background-orange a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
}
.inicio .background-blue p,
.inicio .background-orange p {
  margin: 0;
}
.inicio .background-blue:after,
.inicio .background-orange:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 12px;
  margin-top: -18px;
}
.inicio .background-orange {
  margin-bottom: 30px;
}
.inicio .background-orange:after {
  right: -100%;
  margin-right: 15px;
}
