.inicio {
  .content-wrapper {
    text-align: center;
    padding-top: 100px;
  }

  .logo-big {
    width: 440px;
    margin-bottom: 70px;
    max-width: 100%;
  }

  .squares {
    .background-blue,
    .background-orange {
      font-size: 16px;
      -webkit-border-radius: 3 pxF;
      -moz-border-radius: 3px;
      border-radius: 3px;
      position: relative;

      a {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
        display: inline-block;
      }

      p {
        margin: 0;
      }

      &:after {
        content: '';
        position: absolute;
        width: 500%;
        top: 50%;
        height: 12px;
        margin-top: -6px;
      }
    }

  }

  .background-orange {
    margin-bottom: 30px;

    &:after {
      left: 100%;
      background: @color-blue;
    }
  }

  .background-blue {
    &:after {
      right: 100%;
      background: @color-orange;
    }
  }

  .subscribe {
    margin-top: 40px;
    text-align: center;

    p {
      width: 60%;
      font-size: 20px;
      margin: 0 auto 10px;
    }

    input {
      width: 430px !important;
    }

    .input-group-addon {
      padding: 0;
      background: @color-orange;
      border-color: @color-orange;
    }

    button {
      border-radius: 0;
      background: @color-blue;
    }
  }

  .proyects {
    > h2 {
      font-size: 36px;
      font-weight: bold;
      margin: 0 0 40px;
    }

    margin-top: 50px;
  }

  .como-funciona {
    h1 {
      font-weight: bold;
      margin: 40px 0;
    }
    p {
      font-size: 15px;
    }
    hr {
      margin: 40px;
      border-top: solid 20px @color-orange
    }

    .como-funciona-img {
      max-width: 100%;
    }
  }

}

@media (max-width: 992px) {
  .inicio {
    .background-blue,
    .background-orange {
      &:after {
        display: none;
      }
    }

    .subscribe {
      input {
        width: 100% !important;
      }
    }
  }
}