.inicio-sesion {
  margin-bottom: 40px;
}
.inicio-sesion h1 {
  text-align: center;
}
.inicio-sesion form {
  margin-bottom: 20px;
}
.inicio-sesion form .password {
  margin-bottom: 0;
}
.inicio-sesion form .links {
  margin: 5px 0;
  overflow: hidden;
}
.inicio-sesion form .links .register {
  float: left;
}
.inicio-sesion form .links .remember-password {
  float: right;
}
.inicio-sesion img {
  width: 100%;
  margin-bottom: 10px;
}
.inicio-sesion .img-container {
  text-align: center;
}
@media (max-width: 992px) {
  .inicio-sesion img {
    width: 60%;
  }
}
