.inicio-sesion {
  margin-bottom: 40px;

  h1 {
    text-align: center;
  }

  form {
    margin-bottom: 20px;

    .password {
      margin-bottom: 0;
    }

    .links {
      margin: 5px 0;
      overflow: hidden;

      .register {
        float: left;
      }

      .remember-password {
        float: right;
      }

    }
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }

  .img-container{
    text-align: center;
  }
}

@media(max-width: 992px){
  .inicio-sesion img{
    width: 60%;
  }
}
