.metodos-pagos {
  .panel-title {
    .protegido {
      color: #666;
      font-size: 12px;
      margin-left: 20px;
    }

    .img-container {
      float: right;

      img {
        height: 20px;
      }

      .visa {
        height: 16px;
      }

      .banorte {
        height: 16px;
        width: 100px;
      }
    }
  }

  .fecha-vencimiento {
    label {
      display: block;
    }
  }

  .form-pago {
    padding-top: 40px;

    .descripcion-recompensa {
      max-height: 50px;
      overflow: auto;
      margin-bottom: 30px;
    }

    .row {
      margin-bottom: 10px;
    }

    .monto-total {
      font-size: 18px;
    }

    h4 {
      margin-top: 0;
      border: solid 1px #ccc;
      border-radius: 5px 5px 0 0;
      padding: 10px;
      color: #333;
      background: #f5f5f5;
      margin-bottom: 0;
      border-bottom: 0;

      .right-title {
        float: right;
        font-size: 14px;
        line-height: 18px;
      }
    }

    fieldset {
      border: solid 1px #ccc;
      padding: 10px;
    }
  }

  .btn-blue {
    width: 100%;
    margin-top: 20px;
  }

  .btn-blue, .btn-orange {
    font-size: 20px;
    font-weight: bold;

    &:hover, &:focus {
      color: #fff !important;
    }
  }
}

@media (max-width: 768px) {
  .metodos-pagos {
    .panel-title {
      .protegido {
        display: block;
        margin-top: 5px;
        margin-left: 0 !important;
      }
    }
  }
}

@media (max-width: 500px) {
  .metodos-pagos {
    .btn-blue, .btn-orange {
      font-size: 16px;
    }
  }
}

@media (max-width: 400px) {
  .metodos-pagos {
    .panel-title {
      .img-container {
        display: block;
        float: none !important;
        margin-top: 5px;
        margin-left: 0 !important;
      }
    }

    .btn-blue, .btn-orange {
      font-size: 12px;
    }
  }
}