.metodos-pagos .panel-title .protegido {
  color: #666;
  font-size: 12px;
  margin-left: 20px;
}
.metodos-pagos .panel-title .img-container {
  float: right;
}
.metodos-pagos .panel-title .img-container img {
  height: 20px;
}
.metodos-pagos .panel-title .img-container .visa {
  height: 16px;
}
.metodos-pagos .panel-title .img-container .banorte {
  height: 16px;
  width: 100px;
}
.metodos-pagos .fecha-vencimiento label {
  display: block;
}
.metodos-pagos .form-pago {
  padding-top: 40px;
}
.metodos-pagos .form-pago .descripcion-recompensa {
  max-height: 50px;
  overflow: auto;
  margin-bottom: 30px;
}
.metodos-pagos .form-pago .row {
  margin-bottom: 10px;
}
.metodos-pagos .form-pago .monto-total {
  font-size: 18px;
}
.metodos-pagos .form-pago h4 {
  margin-top: 0;
  border: solid 1px #ccc;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  color: #333;
  background: #f5f5f5;
  margin-bottom: 0;
  border-bottom: 0;
}
.metodos-pagos .form-pago h4 .right-title {
  float: right;
  font-size: 14px;
  line-height: 18px;
}
.metodos-pagos .form-pago fieldset {
  border: solid 1px #ccc;
  padding: 10px;
}
.metodos-pagos .btn-blue {
  width: 100%;
  margin-top: 20px;
}
.metodos-pagos .btn-blue,
.metodos-pagos .btn-orange {
  font-size: 20px;
  font-weight: bold;
}
.metodos-pagos .btn-blue:hover,
.metodos-pagos .btn-orange:hover,
.metodos-pagos .btn-blue:focus,
.metodos-pagos .btn-orange:focus {
  color: #fff !important;
}
@media (max-width: 768px) {
  .metodos-pagos .panel-title .protegido {
    display: block;
    margin-top: 5px;
    margin-left: 0 !important;
  }
}
@media (max-width: 500px) {
  .metodos-pagos .btn-blue,
  .metodos-pagos .btn-orange {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .metodos-pagos .panel-title .img-container {
    display: block;
    float: none !important;
    margin-top: 5px;
    margin-left: 0 !important;
  }
  .metodos-pagos .btn-blue,
  .metodos-pagos .btn-orange {
    font-size: 12px;
  }
}
