.preguntas-frecuentes h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.preguntas-frecuentes .nav-tabs {
  text-align: center;
  border: 0;
}
.preguntas-frecuentes .nav-tabs a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
