.preguntas-frecuentes {

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .nav-tabs {
    text-align: center;
    border: 0;

    a {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      &:hover, &:focus {
        color: @color-blue;
      }
    }
  }

  .tab-content {
    padding: 20px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .preguntas-frecuentes {
    .nav-tabs {

      a {
        font-size: 14px;
      }
    }
  }

}