.project-details {
  max-width: 1000px;
  margin-bottom: 40px;

  .no-padding {
    padding: 0;
  }

  .user-detail {
    font-size: 15px;

    span {
      margin-right: 10px;
    }
  }

  .project-info {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 5px;

    .project-img {
      width: 100%;
    }

    h3 {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
    }

    .end-date,
    .required {
      font-size: 20px;
      line-height: 20px;
    }

    .date,
    .collected {
      font-size: 22px;
      line-height: 22px;
      font-weight: 600;
    }

    .end-date {
      margin-top: 10px;
    }

    .date {
      margin-bottom: 20px;
    }

    .collected {
      font-weight: bold;
    }

    .progress {
      margin-top: 5px;
      margin-bottom: 25px;
      height: 15px;
    }
  }

  .project-data {
    text-align: center;

    .data {
      display: inline-block;
      font-size: 20px;
      margin: 10px;

      .data-img {
        width: 27px;
        vertical-align: middle;
      }

      .users {
        width: 40px;
      }

      b {
        vertical-align: middle;
      }
    }
  }

  .project-meta {
    font-size: 14px;
    margin-bottom: 20px;

    .prominent-project {
      margin-right: 10px;

      &.hightlight {
        i {
          color: #cccc00;
        }
      }
    }

    .share {
      text-align: center;

      span {
        margin-right: 20px;
      }

      span, i {
        vertical-align: middle;
      }

      img {
        width: 20px;
      }

      a {
        margin-right: 5px;
        text-decoration: none !important;
      }

      i {
        font-size: 22px;
      }
    }
  }

  .project-video {
    img {
      width: 100%;
    }
  }

  .project-description {
    font-size: 15px;

    h4 {
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    img {
      width: 100%;
      margin: 40px 0;
    }
  }
}

@media (max-width: 992px) {
  .project-details {
    .project-info {

      h3 {
        font-size: 18px;
        margin-top: 5px;
      }

      .end-date,
      .required {
        font-size: 16px;
        line-height: 16px;
      }

      .date,
      .collected {
        font-size: 18px;
        line-height: 18px;
      }

      .end-date {
        margin-top: 10px;
      }

      .date {
        margin-bottom: 10px;
      }

      .progress {
        margin-bottom: 10px;
      }
    }
  }

}