.project-details {
  max-width: 1000px;
  margin-bottom: 40px;
}
.project-details .no-padding {
  padding: 0;
}
.project-details .user-detail {
  font-size: 15px;
}
.project-details .user-detail span {
  margin-right: 10px;
}
.project-details .project-info {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.project-details .project-info .project-img {
  width: 100%;
}
.project-details .project-info h3 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.project-details .project-info .end-date,
.project-details .project-info .required {
  font-size: 20px;
  line-height: 20px;
}
.project-details .project-info .date,
.project-details .project-info .collected {
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
}
.project-details .project-info .end-date {
  margin-top: 10px;
}
.project-details .project-info .date {
  margin-bottom: 20px;
}
.project-details .project-info .collected {
  font-weight: bold;
}
.project-details .project-info .progress {
  margin-top: 5px;
  margin-bottom: 25px;
  height: 15px;
}
.project-details .project-data {
  text-align: center;
}
.project-details .project-data .data {
  display: inline-block;
  font-size: 20px;
  margin: 10px;
}
.project-details .project-data .data .data-img {
  width: 27px;
  vertical-align: middle;
}
.project-details .project-data .data .users {
  width: 40px;
}
.project-details .project-data .data b {
  vertical-align: middle;
}
.project-details .project-meta {
  font-size: 14px;
  margin-bottom: 20px;
}
.project-details .project-meta .prominent-project {
  margin-right: 10px;
}
.project-details .project-meta .prominent-project.hightlight i {
  color: #cccc00;
}
.project-details .project-meta .share {
  text-align: center;
}
.project-details .project-meta .share span {
  margin-right: 20px;
}
.project-details .project-meta .share span,
.project-details .project-meta .share i {
  vertical-align: middle;
}
.project-details .project-meta .share img {
  width: 20px;
}
.project-details .project-meta .share a {
  margin-right: 5px;
  text-decoration: none !important;
}
.project-details .project-meta .share i {
  font-size: 22px;
}
.project-details .project-video img {
  width: 100%;
}
.project-details .project-description {
  font-size: 15px;
}
.project-details .project-description h4 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
.project-details .project-description img {
  width: 100%;
  margin: 40px 0;
}
@media (max-width: 992px) {
  .project-details .project-info h3 {
    font-size: 18px;
    margin-top: 5px;
  }
  .project-details .project-info .end-date,
  .project-details .project-info .required {
    font-size: 16px;
    line-height: 16px;
  }
  .project-details .project-info .date,
  .project-details .project-info .collected {
    font-size: 18px;
    line-height: 18px;
  }
  .project-details .project-info .end-date {
    margin-top: 10px;
  }
  .project-details .project-info .date {
    margin-bottom: 10px;
  }
  .project-details .project-info .progress {
    margin-bottom: 10px;
  }
}
