.proyectos-impulsados {
  font-size: 15px;
  margin-bottom: 40px;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  .no-records {
    padding-left: 20px;
    margin-bottom: 40px;
  }

  .btn-container {
    text-align: center;
  }

  .proyects {
    margin: 40px 0;

    .proyect {
      cursor: pointer;
    }

    .btn-orange {
      margin: 15px 0;
    }
  }

  .modal-body {
    font-size: 15px;

    h2 {
      font-size: 22px;
      text-align: center;
      margin-top: 0;
    }

    p {
      text-align: center;

      b {
        font-size: 20px;
      }
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }

  }
}