.proyectos p.title {
  font-size: 16px;
  font-weight: 600;
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}
.proyectos .page-wrapper {
  margin: 40px 0;
}
.proyectos .nav-tabs a {
  font-size: 20px;
}
