.proyectos-impulsados {
  font-size: 15px;
  margin-bottom: 40px;
}
.proyectos-impulsados h1 {
  text-align: center;
  margin-bottom: 40px;
}
.proyectos-impulsados .no-records {
  padding-left: 20px;
  margin-bottom: 40px;
}
.proyectos-impulsados .btn-container {
  text-align: center;
}
.proyectos-impulsados .proyects {
  margin: 40px 0;
}
.proyectos-impulsados .proyects .proyect {
  cursor: pointer;
}
.proyectos-impulsados .proyects .btn-orange {
  margin: 15px 0;
}
.proyectos-impulsados .modal-body {
  font-size: 15px;
}
.proyectos-impulsados .modal-body h2 {
  font-size: 22px;
  text-align: center;
  margin-top: 0;
}
.proyectos-impulsados .modal-body p {
  text-align: center;
}
.proyectos-impulsados .modal-body p b {
  font-size: 20px;
}
.proyectos-impulsados .modal-body h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
