.proyectos {
  p.title {
    font-size: 16px;
    font-weight: 600;
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
  }

  .page-wrapper {
    margin: 40px 0;
  }

  .nav-tabs {
    border-bottom: 0;

    a {
      font-size: 20px;
      color: @color-blue;
      font-weight: 600;
      border: 1px solid #cccccc !important;
      border-radius: 5px;
      text-align: center;
    }

    li.active a{
      background-color: @color-orange;
      border-color: @color-orange !important;
      color: #ffffff;
    }
  }

  .tab-content {
    padding: 20px 0;
  }

  .filter {
    margin-bottom: 30px;

    label {
      padding-left: 20px;
      position: relative;
    }

    span.target {
      font-family: FontAwesome;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 18px;
      margin-right: 5px;
      font-size: 18px;
      cursor: pointer;
    }

    input[type='checkbox'] {
      display: none;
      position: relative;
      left: -999em; /* hide the real checkbox */
    }

    input[type='checkbox'] + span.target:after {
      content: "\f096"; /* In fontawesome, is an open square (fa-square-o) */
    }
    input[type='checkbox']:checked + span.target:after {
      content: "\f14a"; /* fontawesome checked box (fa-check-square) */
    }

  }
}

@media (max-width: 992px) {
  .proyectos {
    .filter {
      overflow: hidden;

      .blue-checkbox {
        float: left;
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 486px){
  .proyectos .filter .blue-checkbox{
    float: none;
  }
}

@media (max-width: 991px){
  .proyectos .nav-tabs li{
    margin-bottom: 10px;
  }
}