.proyectos-creados {
  font-size: 15px;
  margin-bottom: 40px;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  .no-records {
    padding-left: 20px;
    margin-bottom: 40px;
  }

  .btn-container {
    text-align: center;
  }

  .proyects {
    margin: 40px auto;

    max-width: 1000px;
  }
}