.proyectos-creados {
  font-size: 15px;
  margin-bottom: 40px;
}
.proyectos-creados h1 {
  text-align: center;
  margin-bottom: 40px;
}
.proyectos-creados .no-records {
  padding-left: 20px;
  margin-bottom: 40px;
}
.proyectos-creados .btn-container {
  text-align: center;
}
.proyectos-creados .proyects {
  margin: 40px auto;
  max-width: 1000px;
}
