.registro {
  margin-bottom: 40px;

  h1 {
    text-align: center;
  }

  form {
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }

  .img-container{
    text-align: center;
  }
}
@media(max-width: 992px){
  .registro img{
    width: 60%;
  }
}
