.registro {
  margin-bottom: 40px;
}
.registro h1 {
  text-align: center;
}
.registro form {
  margin-bottom: 20px;
}
.registro img {
  width: 100%;
  margin-bottom: 10px;
}
.registro .img-container {
  text-align: center;
}
@media (max-width: 992px) {
  .registro img {
    width: 60%;
  }
}
