.rewards {

  .reward {
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 30px;

    .section {
      margin-bottom: 20px;
    }

    h2 {
      font-size: 15px;
      margin: 0;
      color: @color-orange
    }

    p {
      margin: 0;
    }

    .details {
      text-align: center;
    }

    .btn-orange {
      width: 100%;
    }

    .summary {
      font-size: 12px;
    }
  }
}