.sube_proyecto {
  margin-bottom: 40px;

  h4 {
    border: solid 1px #ccc;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    color: #333;
    background: #f5f5f5;
    margin-bottom: 0;
    border-bottom: 0;

    .right-title {
      float: right;
      font-size: 14px;
      line-height: 18px;
    }
  }

  fieldset {
    border: solid 1px #ccc;
    padding: 10px;
  }

  .pager.wizard {
    a {
      background: @color-orange;
      color: #fff;
    }

    .finish button {
      float: right;
    }
  }

  .btn-blue {
    background: @color-blue;
    color: #fff;
  }

  label {
    color: @color-blue;
  }

  .form-group {
    display: block;
    margin-top: 10px;
  }

  .rewards-form {
    margin-bottom: 30px;
  }

  .add-reward-container {
    padding-top: 20px;
    text-align: center;
  }

  .note-btn {
    background: @color-orange;
    color: #fff;

    i {
      color: #fff;
    }

    .note-recent-color {
      background: transparent !important;
    }
  }
}

@media (max-width: 768px) {
  .sube_proyecto {

    h4 {

      .right-title {
        float: none;
        display: block;
        margin-top: 5px;
      }
    }
  }
}