.aviso-privacidad, .terminos-condiciones {
  margin-bottom: 20px;

  h1, h2, h3 {
    text-transform: uppercase;
  }

  h1 {
    font-size: 25px;
    color: @color-blue;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h2 {
    color: @color-orange;
    font-weight: bold;
    font-size: 20px;
  }

  h3 {
    color: @color-blue;
    font-weight: bold;
    font-size: 14px;
  }

  p {
    color: @color-blue;
    font-size: 14px;

    &.bold {
      font-weight: bold;
    }
  }

  ul {
    color: @color-blue;
    font-size: 14px;
  }

}

@media (min-width: 992px) {
  .terminos-condiciones, .aviso-privacidad {
    width: 855px;
  }
}