<ng-header-loggeado></ng-header-loggeado>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">

    <section class="col-sm-1"></section>

    <section class="col-sm-10 how-work">
      <messages src="messages"></messages>

      <div class="wrapper-md">

        <h2 class="text-center font-bold" style="color: #FBD40C"> ¿C&oacute;mo Funciona Crowdei?</h2>

        <p class="text-justify">La plataforma de crowdei permite publicar proyectos de inversión privada de cualquier persona, empresa o asociación conocida como usuario proponente que busca apoyo

        financiero y que está dispuesto a devolver el recurso económico total aportado a sus inversores, más la proporción correspondiente acordada por los dividendos.</p>


        <p class="text-justify">Crowdei es un método alternativo de financiación, lo que permite a los inversores y los profesionales de capital riesgo invertir y obtener beneficios económicos tan poco o tanto

        como les gusta, todo a través de una plataforma en línea.</p>


        <p class="text-justify">Para los fondeadores o mejor conocidos como inversores se les informa que registrado en el sistema el proyecto y validado, la decisión de Invertir en empresas de nueva

        creación y las empresas en fase inicial implica riesgos, incluyendo la falta de liquidez, falta de dividendos, la pérdida de la inversión y su dilución, se debe hacer sólo como parte

        de un análisis y evaluación sofisticado para comprender estos riesgos y tomar sus propias decisiones de inversión.</p> <br>


        <div align="center" style="padding-bottom: 20px;">

          <div class="row">
            <img src="template/img/howWork.png" class="img-responsive" alt=""/>
          </div>

        </div>

        <div class="row">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <input id="crowdei" type="button" style="white-space: normal; word-wrap: break-word;background-color: #00c853;color: white !important;" class="btn btn-default" value="Crowdei"/>
              </div>
              <div class="btn-group" role="group">
                <input id="publicar_proyecto" type="button" style="white-space: normal; word-wrap: break-word;background-color: red; color: white  !important;;" class="btn btn-default" value="Publicar un proyecto"/>
              </div>
              <div class="btn-group" role="group">
                <input id="invertir_proyecto" type="button"  style="white-space: normal;word-wrap: break-word;background-color: dimgray;color: white  !important;;" class="btn btn-default" value="Apoyar e invertir en un proyecto"/>
              </div>
          </div>
        </div>


        <div id="irCrowdei">
          <br>
          <h4 class="whatIs" ><strong>¿Qué es Crowdei?</strong></h4>

          <p class="text-justify">Crowdei es una plataforma de crowdfunding de inversión en México, donde una comunidad de personas con ideas afines pueden conjuntar su dinero y el conocimiento, para la

          puesta en marcha y desarrollo de negocios en etapa temprana ó crecimiento a través de financiamiento de pequeñas o grandes aportaciones, teniendo como principal propósito,

          una nueva forma de respaldar proyectos viables, rentables e innovadores que soliciten financiación.</p>

          <h4 class="whatIs"><strong>¿Cómo funciona?</strong></h4>

          <p class="text-justify">Cada solicitante o usuario proponente define el monto que necesita para llevar su proyecto a cabo y establece una fecha límite para recaudarlo. Si el proyecto obtiene

          financiamiento al 100% en el periodo establecido, se le otorga el monto recaudado.</p>

          <p class="text-justify">Del monto total recaudado, el solicitante o usuario proponente descuenta los costos derivados de las transacciones por los distintos sistemas de pago (Paypal, banwire, depósitos

          en efectivo en OXXO, bancos etc.) y la comisión correspondiente de 5% de Crowdei.</p>

          <p class="text-justify">En caso de que no se obtenga el monto de financiamiento del 100% en la meta establecida en el tiempo límite, el solicitante no recibe el monto recaudado y todas las

          contribuciones de los inversionistas denominados usuarios fondeadores son reembolsadas íntegramente.</p>

          <h4 class="whatIs"><strong>¿Quiénes son los solicitantes o usuarios proponentes?</strong></h4>

          <p class="text-justify">Cualquier persona, empresa o asociación que cuente con registro ante el SAT (Servicio de Administración Tributaria) interesada en publicar su proyecto, con la finalidad de

          obtener un financiamiento para la puesta en marcha y desarrollo de negocios en etapa temprana ó en crecimiento. Posteriormente debe devolver el recurso económico total

          aportado a sus inversores, más la proporción correspondiente acordada por los dividendos.</p>

          <h4 class="whatIs"><strong>¿Quiénes son los inversionistas o usuarios fondeadores?</strong></h4>

          <p class="text-justify">Aquel usuario que aporte de manera voluntaria determinados montos de dinero, ya sea en moneda nacional o, en su caso, en la moneda de curso legal en el país en el que se

          encuentre, transformada al tipo de cambio al momento que obtiene el 100% del financiamiento el usuario proponente del Proyecto.</p>

          <p class="text-justify">En caso de éxito, el usuario fondeador obtendrá el rembolso total de su aportación en el proyecto, más la proporción o cantidad correspondiente acordada con el usuario

          proponente. Por favor, leer el aviso de riesgo completo.</p>

          <p class="text-justify">Ofrecen al público la oportunidad de prestarle capital de expansión y compartir en su crecimiento.</p>

          <h4 class="whatIs"><strong>¿A quién beneficia?</strong></h4>

          <p class="text-justify">Todos se benefician conjuntamente.</p>

          <p class="text-justify">El solicitante conocido como usuario proponente obtiene financiamiento para su proyecto y logra el éxito del su negocio. Además lo difunde a toda la comunidad de crowdei</p>

          <p class="text-justify">El inversionista denominado como usuario fondeador evalúa y toma una decisión propia de participar o no en el proyecto. Al final recupera su inversión y las ganancias

          propuestas por el solicitante.</p>

          <p class="text-justify">Crowdei, apoya a las MIPYMES para lograr su financiamiento, crecimiento y consolidación de estas, contribuyendo a la economía nacional y logrando opciones nuevas de

          inversión.</p>

          <h4 class="whatIs"><strong>¿Quién evalúa los proyectos?</strong></h4>

          <p class="text-justify">Registrado en el sistema el proyecto hay una etapa preliminar de validación documental por conducto del equipo de Crowdei que está a cargo de la plataforma. Nuestro equipo

          comprueba los lanzamientos en Crowdei para asegurar que cada uno es imparcial, clara y no engañosa.</p>

          <p class="text-justify">Posteriormente, la decisión de Invertir en empresas de nueva creación y las empresas en fase inicial ó en crecimiento es del inversionista o mejor conocido como usuario

          fondeador, quien realiza la única evaluación al proyecto, para determinar que cuenta con viabilidad Técnica, Financiera y de Negocios. Además su expertise ayuda a considerar

          otros criterios adicionales para fondear o no el proyecto.</p>

          <h4 class="whatIs"><strong>¿Quién es responsable de realizar los proyectos?</strong></h4>

          <p class="text-justify">Una vez alcanzada la meta del 100% de financiamiento, el usuario proponente del Proyecto es el único responsable en llevar su proyecto a cabo. Crowdei no participa en la

          realización del proyecto, ni en ninguna de sus etapas de implementación.</p>
        </div>

        <div id="publicarProyecto">
          <br>
          <h4 class="publish" ><strong>¿Quién puede publicar un proyecto?</strong></h4>

          <p class="text-justify">Cualquier persona, empresa o asociación con registro ante el SAT (Servicio de Administración Tributaria), conocida como usuario proponente que busca apoyo financiero y que

          está dispuesto a devolver el recurso económico total aportado a sus inversores, más la proporción correspondiente acordada por los dividendos. El usuario que ingresa a la

          plataforma debe ser mayor de 18 años de edad y aceptar los términos y condiciones del uso del sitio.</p>

          <h4 class="publish"><strong>¿Cómo redactar mi proyecto?</strong></h4>

          <p class="text-justify">Debes revisar y aceptar los términos y condiciones para el registro de proyectos.</p>

          <p class="text-justify">Puedes auxiliarte en la Ficha de proyecto, donde se solicita toda la información al usuario para el registro.</p>

          <p class="text-justify">Con el fin de hacer más fácil la redacción de su proyecto proponemos los principales puntos que usted debe considerar al momento de redactar su proyecto:</p>

          <ol type="a">


            <li>Nombre del proyecto</li>

            <li>Imagen del proyecto</li>

            <li>Objetivos, metas, tiempo y resultados medibles esperados.</li>

            <li>Acerca del Proyecto (Justificación y descripción del Proyecto).</li>

            <li>Monto solicitado y uso que se le dará.</li>

            <li>¿Quiénes somos? (Acerca del proponente o solicitante)</li>

            <li>¿Cómo y cuando se entregarán las recompensas? ( Incorporar situación financiera actual y proyectada donde mencione que puedo ofrecer de ganancias, reembolsos,

            acciones e incentivos al inversionista).</li>

          </ol>


          <h4 class="publish"><strong>Hacer un video</strong></h4>

          <p class="text-justify">Un vídeo es una herramienta poderosa para que usted pueda comunicar su potencial de inversión de una manera sucinta y convincente. No es necesario ser un experto para

          hacer un video corto en la actualidad, hay muchas formas de presentarlo, algunos tienen una gran producción, mientras otros solo tienen su teléfono y computadora. Cualquiera

          es aceptado.</p>

          <p class="text-justify">Características indispensables que debe contener tu video para que comunique una idea muy clara y precisa, lo cual ayudará a mostrar que usted es serio y añadir credibilidad a

          su negocio:</p>

          <ul>

          <li>Comenta el nombre del proyecto, quién eres y como nace tu proyecto.</li>

          <li>Platica los objetivos, metas, tiempo y resultados medibles esperados del proyecto.</li>

          <li>Comenta acerca del Proyecto (Justificación y descripción del Proyecto).</li>

          <li>Explica cuál es el monto solicitado y uso que se le dará.</li>

          <li>Menciona cómo y cuando se entregarán las recompensas: preferentemente indica cuál es la situación financiera actual de la empresa y la proyección final donde menciones

          que puedo ofrecer de ganancias, reembolsos, acciones e incentivos al inversionista.</li>

          <li>Debes aclarar que si no llegas a tu meta, no obtendrás nada y no podrás otorgar recompensas.</li>

          <li>Puedes Invitar a todos a compartir tu proyecto en redes sociales. Agradece a los fondeadores</li>
          </ul>
          Consideraciones
          <ul>

            <li>Debe ser un video corto, no más de 3 minutos.</li>

            <li>Si planeas usar canciones de alguien más, cítalas al final, nosotros no nos hacemos responsables por los derechos de autoría.</li>

            <li>Cuida la calidad del audio y la imagen.            </li>

          </ul>


          <p class="text-justify">Finalmente, sube tu video a Vimeo y copia el link en el editor de proyectos</p>

          <h4 class="publish"><strong>¿Cómo publico mi proyecto en Crowdei?</strong></h4>

          <p class="text-justify">Primero registras tu proyecto en la plataforma de Crowdei, aceptando la normativa, posteriormente guardas y envías tu proyecto.

          <p class="text-justify">Pasado un lapso de tiempo, el equipo de Crowdei revisará la información y en caso de que no este completa solicitará por medio de un correo que se complemente. Al recibir tu

          proyecto corregido y completo se valida para proceder a publicarlo.</p>

          <h4 class="publish"><strong>¿Cómo promociono mi proyecto?</strong></h4>

          <p class="text-justify">Debes utilizar la difusión en redes sociales, en eventos o círculos de amigos. Esto podrá traer nuevos inversionistas y sobre todo el apoyo también viene de la propia comunidad,

          es decir, familiares y amigos. Si quieres que la gente te ayude, tienes que decirles de tu proyecto. Recuerda que la promoción empieza en casa y también Crowdei difundirá en la

          plataforma cada proyecto incorporado.</p>

          <h4 class="publish"><strong>Entrega recompensas</strong></h4>

          <p class="text-justify">Al momento de ingresar tu proyecto en la plataforma de Crowdei, debes informar al fondeador cuales son las ganancias, reembolsos, acciones e incentivos que otorgaras.</p>

          <p class="text-justify">Una vez fondeado tu proyecto, Crowdei mandara un desglose que contiene los nombres, mails y cantidad aportada de cada fondeador.</p>

          <p class="text-justify">Durante el proyecto y al finalizar los tiempos establecidos debes estar en contacto con los fondeadores para informarles el avance del proyecto y si existe algún retraso en la

          entrega de las recompensas debes informar la nueva fecha de entrega para que el inversionista pueda entenderte. Es importante cumplir en el tiempo establecido ya que es la

          confianza que depositaron en tu proyecto y no debes defraudarla.</p>
        </div>

        <div id="invertirProyecto">
          <br>
          <h4 class="support" ><strong>Apoyar e invertir en un proyecto</strong></h4>

          <p class="text-justify">Crowdei es una plataforma que permite a cualquier persona invertir en las empresas mexicanas que cuentan con proyectos viables, rentables e innovadores y que solicitan

          financiación . Recuerda debes registrarte en la plataforma y después debes elegir el monto que tu quieras. ¡¡La decisión es tuya!!</p>

          <p class="text-justify">Revisa los proyectos de tu interés y una vez que decidas apoyar, da click en el botón “¡invertir!”, escoge el monto de tu contribución y tu recompensa.</p>

          <p class="text-justify">Los métodos de pago son:</p>

          <ul>
            <li>con tarjeta de crédito o débito</li>

            <li>En efectivo en cualquier sucursal o tienda Oxxo</li>

            <li>con PayPal y Banwire</li>

            <li>por Transferencia Interbancaria SPEI.</li>
          </ul>
          <p class="text-justify">Las aportaciones realizadas por tarjeta o por transferencia SPEI se verán reflejadas de inmediato dentro de la plataforma. Las aportaciones realizadas en efectivo por Oxxo o

          bancarias tardarán entre 24h y 48h en reflejarse en la plataforma</p>

          <h4 class="support"><strong>¿Cuándo recibo mi recompensa?</strong></h4>

          <p class="text-justify">Una vez fondeado el proyecto que apoyaste, después de alcanzado su meta, recibirás un correo electrónico de Crowdei, notificándote del éxito del mismo. Posteriormente el

          usuario proponente se pondrá en contacto contigo para debe devolver el recurso económico total aportado a sus inversores, más tu recompensa. El usuario proponente es el

          único responsable en entregar las recompensas del proyecto y el recurso aportado (contribución) de cada inversor.</p>

          <h4 class="support"><strong>¿Cómo puedo estar seguro de que se hará el proyecto?</strong></h4>

          <p class="text-justify">El único responsable en realizar su proyecto y entregar las recompensas a sus fondeadores es el usuario proponente.</p>

          <h4 class="support"><strong>¿Qué pasa si el proyecto apoyado no llega a la meta de recaudación establecida por el proponente?</strong></h4>

          <p class="text-justify">Tú aportación será rembolsada íntegramente. No hay pago por intereses u otro concepto.</p>
        </div>
      </div>
    </section>
    <section class="col-sm-1"></section>
  </div>
</div>
<ng-footer></ng-footer>

