<ng-header></ng-header>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <section class="col-sm-1"></section>
    <section class="col-sm-10">
    <div class="wrapper-md text-justify">

    <h2 class="text-center font-bold" style="color: #FBD40C"> Preguntas Frecuentes</h2> <br><br>
    </div>
    </section>
  </div>
</div>
<ng-footer></ng-footer>
