<ng-header></ng-header>


<section class="preguntas-frecuentes">
	<div class="container">
		<h1>{{ 'label-faq-title' | translate}}</h1>
	</div>
	<div class="background-orange">
		<div class="container">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="{{ (section == 'general') ? 'active col-sm-4 col-xs-12' : 'col-sm-4 col-xs-12' }}">
					<a href="#general" aria-controls="general" role="tab" data-toggle="tab" target="_self">
						{{ 'label-faq-tab-generales' | translate}}
					</a>
				</li>
				<li role="presentation" class="{{ (section == 'corredores') ? 'active col-sm-4 col-xs-12' : 'col-sm-4 col-xs-12' }}">
					<a href="#corredores" aria-controls="corredores" role="tab" data-toggle="tab" target="_self">
						{{ 'label-faq-tab-corredores' | translate}}
					</a>
				</li>
				<li role="presentation" class="{{ (section == 'impulsores') ? 'active col-sm-4 col-xs-12' : 'col-sm-4 col-xs-12' }}">
					<a href="#impulsores" aria-controls="impulsores" role="tab" data-toggle="tab" target="_self">
						{{ 'label-faq-tab-impulsores' | translate}}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="{{ (section == 'general') ? 'tab-pane active' : 'tab-pane' }}" id="general">
				<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#q1" target="_self">
									{{ 'label-faq-question-1' | translate}}
								</a>
							</h4>
						</div>
						<div id="q1" class="{{ (question == 'q1') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								{{ 'label-faq-answer-1' | translate}}
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#q2" target="_self">
									{{ 'label-faq-question-2' | translate}}
								</a>
							</h4>
						</div>
						<div id="q2" class="{{ (question == 'q2') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								{{ 'label-faq-answer-2' | translate}}
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#q3" target="_self">
									{{ 'label-faq-question-3' | translate}}
								</a>
							</h4>
						</div>
						<div id="q3" class="{{ (question == 'q3') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								{{ 'label-faq-answer-3-1' | translate}}<br>
								{{ 'label-faq-answer-3-2' | translate}}
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#q16" target="_self">
									{{ 'label-faq-question-16' | translate}}
								</a>
							</h4>
						</div>
						<div id="q16" class="{{ (question == 'q16') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								{{ 'label-faq-answer-16' | translate}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="{{ (section == 'corredores') ? 'tab-pane active' : 'tab-pane' }}" id="corredores">
				<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#q4" target="_self">
									{{ 'label-faq-question-4' | translate}}
								</a>
							</h4>
						</div>
						<div id="q4" class="{{ (question == 'q4') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-4-1' | translate}}<br>
									{{ 'label-faq-answer-4-2' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#q5" target="_self">
									{{ 'label-faq-question-5' | translate}}
								</a>
							</h4>
						</div>
						<div id="q5" class="{{ (question == 'q5') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-5' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#q6" target="_self">
									{{ 'label-faq-question-6' | translate}}
								</a>
							</h4>
						</div>
						<div id="q6" class="{{ (question == 'q6') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>{{ 'label-faq-answer-6' | translate}}</p>
								<p>{{ 'label-faq-answer-6-10' | translate}}</p>
								<p>{{ 'label-faq-answer-6-11' | translate}}</p>
								<ul>
									<li>
										{{ 'label-faq-answer-6-1' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-6-2' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-6-3' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-6-4' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-6-5' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-6-6' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-6-7' | translate}}
									</li>
								</ul>
								<p>{{ 'label-faq-answer-6-12' | translate}}</p>
								<ul>
									<li>
										{{ 'label-faq-answer-6-8' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-6-9' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-6-13' | translate}}
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#q7" target="_self">
									{{ 'label-faq-question-7' | translate}}
								</a>
							</h4>
						</div>
						<div id="q7" class="{{ (question == 'q7') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}"">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-7' | translate}}
								</p>
								<ul>
									<li>
										{{ 'label-faq-answer-7-1' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-7-2' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-7-3' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-7-4' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-7-5' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-7-6' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-7-7' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-7-8' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-7-9' | translate}}
									</li>
								</ul>
								<p>
									{{ 'label-faq-answer-7-10' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#q8" target="_self">
									{{ 'label-faq-question-8' | translate}}
								</a>
							</h4>
						</div>
						<div id="q8" class="{{ (question == 'q8') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-8' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#q9" target="_self">
									{{ 'label-faq-question-9' | translate}}
								</a>
							</h4>
						</div>
						<div id="q9" class="{{ (question == 'q9') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-9' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#q17" target="_self">
									{{ 'label-faq-question-17' | translate}}
								</a>
							</h4>
						</div>
						<div id="q17" class="{{ (question == 'q17') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-17' | translate}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="{{ (section == 'impulsores') ? 'tab-pane active' : 'tab-pane' }}" id="impulsores">
				<div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#q10" target="_self">
									{{ 'label-faq-question-10' | translate}}
								</a>
							</h4>
						</div>
						<div id="q10" class="{{ (question == 'q10') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-10' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#q11" target="_self">
									{{ 'label-faq-question-11' | translate}}
								</a>
							</h4>
						</div>
						<div id="q11" class="{{ (question == 'q11') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-11' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#q12" target="_self">
									{{ 'label-faq-question-12' | translate}}
								</a>
							</h4>
						</div>
						<div id="q12" class="{{ (question == 'q12') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-12' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#q13" target="_self">
									{{ 'label-faq-question-13' | translate}}
								</a>
							</h4>
						</div>
						<div id="q13" class="{{ (question == 'q13') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-13' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#q14" target="_self">
								{{ 'label-faq-question-14' | translate}}
								</a>
							</h4>
						</div>
						<div id="q14" class="{{ (question == 'q14') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<p>
									{{ 'label-faq-answer-14' | translate}}
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#q15" target="_self">
									{{ 'label-faq-question-15' | translate}}
								</a>
							</h4>
						</div>
						<div id="q15" class="{{ (question == 'q15') ? 'panel-collapse collapse in' : 'panel-collapse collapse' }}">
							<div class="panel-body">
								<ul>
									<li>
										{{ 'label-faq-answer-15-1' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-15-2' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-15-3' | translate}}
									</li>
									<li>
										{{ 'label-faq-answer-15-4' | translate}}
									</li>
								</ul>
								<p>
									{{ 'label-faq-answer-15-5' | translate}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<ng-footer></ng-footer>
