<ng-header></ng-header>
<!--SDK de LinkedIn -->
<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key: 789ewlz8uo035u
	onLoad: Linkedin.onLinkedInLoad
</script>
<section class="container registro">
	<div class="row" dw-loading="register" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
		<div class="col-md-4 col-md-offset-4">
			<h1>{{'label-registration' | translate}}</h1>
			<messages src="messages"></messages>
			<form name="form" class="form-horizontal" >

				<div class="form-group" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty  }">
					<label for="name">{{'label-nombre' | translate}}:</label>
					<input type="text" id="name" name="name" class="form-control" ng-model="user.name" ng-maxlength="30" ng-pattern="/^[a-zA-Z]*$/" required placeholder="{{ 'label-placeholder-name' | translate}}">
					<span ng-show="form.name.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
					<span ng-show="form.name.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
				</div>

				<div class="form-group" ng-class="{ 'has-error': form.lastName.$invalid && form.lastName.$dirty  }">
					<label for="lastName">{{'label-apellido' | translate}}:</label>
					<input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastname" ng-maxlength="30" ng-pattern="/^[a-zA-Z]*$/" required placeholder="{{ 'label-placeholder-lastname' | translate}}">
					<span ng-show="form.lastName.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
					<span ng-show="form.lastName.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.email.$invalid && form.email.$dirty  }" >
					<label for="email">{{'label-correoElectronico' | translate}}:</label>
					<input type="email" id="email" name="email" ng-model="user.email" class="form-control" placeholder="{{ 'label-placeholder-email' | translate}}">
					<span ng-show="form.email.$error.email"> {{'label-emailError' | translate}} </span>
				</div>
				<!--
				<div class="form-group">
					<label for="city">Ciudad:</label>
					<input type="text" class="form-control" id="city"
						placeholder="Introducir ciudad">
				</div>
				<div class="form-group">
					<label for="country">País:</label>
					<input type="text" class="form-control" id="country"
						placeholder="Introducir país">
				</div>
				<div class="form-group">
					<label for="state">Estado/Región:</label>
					<input type="text" class="form-control" id="state"
						placeholder="Introducir estado/región">
				</div>
				<div class="form-group">
					<label for="postal_code">Código Postal:</label>
					<input type="number" class="form-control" id="postal_code"
						placeholder="Introducir código postal">
				</div>
				-->
				<div class="form-group" ng-class="{ 'has-error': form.username.$invalid && form.username.$dirty  }">
					<label for="username">{{'label-userName' | translate}}:</label>
					<input type="text" id="username" name="username" ng-model="user.username" class="form-control" ng-maxlength="10" required placeholder="{{ 'label-placeholder-username' | translate}}">
					<span ng-show="form.username.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.password.$invalid && form.password.$dirty  }">
					<label for="password">{{'label-password' | translate}}:</label>
					<input type="password" class="form-control" id="password" name="password" ng-model="user.password" required placeholder="{{ 'label-placeholder-password' | translate}}">
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.confirm_password.$invalid && form.confirm_password.$dirty }">
					<label for="confirm_password">{{'label-confirm-password' | translate}}:</label>
					<input type="password"
									 class="form-control"
									 id="confirm_password"
									 name="confirm_password"
									 ng-model="confirm_password"
									 ui-validate=" '$value==user.password' "
									 ui-validate-watch=" 'user.password' "
									 placeholder="{{ 'label-placeholder-confirm-password' | translate}}">
						<span ng-show="form.confirm_password.$error.validator">{{'label-passwordNoMatch' | translate}}</span>
				</div>

				<div class="checkbox">
					<label>
					<input type="checkbox" ng-model="accept" value="" required>{{ 'label-register-estoyDeAcuerdo1' | translate }} <a href="/#/terminos_condiciones" target="_blank">{{ 'label-register-estoyDeAcuerdo2' | translate }}</a> {{ 'label-register-estoyDeAcuerdo3' | translate }} <a href="/#/aviso_privacidad" target="_blank">{{ 'label-register-estoyDeAcuerdo4' | translate }}</a> {{ 'label-register-estoyDeAcuerdo5' | translate }}
					</label>
				</div>


				<div class="form-group">
					<div vc-recaptcha key="publicKey"></div>
				</div>

				<button type="submit" class="btn btn-default" ng-click="registerUser()" ng-disabled="form.$invalid">{{ 'boton-aceptar' | translate }}</button>
			</form>
			<div class="img-container">
			<!--
				<a href="#"><img src="assets/img/facebook-ingresa.png"></a>
				<a href="#"><img src="assets/img/google-ingresa.png"></a>
			-->
				 <linked-in-login></linked-in-login>
			</div>
		</div>
	</div>
</section>

<ng-footer></ng-footer>
