<!--SDK de LinkedIn -->
<script type="text/javascript" src="//platform.linkedin.com/in.js">
  api_key: 775tztpsihcoaa
  onLoad: Linkedin.onLinkedInLoad
  scope:  r_basicprofile,r_emailaddress
</script>
<ng-header></ng-header>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="container">
      <div class="wrapper-md">

        <modal-pago visible="showModal">

          <div class="modal-footer">
            <button type="button"  data-dismiss="modal" class="btn btn-black">{{ 'boton-aceptar' | translate
              }}</button>
            <a href="template/img/contrato.pdf" download="contrato" class="btn btn-default">{{ 'boton-descargar' | translate
              }}</a>
          </div>
        </modal-pago>

        <div class="col-md-9 col-md-offset-1">

          <messages src="messages"></messages>

            <section class="col-sm-1"></section>

            <section class="col-sm-10">
              <div class="panel-body">
                <form name="form" class="form-horizontal" >

                  <h2 class="text-center font-bold" style="color: #FBD40C"> {{'label-registrationSystem' | translate}}</h2> <br>

                  <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty  }">
                    <label class="col-sm-4 control-label text-left">{{'label-nombre' | translate}} *</label>
                    <div class="col-sm-8">
                      <input type="text" name="name" class="form-control" ng-model="user.name" ng-maxlength="30"
                             ng-pattern="/^[a-zA-Z]*$/" required>
                      <span ng-show="form.name.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      <span ng-show="form.name.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.lastName.$invalid && form.lastName.$dirty  }">
                    <label class="col-sm-4 control-label text-left">{{'label-apellido' | translate}} *</label>
                    <div class="col-sm-8">
                      <input type="text" name="lastName"  ng-model="user.lastname" class="form-control" ng-maxlength="30"
                             ng-pattern="/^[a-zA-Z]*$/" required>
                      <span ng-show="form.lastName.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      <span ng-show="form.lastName.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.email.$invalid && form.email.$dirty  }" >
                    <label class="col-sm-4 control-label text-left">{{'label-correo' | translate}} *</label>
                    <div class="col-sm-8">
                      <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="user@mydomain.com">
                      <span ng-show="form.email.$error.email"> {{'label-emailError' | translate}} </span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && form.password.$dirty  }">
                    <label class="col-sm-4 control-label text-left">{{'label-password' | translate}} *</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" name="password" ng-model="user.password" required >
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.confirm_password.$invalid && form.confirm_password.$dirty }">
                    <label class="col-sm-4 control-label text-left">{{'label-repeatPassword' | translate}} *</label>
                    <div class="col-sm-8">
                      <input type="password"
                             class="form-control"
                             name="confirm_password"
                             ng-model="confirm_password"
                             ui-validate=" '$value==user.password' "
                             ui-validate-watch=" 'user.password' ">
                      <span ng-show="form.confirm_password.$error.validator">
                            {{'label-passwordNoMatch' | translate}}</span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.username.$invalid && form.username.$dirty  }">
                    <label class="col-sm-4 control-label text-left">{{'label-userName' | translate}} *</label>
                    <div class="col-sm-8">
                      <input type="text" name="username" ng-model="user.username" class="form-control" ng-maxlength="10" required>
                      <span ng-show="form.username.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="text-right">
                        <label class="control-label">* {{'label-camposRequeridos' | translate}}</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div vc-recaptcha key="publicKey"></div>
                  </div>

                  <div class="line line-dashed b-b line-lg pull-in"></div>

                  <div class="form-group">
                    <div class="text-center">
                      <label class="text-center">{{'label-o' | translate}}</label>
                    </div>
                    <div class="text-center">

                      <script type="in/Login"></script>

                      <ul id="js-messages"></ul>

                    </div>
                  </div>

                  <div class="line line-dashed b-b line-lg pull-in"></div>

                  <div class="form-group">
                      <div class="col-sm-12">
                        <div class="checkbox">
                          <label class="i-checks">
                            <input type="checkbox" ng-model="accept" value="" required>
                            <i></i>
                            {{ 'label-estoyDeAcuerdo1' | translate }} <a class="btn-link text-primary font-bold" ng-click="showModal=true"> {{ 'label-estoyDeAcuerdo2' | translate }} </a> {{ 'label-estoyDeAcuerdo3' | translate }}
                          </label>
                        </div>
                      </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-default">{{ 'boton-cancelar' | translate }}</button>
                      </div>
                      <div class="col-md-6 text-left">
                        <button type="submit" class="btn btn-black" ng-click="registerUser()" ng-disabled="form.$invalid">{{ 'boton-aceptar' | translate }}</button>
                      </div>
                      </div>
                    </div>


                </form>
              </div>

              <div class="col-sm-12">
                  <label class="col-sm-12 font-bold">{{'label-estaRegistrado' | translate}} <a href="#/login" class="text-primary">{{'label-menu-login' | translate}} </a></label>
                </div>
            </section>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="myloader" style="display:none;">
  <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
