<header class="header clearfix">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/#/home">
                        <img class="logo" src="assets/img/logo.svg">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="{{ (header == 'inicio') ? 'active' : '' }}" ng-show="isUserLoggedIn() && user && (user.authorities.indexOf('ROLE_ADMIN') != -1)">
                                <a href="/#/homeUser">
                                {{ 'label-header-inicio' | translate}}
                                </a>
                            </li>
                            <li class="{{ (header == 'inicio') ? 'active' : '' }}" ng-show="isUserLoggedIn() && user && (user.authorities.indexOf('ROLE_SUPER_ADMIN') != -1)">
                                <a href="/#/homeSuperUser">
                                {{ 'label-header-inicio' | translate}}
                                </a>
                            </li>
                            <li class="{{ (header == 'inicio') ? 'active' : '' }}" ng-show="!isUserLoggedIn()">
                                <a href="/#/home">
                                {{ 'label-header-inicio' | translate}}
                                </a>
                            </li>
                            <li class="{{ (header == 'corredores') ? 'active' : '' }}">
                                <a href="/#/corredores">
                                {{ 'label-header-corredores' | translate}}
                                </a>
                            </li>
                            <li class="{{ (header == 'impulsores') ? 'active' : '' }}">
                                <a href="/#/impulsores">
                                {{ 'label-header-impulsores' | translate}}
                                </a>
                            </li>
                            <li class="{{ (header == 'sube-proyectos') ? 'active' : '' }}">
                                <a href="#/createPitch">
                                {{ 'label-header-sube-proyecto' | translate}}
                                </a>
                            </li>
                            <li class="{{ (header == 'proyectos') ? 'active' : '' }}">
                                <a href="/#/businessOpportunities">
                                {{ 'label-header-proyectos' | translate}}
                                </a>
                            </li>
                            <li class="{{ (header == 'registro') ? 'active' : '' }}" ng-hide="isUserLoggedIn()">
                                <a href="#/login">
                                {{ 'label-header-registro-iniciosesion' | translate}}
                                </a>
                            </li>
                            <li class="{{ (header == 'cerrar-sesion') ? 'active' : '' }}" ng-show="isUserLoggedIn()">

                                <div class="dropdown" style="top: -10px !important;" ng-controller="IndexCtrl">
                                    <div class="btn dropdown-toggle" id="avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border: 0 !important; padding-right: 0 !important;">
                                      <img ng-src="{{ header_avatar }}" class="img-rounded" height="40px" />
                                    </div>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/#/userProfile">
                                            {{ 'label-proyectos-configuracion' | translate}}
                                            </a>
                                        </li>
                                        <li>
                                            <a href ng-click="logout()">
                                            {{ 'label-header-cerrar-sesion' | translate}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown" ng-controller="IndexCtrl">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      {{ 'label-header-idioma-moneda' | translate}}
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="language">
                                        <li class="dropdown-header">{{ 'label-header-idioma' | translate}}</li>
                                        <li>
                                            <div class="flag mexico"></div>
                                            <a ng-click="changeLanguage('es_MX')">{{ 'label-header-idioma-espanol' | translate}}</a>
                                        </li>
                                        <li>
                                            <div class="flag usa"></div>
                                            <a ng-click="changeLanguage('en_EN')">{{ 'label-header-idioma-ingles' | translate}}</a>
                                        </li>
                                        <!--
                                        <li class="dropdown-header">{{ 'label-header-moneda' | translate}}</li>
                                        <li>
                                            <div class="flag mexico"></div>
                                            <a href="#">{{ 'label-header-moneda-pesosmexicanos' | translate}}</a>
                                        </li>
                                        <li>
                                            <div class="flag usa"></div>
                                            <a href="#">{{ 'label-header-moneda-dolares' | translate}}</a>
                                        </li>
                                        <li>
                                            <div class="flag euro"></div>
                                            <a href="#">{{ 'label-header-moneda-euros' | translate}}</a>
                                        </li>
                                        -->
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <!--<form class="navbar-form navbar-left search-container">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Buscar">
                                </div>

                            </div>
                        </form>-->
                    </div>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>


