
<header ng-show="showHeader" id="header" class="app-header navbar" role="menu">
  <!-- navbar header -->
  <div class="navbar-header bg-dark">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
      <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button ng-hide="!isLogged" class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll-to="myApp">
      <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <div class="navbar-brand" style="color: #FBD40C">
      {{ 'label-menu' | translate}}
    </div>

    <!-- / brand -->
  </div>
  <!-- / navbar header -->

  <!-- navbar collapse -->
  <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
    <!-- buttons -->
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs" >
      <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
        <i class="fa fa-dedent fa-fw text"></i>
        <i class="fa fa-indent fa-fw text-active"></i>
      </a>
    </div>
    <!-- / buttons -->
    <!-- / buttons -->

    <!-- nabar left -->
    <ul class="nav navbar-nav hidden-sm">
      <li>
        <button type="button"class="btn" style="border: none;padding-right: 0px;padding-left: 0px;padding-bottom: 0px;padding-top: 0px;">
          <a href="#/home" >
            <img class="img-responsive" src="template/img/Logo_139x43_Blanco.png" alt="">
          </a>
        </button>
      </li>
      <li>
        <a href="#/howWork" >{{'label-menu-comoFunciona' | translate}}</a>
      </li>
      <li class="">
        <a href="#/businessOpportunities" >{{'label-menu-oportunidadNegocio' | translate}}</a>
      </li>
      <!--<li class="">-->
        <!--<a href="#/home" >Blog</a>-->
      <!--</li>-->
      <!--<li class="">-->
        <!--<a href="#/home" >Contáctenos</a>-->
      <!--</li>-->
    </ul>
    <!-- / nabar left -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#/login" >{{'label-menu-login' | translate}}</a>
      </li>
      <li>
        <a href="#/register" onclick="history.go(0)">{{'label-menu-registro' | translate}}</a>
      </li>
      <li class="dropdown" ng-controller="IndexCtrl">
        <a data-toggle="dropdown" class="dropdown-toggle clear">
          <i class="icon icon-globe" style="font-size: 19px;"></i>
        </a>
        <ul class="dropdown-menu animated fadeInRight w">
          <li>
            <a ng-click="changeLanguage('en_EN')">English</a>
          </li>
          <li>
            <a ng-click="changeLanguage('es_VE')">Español</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- nabar right -->

    <!-- / navbar right -->

  </div>
  <!-- / navbar collapse -->

</header>
