<ng-header></ng-header>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">

    <section class="col-sm-2">
      <div ng-if="priority == 'NEW' ">
        <h2 class="col-sm-10 text-primary font-bold">{{'label-nuevos' | translate}}</h2>
      </div>
      <div ng-if="priority == 'SUCCESSFULL' ">
        <h2 class="col-sm-10 text-primary font-bold">{{'label-succesful' | translate}}</h2>
      </div>
      <div ng-if="priority == 'OUTSTANDING' ">
        <h2 class="col-sm-10 text-primary font-bold">{{'label-highlights' | translate}}</h2>
      </div>
      <div ng-if="priority == 'LASTINVESTMENT' ">
        <h2 class="col-sm-10 text-primary font-bold">{{'label-lastVersion' | translate}}</h2>
      </div>
      <div ng-if="priority == 'JUSTPAID' ">
        <h2 class="col-sm-10 text-primary font-bold">{{'label-recentlyPaid' | translate}}</h2>
      </div>
    </section>

    <section class="col-sm-8">
      <div class="wrapper-md">

        <div ng-repeat="project in projectList">
            <a href="#/productSheet/{{project.id}}">
              <div class="well m-t bg-light lt">
                <div class="row ">
                  <div class="col-sm-3">
                    <div align="center">
                      <img class="img-responsive" ng-src="data:image/jpeg;base64,{{project.image}}"
                           style="height: 115px;width: 186px;">
                    </div>
                    <div class="text-center-folded">
                      <span class="hidden-folded"><img src="template/img/flag/16/{{project.location.city.state.country.iso}}.png"> </img> {{project.location.city.state.name}}</span>
                      <span class="pull-right pull-none-folded">{{project.percent}} %</span>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <h4 class="font-bold">{{project.name}}</h4>
                    <p>{{project.description}} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div>
                      <div id="cantidadObtenidos" class="progress progress-sm progress-striped active m-t-xs m-b-none">
                        <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="{{project.percent}}" style="width: {{project.percent}}%"></div>
                      </div>
                    </div>
                    <div class="text-center">
                      <span class="hidden-folded"> <span class="font-bold">$ {{project.obtained}}</span> {{'label-obtained' | translate}}</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="text-center">{{'label-objetive' | translate}}</div>
                    <div class="text-center">
                      <span class="font-bold">$ {{project.objetive}}</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="text-center">{{'label-investors' | translate}}</div>
                    <div class="text-center">
                      <span class="font-bold">{{project.investors}}</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="text-center">{{'label-daysRemaining' | translate}}</div>
                    <div class="text-center">
                      <span class="font-bold">{{project.leftDays}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

      </div>
    </section>

    <section class="col-sm-2"></section>

  </div>
</div>
<div id="myloader">
  <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
