<ng-header-loggeado></ng-header-loggeado>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="row-row">
        <div class="cell">
            <div class="cell inner">
                <div class="wrapper-md">

                    <section class="row">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="well m-t bg-light lt">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="text-center">
                                                <div>
                                                    <img ng-src="data:image/jpeg;base64,{{project.image}}" alt=""  style="height: 134px;width: 183px;"/>
                                                        <span class="help-block m-b-non">
                                                          <img src="template/img/flag/16/{{project.location.city.state.country.iso}}.png"> </img> {{project.location.city.state.name}} </span>
                                                        </span>
                                                    <div id="cantidadObtenidos" class="progress progress-sm progress-striped active m-t-xs m-b-none">
                                                      <div class="progress-bar bg-success" data-toggle="tooltip"
                                                           data-original-title="{{project.percent}}%" style="width: {{project.percent}}%"></div>
                                                    </div>
                                                </div>
                                                <span><strong>{{project.currency.symbol}} {{project.obtained}}</strong> {{'label-obtained' | translate}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2 class="font-bold">{{project.name}} </h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <p><span>{{project.description}}</span></p>
                                            </div>
                                            <div class="row">
                                                <div class="text-center">
                                                    <div class="col-md-4">
                                                        <p><strong>{{'label-objetive' | translate}}</strong></p>

                                                        <p><strong>{{project.currency.symbol}} {{project.objetive}}</strong></p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p><strong>{{'label-investors' | translate}}</strong></p>

                                                        <p><strong>{{project.investors}}</strong></p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p><strong>{{'label-daysRemaining' | translate}}</strong></p>
                                                        <p><strong>{{project.leftDays}}</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="m-t-lg text-center">
                            <div class="checkbox " >
                              <label class="i-checks">
                                <input type="checkbox" ng-model="acepto">
                                <i></i>
                                {{'label-aceptarAcuerdo' | translate}}
                              </label>
                            </div>
                          </div>
                        </div>

                        <div class="row row-sm">
                            <div class="text-center col-md-12">
                                    <div >
                                        <button  class="btn" ng-click='payConekta()'>{{ 'boton-pagar' | translate }}</button>
                                    </div>
                            </div>
                        </div>
                      <mercado-pago visible="showModal"></mercado-pago>

                    </section>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div id="myloader" style="display:none;">
  <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>

<script type="text/ng-template" id="conekta-modal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ 'label-tituloConekta' | translate }}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <messages src="messages"></messages>
 
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ 'label-nombreTarjetahabiente' | translate }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="{{ 'label-nombreTarjetahabiente' | translate }}" size="20" ng-model="conektaParams.card.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ 'label-numeroTarjeta' | translate }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="{{ 'label-numeroTarjeta' | translate }}" size="20" ng-model="conektaParams.card.number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ 'label-cvcTarjeta' | translate }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="{{ 'label-cvcTarjeta' | translate }}" size="4" ng-model="conektaParams.card.cvc">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ 'label-fechaExpiracion' | translate }}</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="{{ 'label-fechaExpiracionMes' | translate }}" size="2" ng-model="conektaParams.card.exp_month">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="{{ 'label-fechaExpiracionAnio' | translate }}" size="4" ng-model="conektaParams.card.exp_year">
                </div>
            </div>
            
        </form>        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-show="showOk">OK</button>
        <img src="template/img/loading.gif" width="50px" height="50px" ng-show="!showOk && showLoading"/>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cerrar</button>
    </div>
</script>