<ng-header></ng-header>

<section class="metodos-pagos">
	<div class="container" dw-loading="invesment" dw-loading-options="{text: '{{ 'label-processing-payment' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
		<h1>
			{{ 'label-metodo-pago-title' | translate}}
		</h1>
		<messages src="messages"></messages>    
		<div class="row" dw-loading="project" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
			<div class="col-md-6">
				<h4>
					{{ 'label-metodo-pago-selecciona' | translate }}
				</h4>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title clearfix">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href data-target="#credito_debito" aria-expanded="true" aria-controls="credito_debito" ng-click="selectPaymentMethod('CONEKTA')">
									{{ 'label-metodo-tarjeta-credito' | translate }}
								</a>

								<span class="img-container">
									<img src="assets/img/metodos_pagos/visa.svg" class="visa">
									<img src="assets/img/metodos_pagos/mastercard.svg" class="mastercard">
									<img src="assets/img/metodos_pagos/amex.svg" class="amex">
								</span>

								<span class="protegido">
									<i class="fa fa-lock"></i>
									{{ 'label-metodo-pago-protegido-ssl' | translate }}
								</span>
							</h4>
						</div>
						<div id="credito_debito" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<form>
									<div class="form-group">
										<label for="numero_tarjeta">{{ 'label-numeroTarjeta' | translate }}:</label>
										<div class="input-group">
											<input type="text" class="form-control" ng-model="conektaParams.card.number">
											<span class="input-group-addon">
												<i class="fa fa-lock"></i>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="nombre_titular">{{ 'label-nombreTarjetahabiente' | translate }}:</label>
										<input type="text" class="form-control" ng-model="conektaParams.card.name">
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group fecha-vencimiento">
												<label>{{ 'label-fechaExpiracion' | translate }}:</label>
												<div class="row">
													<div class="col-md-4">
														<select name="mes" class="form-control" ng-model="conektaParams.card.exp_month">
															<option>{{ 'label-fechaExpiracionMes' | translate }}</option>
															<option ng-repeat="m in rangeMonths">{{ m }}</option>
														</select>
													</div>

													<div class="col-md-4">
														<select name="ano" class="form-control" ng-model="conektaParams.card.exp_year">
															<option>{{ 'label-fechaExpiracionAnio' | translate }}</option>
															<option ng-repeat="y in rangeYears">{{ y }}</option>
														</select>
													</div>

													<div class="col-md-4">
														<div class="input-group">
															<input type="password" class="form-control" placeholder="{{ 'label-cvcTarjeta' | translate }}" ng-model="conektaParams.card.cvc">
															<span class="input-group-addon">
																<i class="fa fa-question-circle"></i>
															</span>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title clearfix">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href data-target="#pago_transferencia" aria-expanded="false" aria-controls="pago_transferencia" ng-click="selectPaymentMethod('TRANSFER')">
									{{ 'label-metodo-pago-transferencia' | translate }}
								</a>
							</h4>
						</div>
						<div id="pago_transferencia" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								{{ 'label-metodo-pago-transferencia-desc' | translate }}
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title clearfix">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href data-target="#pagar_paypal" aria-expanded="false" aria-controls="pagar_paypal" ng-click="selectPaymentMethod('PAYPAL')">
									{{ 'label-metodo-pago-paypal' | translate }}
								</a>
								<span class="img-container">
									<img src="assets/img/metodos_pagos/paypal.svg" class="paypal">
								</span>
							</h4>
						</div>
						<div id="pagar_paypal" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								{{ 'label-metodo-pago-paypal-desc' | translate }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-pago">
					<h4>
						{{ 'label-metodo-pago-inversion' | translate }}
					</h4>

					<fieldset>
						<p class="descripcion-recompensa">
							{{ project.briefDescription }} <br />
							{{ 'label-metodo-pago-total' | translate }} {{ project.objetive | currency : project.currency.symbol : 2 }}
						</p>
						<div class="row">
							<div class="col-xs-6">
								<span>
									{{ 'label-metodo-pago-impulso' | translate }}
								</span>
							</div>
							<div class="col-xs-6">
								<b class="monto-impulso">
									{{ priceInvestment | currency : project.currency.symbol : 2 }}
								</b>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">
								<button type="submit" class="btn btn-orange" ng-show="paymentMethod == 'CONEKTA' && showPayConekta" ng-click="payConekta()">{{ 'label-metodo-pago-pagar-tarjeta' | translate }}</button>
								<button type="submit" class="btn btn-orange" ng-show="paymentMethod == 'TRANSFER' && showPayTransfer" ng-click="showTransferencia()">{{ 'label-metodo-pago-pagar-transferencia' | translate }}</button>

								<form name="cart" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" id="formPaypal">
									<button type="submit" class="btn btn-orange" ng-show="paymentMethod == 'PAYPAL'">{{ 'label-metodo-pago-pagar-paypal' | translate }}</button>
									{{ paypalData() }}
								</form>                
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="#" class="btn btn-blue">
									{{ 'label-metodo-pago-ayuda' | translate }}
								</a>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</section>
<mercado-pago visible="showModal"></mercado-pago>
<br />
<ng-footer></ng-footer>