<!--SDK de Facebook -->
<script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js#xfbml=1">
  api_key: 997947133627055
  version: 'v2.0'
  xfbml: true
  onLoad: Facebook.renderLikeButton
</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js">
  onLoad: Twitter.renderTweetButton
</script>
<div id="noLogged">
  <ng-header></ng-header>
</div>
<div id="logged">
  <ng-header-loggeado></ng-header-loggeado>
</div>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="wrapper-md">

      <messages src="messages"></messages>
      <modal-send-mail visible="showModal"> </modal-send-mail>

        <div class="row-row">
            <div class="cell">
                <div class="cell inner">
                    <div class="wrapper-md">
                        <div class="well m-t bg-light lt">
                        <section class="row">
                            <div class="col-md-3">
                                <div class="text-center">
                                    <div align="center">

                                        <img class="img-responsive" ng-src="{{dominioImage}}{{project.image}}"
                                             style="height: 134px;width: 183px;">
                                        <div class="text-center-folded">
                                          <span class="hidden-folded"><img src="template/img/flag/16/{{project.location.city.state.country.iso}}.png"> </img> {{project.location.city.state.name}} </span>
                                          <span class="pull-right pull-none-folded">{{project.percent}} %</span>
                                        </div>
                                        </span>
                                        <div id="cantidadObtenidos" class="progress progress-sm progress-striped active m-t-xs m-b-none">
                                            <div class="progress-bar bg-success" data-toggle="tooltip"
                                                 data-original-title="{{project.percent}}%" style="width: {{project.percent}}%"></div>
                                        </div>
                                    </div>
                                    <span><strong> {{project.currency.symbol}} {{project.obtained}}</strong> {{'label-obtained' | translate}}</span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <h4 class="font-bold">{{project.name}}<a href="">&nbsp;&nbsp;</a></h4>
                                </div>
                                <div class="row">
                                    <p><span>{{project.description}}</span></p>
                                </div>
                                <div class="row">
                                    <div class="text-center">
                                        <div class="col-md-4">
                                            <p><strong>{{'label-objetive' | translate}}</strong></p>

                                            <p><strong>{{project.currency.symbol}} {{project.objetive}}</strong></p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><strong>{{'label-investors' | translate}}</strong></p>

                                            <p><strong>{{project.investors}}</strong></p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><strong>{{'label-daysRemaining' | translate}}</strong></p>
                                            <p><strong>{{project.leftDays}}</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="well m-t bg-light lt text-center">

                                <div id="viewInversion">
                                  <div class="row">
                                      <div class="col-md-8"><input type="text" id="inversion" format="number"
                                                                   ng-model="amountInvestment"
                                                                   class="form-control" placeholder="$"/></div>
                                      <div class="col-md-4">
                                        <a ng-click="payInvestment()">
                                          <button class="btn btn-rounded btn-default">{{'label-invertir' | translate}}</button>
                                        </a>
                                      </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-8 col-md-offset-2">
                                    <div class="panel m-t-lg">
                                      <p class="h3 m-t-xs m-b-xs text-center">{{'label-lastVersion' | translate}}</p>

                                      <p class="h3 m-t-xs m-b-xs text-center"><span>{{project.currency.symbol}} {{project.lastInvestment}}</span></p>

                                      <div id="hace" class="text-center">{{ 'label-hace' | translate }} {{project.dateLastInvestment}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </section>
                        </div>
                        <div class="well m-t bg-light lt">

                          <div class="wrap-md">
                            <section class="row">

                              <h3 class="font-bold" style="color: #FBD40C">{{'label-datosEmpresa' | translate}}</h3>
                              <div class="col-md-6">
                                  <p><strong>{{project.company.name}}</strong></p>

                                  <div class="panel panel-default">
                                      <table class="table">
                                          <tr>
                                              <td>{{'label-location' | translate}}</td>
                                              <td>{{project.company.location.city.state.country.name}} / {{project.company.location.city.state.name}} / {{project.company.location.city.name}}</td>
                                          </tr>
                                          <tr>
                                              <td>{{'label-objetive' | translate}}</td>
                                              <td> {{project.currency.symbol}} {{project.objetive}} {{project.currency.description}}</td>
                                          </tr>
                                          <tr>
                                              <td>{{'label-dayRest' | translate}}</td>
                                              <td>{{project.leftDays}}</td>
                                          </tr>
                                          <tr>
                                              <td>{{'label-sectorImpactara' | translate}}</td>
                                              <td>{{project.impactSector.description}}</td>
                                          </tr>
                                          <tr>
                                              <td>{{'label-actividadEconomica' | translate}}</td>
                                              <td>{{project.economicActivity.description}}</td>
                                          </tr>
                                      </table>
                                  </div>
                              </div>
                              <div class="col-md-6">

                                <div class="well m-t bg-light lt text-center">

                                  <div class="row wrapper-md">
                                    <div class="text-center">
                                      <div class="row" align="center">
                                        <div ng-app="myApp.productSheet">
                                          <div class="wrapper-md">
                                            <videogular vg-theme="config.theme">
                                              <vg-media vg-src="config.sources"
                                                        vg-tracks="config.tracks">
                                              </vg-media>
                                              <vg-controls>
                                                <vg-play-pause-button></vg-play-pause-button>
                                                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                                <vg-scrub-bar>
                                                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                                </vg-scrub-bar>
                                                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                                <vg-volume>
                                                  <vg-mute-button></vg-mute-button>
                                                  <vg-volume-bar></vg-volume-bar>
                                                </vg-volume>
                                                <vg-fullscreen-button></vg-fullscreen-button>
                                              </vg-controls>
                                              <vg-overlay-play></vg-overlay-play>
                                              <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                                            </videogular>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="text-center">
                                      <p>
                                        <strong id="titleContact">{{'label-contact' | translate}}</strong>
                                      </p>
                                      <div id="viewSendMail">
                                        <a class="btn btn-rounded btn-default btn-lg" ng-click="showModal=true">
                                          <span class="glyphicon glyphicon-envelope"></span>
                                          <span>{{'label-sendMail' | translate}}</span>
                                        </a>
                                      </div>
                                      <div class="row">
                                        <h3>
                                          <button id="webPage" class="btn btn-rounded btn btn-icon btn-default" ng-click="redireccionar(project.company.webPage)">
                                            <i class="fa-file-o"></i>
                                          </button>
                                          <button id="linkedin" class="btn btn-rounded btn btn-icon btn-default" ng-click="redireccionar(project.company.linkedin)">
                                            <i class="fa fa-linkedin-square"></i>
                                          </button>
                                          <button id="twitter" class="btn btn-rounded btn btn-icon btn-default" ng-click="redireccionarTwitter(project.company.twitter)">
                                            <i class="fa fa-twitter-square"></i>
                                          </button>
                                          <button id="facebook" class="btn btn-rounded btn btn-icon btn-default" ng-click="redireccionar(project.company.facebook)">
                                            <i class="fa fa-facebook-square"></i>
                                          </button>
                                        </h3>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="m-t-lg">
                                      <div class="col-sm-6" fb-like="myModel.Url"></div>
                                      <div class="col-sm-6" tweet="myModel.Name" tweet-url="myModel.Url"></div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </section>
                          </div>
                        </div>

                        <div class="well m-t bg-light lt">
                          <section class="row">

                            <p>
                            <h3 class="font-bold" style="color: #FBD40C">{{ 'label-datosProyecto'| translate}}</h3>
                            </p>
                            <div class="col-md-3">
                              <div class="panel panel-default">
                                <div class="panel-heading font-bold" role="tab" id="headingOne">
                                  <a role="button" data-toggle="collapse" data-parent="#accordion"
                                     aria-expanded="true" href="javascript:;" data-target="#collapseOne"
                                     aria-controls="collapseOne">
                                    {{ "label-documentos" | translate}}
                                  </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                   aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    <div class="col-sm-6" ng-repeat="document in project.documents">
                                        <div class="m-t-lg" align="center" style="word-wrap: break-word;">
                                          <a ng-click="download(document)">
                                            <img ng-src="{{getIcono(document)}}" alt="" style="width: 64px;
                                            height: 39px;"/>
                                            <div class="text-center">
                                              {{document.name}}
                                            </div>
                                          </a>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-9">

                              <div class="tab-container">
                                <ul class="nav nav-tabs">
                                  <li class="active">
                                      <a data-target="#tabInformacionProyecto" role="tab" data-toggle="tab">{{'label-informacionProyecto' | translate}}</a>
                                  </li>
                                  <li >
                                      <a data-target="#tabRecursosFinancieros" role="tab" data-toggle="tab">{{'label-recursosFinancieros' | translate}}</a>
                                  </li>
                                  <li >
                                      <a data-target="#tabRecompensas" role="tab" data-toggle="tab">{{'label-recompensas' | translate}}</a>
                                  </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="tabInformacionProyecto" class="tab-pane active">

                                      <div class="panel panel-default font-bold">

                                        <div class="panel-body">

                                      <div class="panel-group" id="accordionTwo" role="tablist" aria-multiselectable="true">

                                        <div class="panel panel-default">

                                          <div class="panel-heading font-bold" role="tab" id="headingTwoOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordionTwo"
                                               aria-expanded="true" href="javascript:;" data-target="#collapseTwoOne"
                                               aria-controls="collapseTwoOne">
                                              {{ 'label-lugarEjecucionProyecto' | translate }}
                                            </a>
                                          </div>

                                          <div id="collapseTwoOne" class="panel-collapse collapse in" role="tabpanel"
                                               aria-labelledby="headingTwoOne">
                                            <div class="panel-body">

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-direccion' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.location.address}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-ciudad' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.location.city.name}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-municipio' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.location.municipality}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-estado' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.location.city.state.name}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-codigoPostal' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.location.postalCode}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-pais' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.location.city.state.country.name}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-referenciaUbicación' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.location.locationReference}}</label>
                                              </div>

                                            </div>
                                          </div>
                                        </div>


                                        <div class="panel panel-default">
                                          <div class="panel-heading font-bold" role="tab" id="headingTwoTwo">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordionTwo" data-target="#collapseTwoTwo"
                                               aria-expanded="false" aria-controls="collapseTwoTwo">
                                              {{ 'label-resumenEjecutivoProyecto' | translate }}

                                            </a>
                                          </div>

                                          <div id="collapseTwoTwo" class="panel-collapse collapse" role="tabpanel"
                                               aria-labelledby="headingTwoTwo">
                                            <div class="panel-body">

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-objetivoGeneral' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.generalObjetive}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-objetivosEspecificos' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.specificObjetives}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-descripcionProyecto' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.description}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-sectorImpactara' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.impactSector.description}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-actividadEconomicaEnfocara' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.economicActivity.description}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-4 control-label text-left">{{ 'label-tiempoEjecucionProyecto' | translate}}:</label>
                                                <label class="col-sm-8 control-label text-left"> {{project.monthExecution}} meses</label>
                                              </div>

                                            </div>
                                          </div>
                                        </div>

                                        <div class="panel panel-default">
                                          <div class="panel-heading font-bold" role="tab" id="headingTwoThree">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordionTwo" data-target="#collapseTwoThree"
                                               aria-expanded="false" aria-controls="collapseTwoThree">
                                              {{ 'label-calendario' | translate }}
                                            </a>
                                          </div>

                                          <div id="collapseTwoThree" class="panel-collapse collapse" role="tabpanel"
                                               aria-labelledby="headingTwoThree">
                                            <div class="panel-body">

                                              <div class="panel panel-default table-responsive">
                                                <table class="tableCustom" width="100%">
                                                  <tr>
                                                    <th class="thCustom">{{ 'label-actividadEs' | translate}}</th>
                                                    <th class="thCustom">{{ 'label-mesRealizacion' | translate}}</th>
                                                  </tr>
                                                  <tr ng-repeat="activity in project.calendars">
                                                    <td class="tCustom"> {{activity.activity}} </td>
                                                    <td class="tCustom">

                                                      <div ng-if="activity.month == '1' ">
                                                        {{ 'label-enero' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '2' ">
                                                        {{ 'label-febrero' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '3' ">
                                                        {{ 'label-marzo' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '4' ">
                                                        {{ 'label-abril' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '5' ">
                                                        {{ 'label-mayo' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '6' ">
                                                        {{ 'label-junio' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '7' ">
                                                        {{ 'label-julio' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '8' ">
                                                        {{ 'label-agosto' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '9' ">
                                                        {{ 'label-septiembre' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '10' ">
                                                        {{ 'label-octubre' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '11' ">
                                                        {{ 'label-noviembre' | translate}}
                                                      </div>
                                                      <div ng-if="activity.month == '12' ">
                                                        {{ 'label-diciembre' | translate}}
                                                      </div>

                                                    </td>
                                                  </tr>
                                                </table>
                                              </div>

                                            </div>
                                          </div>
                                        </div>

                                        <div class="panel panel-default">
                                          <div class="panel-heading font-bold" role="tab" id="headingTwoFour">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordionTwo" data-target="#collapseTwoFour"
                                               aria-expanded="false" aria-controls="collapseTwoFour">
                                              {{ 'label-metas' | translate }}
                                            </a>
                                          </div>

                                          <div id="collapseTwoFour" class="panel-collapse collapse" role="tabpanel"
                                               aria-labelledby="headingTwoFour">
                                            <div class="panel-body">

                                              <div class="row">
                                                <label class="col-sm-6 control-label text-left">{{ 'label-resultadosConcretos' | translate}}:</label>
                                                <label class="col-sm-6 control-label text-left"> {{project.productResult}}</label>
                                              </div>

                                              <div class="row">
                                                <label class="col-sm-6 control-label text-left">{{ 'label-ventasGananciasEsperadas' | translate}}:</label>
                                                <label class="col-sm-6 control-label text-left"> {{project.salesEarning}}</label>
                                              </div>

                                            </div>
                                          </div>
                                        </div>

                                     </div>
                                     </div>
                                      </div>
                                    </div>
                                    <div id="tabRecursosFinancieros" class="tab-pane font-bold">
                                      <div class="panel panel-default">

                                        <div class="panel-body">

                                          <div class="row">
                                            <label class="col-sm-4 control-label text-left">{{ 'label-montoTotalRequerido' | translate }}:</label>
                                            <label class="col-sm-8 control-label text-left"> {{project.currency.symbol}} {{project.objetive}} ({{project.currency.description}}) </label>
                                          </div>

                                          <div class="row">
                                            <label class="col-sm-12 control-label text-left">{{ 'label-distribucionRecursoSolicitado' | translate }}:</label>
                                          </div>

                                          <div class="panel panel-default table-responsive">
                                            <table class="tableProductSheet" width="100%">
                                              <tr>
                                                <th class="thCustom">{{ 'label-conceptoRubros' | translate }}</th>
                                                <th class="thCustom">{{ 'label-recursoImporte' | translate }}</th>
                                                <th class="thCustom">{{ 'label-mes' | translate}}</th>
                                              </tr>
                                              <tr ng-repeat="resource in project.resources">
                                                <td class="tCustom">{{resource.concept}}</td>
                                                <td class="tCustom">{{resource.amount}}</td>
                                                <td class="tCustom">

                                                  <div ng-if="resource.month == '1' ">
                                                    {{ 'label-enero' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '2' ">
                                                    {{ 'label-febrero' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '3' ">
                                                    {{ 'label-marzo' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '4' ">
                                                    {{ 'label-abril' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '5' ">
                                                    {{ 'label-mayo' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '6' ">
                                                    {{ 'label-junio' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '7' ">
                                                    {{ 'label-julio' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '8' ">
                                                    {{ 'label-agosto' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '9' ">
                                                    {{ 'label-septiembre' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '10' ">
                                                    {{ 'label-octubre' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '11' ">
                                                    {{ 'label-noviembre' | translate}}
                                                  </div>
                                                  <div ng-if="resource.month == '12' ">
                                                    {{ 'label-diciembre' | translate}}
                                                  </div>

                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                    <div id="tabRecompensas" class="tab-pane font-bold">
                                      <div class="panel panel-default">

                                        <div class="panel-body">

                                          <div class="row">
                                            <label class="col-sm-4 control-label text-left">% {{ 'label-accionesEmpresa' | translate }}:</label>
                                            <label class="col-sm-8 control-label text-left"> {{project.companyShares}}</label>
                                          </div>

                                          <div class="row">
                                            <label class="col-sm-4 control-label text-left">% {{ 'label-interesMensual' | translate }}:</label>
                                            <label class="col-sm-8 control-label text-left"> {{project.monthlyInterest}}</label>
                                          </div>

                                          <div class="row">
                                            <label class="col-sm-4 control-label text-left">{{ 'label-otroIncentivo' | translate}}:</label>
                                            <label class="col-sm-8 control-label text-left"> {{project.anotherIncentive}}</label>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div id="myloader">
  <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
