<ng-header></ng-header>
<section class="container project-details">
	<div dw-loading="project-detail" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
	<div class="row">
		<div class="col-md-12">
			<h1>{{project.name}}</h1>
			<div class="user-detail">
				<span>
					<i class="fa fa-user"></i>
					<b>{{project.person.name}} {{project.person.lastName}}</b>
				</span>
				<span>
					<i class="fa fa-map-marker"></i>
					<b>{{project.location.city.name}}, {{project.location.city.state.name}}.</b>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="project-info clearfix">
				<div class="col-sm-6 no-padding project-badge" 
					ng-class="{ 
					'es' : ( ribbon_style == 'es_MX'),
					'project-featured': (project.priorityType == 'OUTSTANDING'),
					'project-new': (project.priorityType == 'NEW'),
					'project-successful': (project.priorityType == 'SUCCESSFULL') }">
					<img ng-src="{{dominioImage}}{{project.image}}"
						style="height: 330px; width: 490px;">
				</div>
				<div class="col-sm-6">
					<h3>
						<span ng-if="(project.crowdfundingType == 'INVERSION')">{{ 'label-detalle-proyecto-acciones' | translate }} {{project.companyShares}}%</span>
						<span ng-if="(project.crowdfundingType == 'RECOMPENSA')">{{ 'label-detalle-proyecto-recompensas' | translate }}</span>
					</h3>
					<div class="project-data">
						<div class="data">
							<div class="title">{{ 'label-detalle-proyecto-impulsores' | translate }}</div>
							<span>
								<img class="data-img users" src="assets/img/users.svg">
								<b>{{project.investors}}</b>
							</span>
						</div>
						<div class="data">
							<div class="title">{{ 'label-detalle-proyecto-faltan' | translate }}</div>
							<span>
								<img class="data-img calendar" src="assets/img/calendar.svg">
								<b>{{project.leftDays}} {{ 'label-detalle-proyecto-dias' | translate }}</b>
							</span>
						</div>
					</div>
					<div class="end-date">{{ 'label-detalle-proyecto-fecha-limite' | translate }}:</div>
					<div class="date">{{project.limitDate | date:'longDate'}}</div>
					<div class="collected">{{ project.obtained | currency : project.currency.symbol : 2 }} {{ 'label-detalle-proyecto-recaudado' | translate }}</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar"
							aria-valuenow="{{project.percent}}"
							aria-valuemin="0" aria-valuemax="100"
							ng-style="{ width: project.percent + '%'}">
							<span class="sr-only">{{project.percent}}% {{ 'label-detalle-proyecto-porcentaje-completo' | translate }}</span>
						</div>
					</div>
					<div class="required">
						{{ 'label-detalle-proyecto-requiere' | translate }}: {{ project.objetive | currency : project.currency.symbol : 2 }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="project-meta row">
		<div class="col-sm-6">
			<span class="prominent-project hightlight">
				<i class="fa fa-star" ng-hide="project.priorityType == 'NOTAPPLY'"></i>
				<span ng-if="(project.priorityType == 'OUTSTANDING')">{{ 'label-detalle-proyecto-destacado' | translate }}</span>
				<span ng-if="(project.priorityType == 'NEW')">{{ 'label-detalle-proyecto-nuevo' | translate }}</span>
				<span ng-if="(project.priorityType == 'SUCCESSFULL')">{{ 'label-detalle-proyecto-exitoso' | translate }}</span>
			</span>
			<!--span class="project-tags">
				<i class="fa fa-tag"></i>
				<span>ACCIONES</span>
				<span>Emprendimiento</span>
				<span>Empresas familiares</span>
				</span-->
		</div>
		<div class="col-sm-6 share">
			<div ng-if="(project.internetInformation.facebook || project.internetInformation.twitter || project.internetInformation.webPage)">
				<span>{{ 'label-detalle-proyecto-compartir' | translate }}:</span>
				<a href ng-click="redireccionar(project.internetInformation.facebook)" ng-if="(project.internetInformation.facebook)">
					<img src="assets/img/facebook.png">
				</a>
				<a href ng-click="redireccionarTwitter(project.internetInformation.twitter)" ng-if="(project.internetInformation.twitter)">
					<img src="assets/img/twitter.png">
				</a>
				<a href ng-click="redireccionar(project.internetInformation.webPage)" ng-if="(project.internetInformation.webPage)">
					<i class="fa fa-envelope"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="project-video project-badge" 
			ng-class="{ 
				'es' : ( ribbon_style == 'es_MX'),
				'project-featured': (project.priorityType == 'OUTSTANDING'),
				'project-new': (project.priorityType == 'NEW'),
				'project-successful': (project.priorityType == 'SUCCESSFULL') }">
				<anguvideo ng-model="project.video" width="100%" height="320"></anguvideo>
			</div>
			<div><br><br></div>
			<div class="project-description" ng-bind-html="project.description"></div>
		</div>
		<div class="col-md-4">
			<div class="rewards">
				<div class="reward" ng-if="(project.crowdfundingType == 'INVERSION')">
					<div class="section">
						<h2>{{ 'label-detalle-proyecto-invierte' | translate }} <b>{{ 'label-detalle-proyecto-requiere' | translate }}: {{ project.minimumInvesment | currency : project.currency.symbol : 2 }}</b></h2>
					</div>
					<div class="section">
						<p>{{ 'label-detalle-proyecto-fecha-limite-inversion' | translate }}: </p>
						<p>
							<b style="text-transform: capitalize">{{ 'label-detalle-proyecto-faltan' | translate }} {{project.leftDays}} {{ 'label-detalle-proyecto-dias' | translate }}</b>
						</p>
					</div>
					<div class="section">
						<p>
							<b>{{project.investors}}</b> {{ 'label-detalle-proyecto-inversionistas-comprometidos' | translate }}
						</p>
					</div>
					<div class="details clearfix">
						<div class="col-xs-6"></div>
						<div class="col-xs-6">
							<button class="btn btn-orange" ng-click="payInvestment(project.minimumInvesment, 0)">{{ 'label-detalle-proyecto-invertir' | translate }}</button>
						</div>
					</div>
				</div>
				<div class="reward" ng-if="(project.crowdfundingType == 'RECOMPENSA')" ng-repeat="reward in project.rewards">
					<div class="section">
						<h2>{{ 'label-detalle-proyecto-impulsa-con' | translate}} <b>{{ reward.amount | currency : project.currency.symbol : 2 }}</b></h2>
					</div>
					<div class="section">
						<p>
							<b>{{ 'label-detalle-proyecto-gracias' | translate}}</b>
						</p>
					</div>
					<div class="section">
						<p ng-bind-html="reward.description"></p>
					</div>
					<div class="section">
						<p>
							<b>{{ 'label-detalle-proyecto-entrega-aproximada' | translate}}</b>
						</p>
						<p style="text-transform: capitalize">
							{{reward.estimatedDate | date:'MMMM yyyy'}}
						</p>
					</div>
					<div class="details clearfix">
						<div class="col-xs-6">
							<div class="summary">
								<div>
									<b>{{reward.available - reward.quantity}}/{{reward.available}} {{ 'label-detalle-proyecto-disponibles-2' | translate}}</b>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<button class="btn btn-orange" ng-click="payInvestment(reward.amount, reward.id)" ng-show="(reward.available - reward.quantity) > 0">{{'label-detalle-proyecto-impulsar' | translate }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<ng-footer></ng-footer>