/*.h1,*/
/*.h2,*/
/*.h3,*/
/*.h4,*/
/*.h5,*/
/*.h6 {*/
  /*margin: 0;*/
  /*font-family: "Helvetica";*/
/*}*/

#myloader {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color:grey;
  opacity: .8;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px;  /* -1 * image height / 2 */
  display: block;
}

.tableCustom{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
}
.tableCustom tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
.tableCustom tr:nth-child(even) {
  background-color: #ffffff;
}

.tHistoryInvestment {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  width: 150px;
  text-align: center;
}

.tCustom {
  border: 2px solid white;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

.thCustom{
  background: black;
  color: white;
  border: 2px solid white;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  font-weight: bold;
}

.videogular-container {
  width: 100%;
  height: 320px;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .videogular-container {
    width: 1170px;
    height: 658.125px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    width: 940px;
    height: 528.75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .videogular-container {
    width: 728px;
    height: 409.5px;
  }
}
