<ng-header></ng-header>

<section class="configuracion">
	<div class="container" dw-loading="my-profile" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
		<div class="logged-user">
			{{ 'label-configuracion-saludos' | translate}}<span class="user-name">{{nameUser}} {{lastname}}</span>
		</div>
		<h1>
			{{ 'label-configuracion-title' | translate}}
		</h1>
		<messages src="messages" name="messages" ></messages>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#datos_usuario"
					aria-controls="datos_usuario"
					role="tab"
					data-toggle="tab" target="_self">
				{{ 'label-configuracion-tab-1' | translate}}
				</a>
			</li>
			<li role="presentation">
				<a href="#informacion_complementaria"
					aria-controls="informacion_complementaria"
					role="tab"
					data-toggle="tab" target="_self">
				{{ 'label-configuracion-tab-2' | translate}}
				</a>
			</li>
		</ul>
		<!-- Tab panes -->
		<form name="form" class="form-horizontal" method="post">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="datos_usuario">
				<div class="row">
					<div class="col-md-6">
						<section>
							<h4 class="sub-title">
								{{ 'label-configuracion-tab-1-section-user' | translate}}
							</h4>
							<fieldset>
								<div class="form-group" ng-class="{ 'has-error': form.nombreUsuario.$invalid }">
									<label for="nombre" class="col-md-3">{{ 'label-configuracion-tab-1-name' | translate}}</label>
									<div class="col-md-9">
										<input type="text" name="nombreUsuario" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="user.person.name" class="form-control" ng-maxlength="255" maxlength="255">
										<p ng-show="form.nombreUsuario.$error.pattern" class="help-block">{{'label-nombreNoCumplePattern' | translate}}</p>
									</div>
								</div>
								<div class="form-group" ng-class="{ 'has-error': form.personLastName.$invalid }">
									<label for="apellido" class="col-md-3">{{ 'label-configuracion-tab-1-lastname' | translate}}</label>
									<div class="col-md-9">
										<input type="text" name = "personLastName" ng-model="user.person.lastName" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="255" maxlength="255">
										<p ng-show="form.personLastName.$error.pattern" class="help-block">{{'label-apellidoNoCumplePattern' | translate}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="usuario" class="col-md-3">{{ 'label-configuracion-tab-1-username' | translate}}</label>
									<div class="col-md-9">
										<input type="text" ng-model="user.username" class="form-control" disabled>
									</div>
								</div>
								<div class="form-group" ng-class="{ 'has-error': form.photo.$invalid && form.photo.$dirty }">
									<label for="foto_perfil" class="col-md-3">{{ 'label-configuracion-tab-1-profile-foto' | translate}}</label>
									<div class="col-md-9">
										<input type="file" data-icon="false" name="photo" data-classbutton="btn btn-default" ng-model="photo" onchange="angular.element(this).scope().setContactPhoto()" data-classinput="form-control inline v-middle input-s" id="photo" tabindex="-1" ui-jq="filestyle">
										<p class="help-block">
											{{ 'label-configuracion-tab-1-profile-photo-formato' | translate }}
										</p>
									</div>
								</div>
							</fieldset>
						</section>
						<section>
							<h4 class="sub-title">
								{{ 'label-configuracion-tab-1-section-access' | translate }}
							</h4>
							<fieldset>
								<div class="form-group" ng-class="{ 'has-error': form.email.$invalid  }">
									<label for="correo" class="col-md-3">{{ 'label-configuracion-tab-1-email' | translate }}</label>
									<div class="col-md-9">
										<input type="email" name="email" ng-model="user.person.email" class="form-control" placeholder="user@mydomain.com" required ng-maxlength="255" maxlength="255">
									</div>
								</div>
								<div class="form-group">
									<label for="nueva_clave" class="col-md-3">
									{{ 'label-configuracion-tab-1-new-password' | translate }}
									</label>
									<div class="col-md-9">
										<input type="password" ng-model="user.password" class="form-control" ng-maxlength="255" maxlength="255">
									</div>
								</div>
								<div class="form-group">
									<label for="confirmar_clave" class="col-md-3">
									{{ 'label-configuracion-tab-1-confirm-new-password' | translate }}
									</label>
									<div class="col-md-9">
										<input type="password" class="form-control" name="confirm_password" ng-model="confirm_password" ui-validate="'$value==user.password'" ui-validate-watch="'user.password'" ng-maxlength="255" maxlength="255">
										<span ng-show="form.confirm_password.$error.validator">{{ 'label-configuracion-tab-1-passwordNoMatch' | translate }}</span>
									</div>
								</div>
							</fieldset>
						</section>
					</div>
					<div class="col-md-6">
						<section>
							<h4>
								{{ 'label-configuracion-tab-1-email-configuration' | translate}}
							</h4>
							<fieldset>
								<div class="row">
									<div class="col-md-12">
										<div class="checkbox"  ng-repeat="preference in mailPreferences">
											<label>
												<input type="checkbox" ng-checked="selectionMailPreferences.indexOf(preference) > -1" ng-click="toggleSelectionMailPreferences(preference)" value="{{preference}}">{{preference.description}}
											</label>
										</div>
									</div>
								</div>
							</fieldset>
						</section>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="informacion_complementaria">
					<div class="row">
						<div class="col-md-6">
							<section>
								<h4 class="sub-title">
									{{ 'label-configuracion-tab-2-section-additional-data' | translate }}
								</h4>
								<fieldset>
									<div class="form-group">
										<label class="col-md-3">{{ 'label-configuracion-tab-2-sex' | translate }}</label>
										<div class="col-md-9">
											<label class="radio-inline">
												<input type="radio" ng-model="user.person.sex" name="a" value="F">
												{{ 'label-configuracion-tab-2-sex-f' | translate }}
											</label>
											<label class="radio-inline">
												<input type="radio" ng-model="user.person.sex" name="a" value="M">
												{{ 'label-configuracion-tab-2-sex-m' | translate }}
											</label>
										</div>
									</div>
									<div class="form-group">
										<label for="direccion" class="col-md-3">
										{{ 'label-configuracion-tab-2-address' | translate }}
										</label>
										<div class="col-md-9">
											<textarea class="form-control" ng-model="user.person.location.address" rows="2" style="resize: none" ng-maxlength="255" maxlength="255"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="pais" class="col-md-3">{{ 'label-configuracion-tab-2-country' | translate }}</label>
										<div class="col-md-9">
											<select class="form-control m-b" ng-model="countrySelected" ng-change="getStates()" ng-options="country.name for country in countries">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="estado" class="col-md-3">{{ 'label-configuracion-tab-2-state' | translate }}</label>
										<div class="col-md-9">
											<select class="form-control m-b" ng-model="stateSelected" ng-change="getCities()" ng-options="state.name for state in states">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="ciudad" class="col-md-3">{{ 'label-configuracion-tab-2-city' | translate }}</label>
										<div class="col-md-9">
											<select class="form-control m-b" ng-model="citySelected" ng-options="city.name for city in cities">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="codigo_postal" class="col-md-3">{{ 'label-configuracion-tab-2-zipcode' | translate }}</label>
										<div class="col-md-9">
											<input type="text" ng-model="user.person.location.postalCode" class="form-control" ng-maxlength="255" maxlength="255">
										</div>
									</div>
									<div class="form-group">
										<label for="como_entero_nosotros" class="col-md-3">{{ 'label-configuracion-tab-2-how-heard' | translate }}</label>
										<div class="col-md-9">
											<select class="form-control m-b" ng-model="user.person.howFind" ng-options="howFind.description for howFind in howFinds">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="maximo_grado_academico" class="col-md-3">
										{{ 'label-configuracion-tab-2-education-level' | translate }}
										</label>
										<div class="col-md-9">
											<textarea class="form-control" rows="2" ng-model="user.person.education" ng-maxlength="255" maxlength="255"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="hobbies" class="col-md-3">{{ 'label-configuracion-tab-2-hobbies' | translate }}</label>
										<div class="col-md-9">
											<textarea class="form-control" rows="2" ng-model="user.person.interests" ng-maxlength="255" maxlength="255"></textarea>
										</div>
									</div>
								</fieldset>
							</section>
						</div>
						<div class="col-md-6">
							<section>
								<h4 class="sub-title">
									{{ 'label-configuracion-tab-2-section-additional-data' | translate }}
								</h4>
								<fieldset>
									<div class="form-group">
										<label for="nivel_experiencia_inversor" class="col-md-3">{{ 'label-configuracion-tab-2-investor-level' | translate }}</label>
										<div class="col-md-9">
											<select class="form-control m-b" ng-model="user.person.experienceLevel" ng-options="experience.description for experience in experienceLevels">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="experiencia_inversor" class="col-md-3">{{ 'label-configuracion-tab-2-investor-experience' | translate }}</label>
										<div class="col-md-9">
											<textarea class="form-control" rows="2" ng-model="user.person.experienceDescription" ng-maxlength="255" maxlength="255"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="monto_maximo_proyecto" class="col-md-3">{{ 'label-configuracion-tab-2-investor-max-amount' | translate}}</label>
										<div class="col-md-9">
											<input type="text" numbers-only ng-model="user.person.amount" class="form-control" ng-maxlength="10" maxlength="10">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3">{{ 'label-configuracion-tab-2-strategic-sectors' | translate}}</label>
										<div class="col-md-9">
											<div class="checkbox"  ng-repeat="activity in economicActivities">
												<label>
												<input type="checkbox" ng-checked="selectEconomicActivities.indexOf(activity) > -1" ng-click="toggleEconomicActivities(activity)" value="{{activity}}">
												{{activity.description}}
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3">{{ 'label-configuracion-tab-2-invest-reasons' | translate}}</label>
										<div class="col-md-9">
											<div class="checkbox" ng-repeat="reason in reasonInvestments">
												<label>
												<input type="checkbox" ng-checked="selectionReason.indexOf(reason) > -1" ng-click="toggleSelectionReason(reason)" value="{{reason}}">
												{{reason.description}}
												</label>
											</div>
										</div>
									</div>
								</fieldset>
							</section>
						</div>
					</div>
			</div>
			<div class="btn-container">
				<button type="submit" class="btn btn-orange" ng-click="save()" ng-disabled="form.$invalid">{{ 'label-configuracion-save' | translate}}</button>
			</div>
		</div>
		</form>
	</div>
</section>

<ng-footer></ng-footer>
