<ng-header-loggeado></ng-header-loggeado>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
        <h5 class="m-n font-thin h5">{{ 'label-bienvenido' | translate }}, {{nameUser}} {{lastname}}</h5>
    </div>
    <div class="wrapper-md">

        <messages src="messages"></messages>
        <div class="tab-container">
            <ul class="nav nav-tabs">
                <li class="active"><a href data-toggle="tab" data-target="#tab_1">{{'label-usuario' | translate}}</a></li>
                <li><a href data-toggle="tab" data-target="#tab_2">{{'label-informacionCrowdEI' | translate}}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="wrapper-md">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                      {{'label-datosUsuario' | translate}}
                                    </div>
                                    <div class="panel-body">
                                        <form name="form1" class="form-horizontal" method="get">
                                            <div class="form-group" ng-class="{ 'has-error': form1.nombreUsuario.$invalid  }">
                                                <label class="col-sm-4 control-label text-left">{{'label-nombre' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <input type="text"
                                                           name="nombreUsuario"
                                                           ng-pattern="/^[a-zA-Z\s]*$/"
                                                           ng-model="user.person.name"
                                                           class="form-control  ">
                                                  <p ng-show="form1.nombreUsuario.$error.pattern" class="help-block">{{'label-nombreNoCumplePattern' | translate}}
                                                  </p>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error': form1.personLastName.$invalid  }">
                                                <label class="col-sm-4 control-label text-left">{{'label-apellido' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <input type="text"
                                                           name = "personLastName"
                                                           ng-model="user.person.lastName"
                                                           class="form-control"
                                                           ng-pattern="/^[a-zA-Z\s]*$/">
                                                  <p ng-show="form1.personLastName.$error.pattern" class="help-block">{{'label-apellidoNoCumplePattern' | translate}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-userName' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <input type="text" ng-model="user.username" class="form-control" disabled>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="panel-heading font-bold">
                                      {{'label-accesoSistema' | translate}}
                                    </div>
                                    <div class="panel-body">
                                        <form name="form2" class="form-horizontal" method="get">
                                            <div class="form-group has-warning" ng-class="{ 'has-error': form2.email.$invalid  }">
                                                <label class="col-lg-4 control-label text-left">{{'label-correo' | translate}}</label>
                                                <div class="col-lg-8">
                                                    <input type="email" name="email" ng-model="user.person.email" class="form-control " placeholder="user@mydomain.com" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-nuevaContrasena' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <input type="password" ng-model="user.password" class="form-control ">
                                                </div>
                                            </div>
                                            <div class="form-group has-warning" ng-class="{ 'has-error': form2.confirm_password.$invalid && form2.confirm_password.$dirty }">
                                                <label class="col-sm-4 control-label text-left">{{'label-confirmarContrasena' | translate}}</label>
                                                <div class="col-sm-8">

                                                  <input type="password"
                                                         class="form-control"
                                                         name="confirm_password"
                                                         ng-model="confirm_password"
                                                         ui-validate=" '$value==user.password' "
                                                         ui-validate-watch=" 'user.password' ">

                                                  <span ng-show="form2.confirm_password.$error.validator">
                                                        {{'label-passwordNoMatch' | translate}}</span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                      {{'label-preferenciaCorreo' | translate}}
                                    </div>
                                    <div class="panel-body">
                                        <form class="form-horizontal" method="get">
                                            <div class="form-group col-sm-10" >
                                                <div class="checkbox"  ng-repeat="preference in mailPreferences">
                                                    <label class="i-checks">
                                                        <input type="checkbox"
                                                               ng-checked="selectionMailPreferences.indexOf(preference) > -1"
                                                               ng-click="toggleSelectionMailPreferences(preference)"
                                                               value="{{preference}}">
                                                        <i></i>
                                                        {{preference.description}}
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default" ng-click="redirecToHome()">{{ 'boton-cancelar' | translate }}</button>
                            <button type="submit" class="btn btn-black" ng-click="save()"
                                    ng-disabled="form1.$invalid && form2.$invalid">{{ 'boton-guardar' | translate }}</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div class="wrapper-md">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                      {{'label-datosAdicionalesUsuario' | translate}}
                                    </div>
                                    <div class="panel-body">
                                        <form class="form-horizontal" method="get">
                                            <div class="form-group" >
                                                <label class="col-sm-4 control-label text-left">{{'label-sexo' | translate}}</label>
                                                <div class="col-sm-8 radio">
                                                    <label class="i-checks">
                                                        <input type="radio" ng-model="user.person.sex" name="a" value="F">
                                                        <i></i>
                                                        F
                                                    </label>
                                                    <label class="i-checks">
                                                        <input type="radio" ng-model="user.person.sex" name="a" value="M">
                                                        <i></i>
                                                        M
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-direccion' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" ng-model="user.person.address" rows="2" style="resize: none"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-pais' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control m-b" ng-model="countrySelected" ng-change="getStates()" ng-options="country.name for country in countries">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-estado' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control m-b" ng-model="stateSelected" ng-change="getCities()" ng-options="state.name for state in states">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-ciudad' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control m-b" ng-model="citySelected" ng-options="city.name for city in cities">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-codigoPostal' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <input type="text" ng-model="user.person.postalCode" class="form-control ">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                      {{'label-additionalInformation' | translate}}
                                    </div>
                                    <div class="panel-body">
                                        <form class="form-horizontal" method="get">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-nombre' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <input type="text" ng-model="user.person.name" class="form-control ">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">Image</label>
                                                <div class="col-sm-8">
                                                    <input type="file" data-icon="false"
                                                           data-classbutton="btn btn-default"
                                                           data-classinput="form-control inline v-middle input-s" id="filestyle-0" tabindex="-1"
                                                           style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                                    <div class="bootstrap-filestyle input-group">
                                                        <input type="text" class="form-control " disabled="">
                                                           <span class="group-span-filestyle input-group-btn" tabindex="0">
                                                             <label for="filestyle-0" class="btn btn-default ">
                                                                 <span class="glyphicon glyphicon-search"></span>
                                                             </label>
                                                           </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-nivelExperienciaInversor' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group bootstrap-touchspin">
                                                        <select class="form-control m-b" ng-model="user.person.experienceLevel" ng-options="experience.description for experience in experienceLevels">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-describaExperienciaInversor' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" rows="2" ng-model="user.person.experienceDescription" ></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-montoInvertiria' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <input type="number" ng-model="user.person.amount" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-tipoNegocioInvirtiria' | translate}}</label>
                                                <div class="form-group col-sm-8" >
                                                    <div class="checkbox"  ng-repeat="business in businessTypes">
                                                        <label class="i-checks">
                                                            <input type="checkbox"
                                                                   ng-checked="selectionBusiness.indexOf(business) > -1"
                                                                   ng-click="toggleSelectionBusiness(business)"
                                                                   value="{{business}}">
                                                            <i></i>
                                                            {{business.description}}
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-queMotivaInvertir' | translate}}</label>
                                                <div class="form-group col-sm-8">
                                                    <div class="checkbox"  ng-repeat="reason in reasonInvestments">
                                                        <label class="i-checks">
                                                            <input type="checkbox"
                                                                   ng-checked="selectionReason.indexOf(reason) > -1"
                                                                   ng-click="toggleSelectionReason(reason)"
                                                                   value="{{reason}}">
                                                            <i></i>
                                                            {{reason.description}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-comoEnteroNosotros' | translate}}</label>
                                                <div class="col-sm-8">

                                                    <select class="form-control m-b" ng-model="user.person.howFind" ng-options="howFind.description for howFind in howFinds">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-descripcionUsted' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" rows="2" ng-model="user.person.description" ></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-educacion' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" rows="2" ng-model="user.person.education" ></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-left">{{'label-intereses' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" rows="2" ng-model="user.person.interests"  ></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-default" ng-click="redirecToHome()">{{ 'boton-cancelar' | translate }}</button>
                                <button type="submit" class="btn btn-black" ng-click="save()" ng-disabled="form1.$invalid && form2.$invalid">{{ 'boton-guardar' |
                                  translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </tabset>
        </div>
    </div>
  </div>
</div>
<div id="myloader">
  <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
