<ng-header></ng-header>
<ng-menu-su></ng-menu-su>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">

    <div id="carousel-example-generic" class="carousel slide sube" data-ride="carousel">
        <!-- Indicators -->
        <!-- los data-target deben tener el mismo nombre que el id del div que lo contiene -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="template/img/Imagen_1920x600-01.png" alt="fondo" class="img-responsive">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="template/img/Imagen_1920x600-02.png" alt="fondo" class="img-responsive">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
              <img src="template/img/Imagen_1920x600-03.png" alt="fondo" class="img-responsive">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="template/img/Imagen_1920x600-04.png" alt="fondo" class="img-responsive">
              <div class="carousel-caption">
              </div>
            </div>
        </div>
    </div>

    <section class="col-sm-8">
        <div class="wrapper-md">


          <div ng-repeat="project in projectList">
            <div ng-if="project.priorityType == 'OUTSTANDING' ">

              <div ng-if="project.position == '1' ">
                <div class="row">
                  <div class="wrapper-md">
                    <h3 class="font-bold">Proyectos</h3>
                    <h4 class="col-sm-10 font-bold">{{'label-highlights' | translate}}</h4>
                    <button class="btn btn-sm btn-black col-sm-2" ng-click="seeMore(project.priorityType)">{{'label-verMas' | translate}}</button>
                  </div>
                </div>
              </div>

              <a href="#/productSheet/{{project.id}}">
                <div class="well m-t bg-light lt">
                  <div class="row ">
                    <div class="col-sm-3">
                      <div align="center">
                        <img class="img-responsive" ng-src="data:image/jpeg;base64,{{project.image}}"
                             style="height: 115px;width: 186px;">
                      </div>
                      <div class="text-center-folded">
                        <span class="hidden-folded"><img src="template/img/flag/16/{{project.location.city.state.country.iso}}.png"> </img> {{project.location.city.state.name}}</span>
                        <span class="pull-right pull-none-folded">{{project.percent}} %</span>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <h4 class="font-bold">{{project.name}}</h4>
                      <p>{{project.description}} </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div>
                        <div id="cantidadObtenidos" class="progress progress-sm progress-striped active m-t-xs m-b-none">
                          <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="{{project.percent}}" style="width: {{project.percent}}%"></div>
                        </div>
                      </div>
                      <div class="text-center">
                        <span class="hidden-folded"> <span class="font-bold">$ {{project.obtained}}</span> {{'label-obtained' | translate}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="text-center">{{'label-objetive' | translate}}</div>
                      <div class="text-center">
                        <span class="font-bold">$ {{project.objetive}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="text-center">{{'label-investors' | translate}}</div>
                      <div class="text-center">
                        <span class="font-bold">{{project.investors}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="text-center">{{'label-daysRemaining' | translate}}</div>
                      <div class="text-center">
                        <span class="font-bold">{{project.leftDays}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>




          <div ng-repeat="project in projectList">
            <div ng-if="project.priorityType == 'NEW' ">

              <div ng-if="project.position == '1' ">
                <div class="row">
                  <div class="wrapper-md">
                    <h4 class="col-sm-10 font-bold">{{'label-nuevos' | translate}}</h4>
                    <button class="btn btn-sm btn-black col-sm-2" ng-click="seeMore(project.priorityType)">{{'label-verMas' | translate}}</button>
                  </div>
                </div>
              </div>

              <a href="#/productSheet/{{project.id}}">
                <div class="well m-t bg-light lt">
                  <div class="row ">
                    <div class="col-sm-3">
                      <div align="center">
                        <img class="img-responsive" ng-src="data:image/jpeg;base64,{{project.image}}"
                             style="height: 115px;width: 186px;">
                      </div>
                      <div class="text-center-folded">
                        <span class="hidden-folded"><img src="template/img/flag/16/{{project.location.city.state.country.iso}}.png"> </img> {{project.location.city.state.name}}</span>
                        <span class="pull-right pull-none-folded">{{project.percent}} %</span>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <h4 class="font-bold">{{project.name}}</h4>
                      <p>{{project.description}} </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div>
                        <div id="cantidadObtenidos1" class="progress progress-sm progress-striped active m-t-xs m-b-none">
                          <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="{{project.percent}}" style="width: {{project.percent}}%"></div>
                        </div>
                      </div>
                      <div class="text-center">
                        <span class="hidden-folded"> <span class="font-bold">$ {{project.obtained}}</span> {{'label-obtained' | translate}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="text-center">{{'label-objetive' | translate}}</div>
                      <div class="text-center">
                        <span class="font-bold">$ {{project.objetive}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="text-center">{{'label-investors' | translate}}</div>
                      <div class="text-center">
                        <span class="font-bold">{{project.investors}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="text-center">{{'label-daysRemaining' | translate}}</div>
                      <div class="text-center">
                        <span class="font-bold">{{project.leftDays}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>


          <div ng-repeat="project in projectList">
            <div ng-if="project.priorityType == 'SUCCESSFULL' ">

              <div ng-if="project.position == '1' ">
                <div class="row">
                  <div class="wrapper-md">
                    <h4 class="col-sm-10 font-bold">Exitosos</h4>
                    <button class="btn btn-sm btn-black col-sm-2" ng-click="seeMore(project.priorityType)">{{'label-verMas' | translate}}</button>
                  </div>
                </div>
              </div>

              <a href="#/productSheet/{{project.id}}">
                <div class="well m-t bg-light lt">
                  <div class="row ">
                    <div class="col-sm-3">
                      <div align="center">
                        <img class="img-responsive" ng-src="data:image/jpeg;base64,{{project.image}}"
                             style="height: 115px;width: 186px;">
                      </div>
                      <div class="text-center-folded">
                        <span class="hidden-folded"><img src="template/img/flag/16/{{project.location.city.state.country.iso}}.png"> </img> {{project.location.city.state.name}}</span>
                        <span class="pull-right pull-none-folded">{{project.percent}} %</span>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <h4 class="font-bold">{{project.name}}</h4>
                      <p>{{project.description}} </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div>
                        <div id="cantidadObtenidos2" class="progress progress-sm progress-striped active m-t-xs m-b-none">
                          <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="{{project.percent}}" style="width: {{project.percent}}%"></div>
                        </div>
                      </div>
                      <div class="text-center">
                        <span class="hidden-folded"> <span class="font-bold">$ {{project.obtained}}</span> {{'label-obtained' | translate}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="text-center">{{'label-objetive' | translate}}</div>
                      <div class="text-center">
                        <span class="font-bold">$ {{project.objetive}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="text-center">{{'label-investors' | translate}}</div>
                      <div class="text-center">
                        <span class="font-bold">{{project.investors}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="text-center">{{'label-daysRemaining' | translate}}</div>
                      <div class="text-center">
                        <span class="font-bold">{{project.leftDays}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>


        </div>
    </section>


    <section class="col-sm-4">
      <div class="wrapper-md">


        <div ng-repeat="project in projectList">
          <div ng-if="project.priorityType == 'LASTINVESTMENT' ">

            <div ng-if="project.position == '1' ">
              <div class="row">
                <h3 class="font-bold text-center">{{'label-lastVersion' | translate}} </h3>
              </div>
            </div>

            <a href="#/productSheet/{{project.id}}">
              <div class="well m-t bg-light lt">
                <div class="row">
                  <div class="text-center"><span class="font-bold"> $ {{project.lastInvestment}}</span></div>
                  <div ng-if="project.dateLastInvestment != null">
                    <div class="text-center"> {{ 'label-hace' | translate }} {{project.dateLastInvestment}}<br></div>
                  </div>
                </div>
                <div class="row" align="center">
                  <img class="img-responsive" width="200" height="200" src="data:image/jpeg;base64,{{project.image}}" alt="">
                  <h4 class="font-bold">{{project.name}} </h4>
                </div>
              </div>
            </a>

          </div>
        </div>


        <div ng-repeat="project in projectList">
          <div ng-if="project.priorityType == 'JUSTPAID' ">

            <div ng-if="project.position == '1' ">
              <div class="row">
                <h3 class="font-bold text-center">{{'label-recentlyPaid' | translate}}</h3>
              </div>
            </div>

            <a href="#/productSheet/{{project.id}}">
              <div class="well m-t bg-light lt">
                <div class="row" align="center">
                  <img class="img-responsive" width="200" height="200" src="data:image/jpeg;base64,{{project.image}}" alt=""> <br>
                  <h4 class="font-bold">{{project.name}} </h4>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="text-center"><span class="font-bold"> $ {{project.obtained}}</span></div>
                    <div class="text-center"> {{'label-invested' | translate}} <br></div>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-center"><span class="font-bold"> {{project.percent}} %</span></div>
                    <div class="text-center"> {{'label-funded' | translate}} <br></div>
                  </div>
                </div>
              </div>
            </a>

          </div>
        </div>

      </div>
    </section>
  </div>
</div>
<div id="myloader">
  <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
