<section class="inicio">

<ng-header></ng-header>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img ng-src="{{carousel_image_1}}" alt="carousel 1">
			</div>
			<div class="item">
				<img ng-src="{{carousel_image_2}}" alt="carousel 2">
			</div>
			<div class="item">
				<img ng-src="{{carousel_image_3}}" alt="carousel 3">
			</div>
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" target="_self">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" target="_self">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<div class="content-wrapper">
		<div class="container">
			<img src="assets/img/logo.svg" class="logo-big">
			<div class="row squares">
				<div class="col-md-12">
					<div class="col-md-7">
						<div class="background-orange">
							<p>
								{{ 'label-home-buscas-arrancar' | translate}}
							</p>
							<p>
								{{ 'label-home-crowdei-es-la-opcion' | translate}}
							</p>
							<a href="#">
								{{ 'label-home-convierte-en-corredor' | translate}}
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-7 col-md-offset-5">
						<div class="background-blue">
							<p>
								{{ 'label-home-deseas-apoyar' | translate}}
							</p>
							<p>
								{{ 'label-home-nosotros-te-mostramos' | translate}}
							</p>
							<a href="#">
								{{ 'label-home-convierte-en-impulsor' | translate}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container como-funciona">
			<h1>
				{{ 'label-home-como-funciona' | translate}}
			</h1>
			<p>
				{{ 'label-home-como-funciona-p-1' | translate}}
			</p>
			<p>
				<b>{{ 'label-home-como-funciona-p-2' | translate}}</b>{{ 'label-home-como-funciona-p-3' | translate}}
			</p>
			<p>
				<b>{{ 'label-home-como-funciona-p-4' | translate}}</b>{{ 'label-home-como-funciona-p-5' | translate}}
			</p>
			<hr>
			<img class="como-funciona-img" ng-src="{{how_works_image}}">
			<hr>
		</div>

		<div class="container">
			<div class="row proyects">
				<h2>
					{{ 'label-home-proyectos-destacados' | translate}}
				</h2>

				<div ng-repeat="project in projectList" class="col-md-6">
					<article class="proyect">
						<div class="row">
							<div class="col-sm-7 col-xs-12 col-md-6">
								<img class="proyect-img" ng-src="{{dominioImage}}{{project.image}}">
							</div>
							<div class="col-sm-7 col-xs-12 col-md-6">
								<div class="proyect-info">
									<h2>
										{{project.name | camelCase}}
									</h2>
									<div class="owner">
										<div ng-if="project.personType == 'FISICA'">
											<img class="proyect-img" ng-src="{{dominioImage}}{{project.contact.photo}}">
										</div>
										<div>
											<h3 ng-if="project.personType == 'MORAL'">{{project.company.name | camelCase}}</h3>
											<h3 ng-if="project.personType == 'FISICA'">{{project.contact.fullname | camelCase}}</h3>
										</div>
									</div>
									<h4>{{ 'label-home-proyecto-monto-requerido' | translate}}:</h4>
									<div class="amount">
										{{ project.objetive | currency : project.currency.symbol : 2 }}
									</div>
									<h4>{{ 'label-home-proyecto-fecha-limite' | translate}}:</h4>
									<div class="date">
										{{project.limitDate | date:'longDate'}}
									</div>
								</div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="{{project.percent}}"
								aria-valuemin="0" aria-valuemax="100" style="width: {{project.percent}}%;">
								<span class="sr-only">{{project.percent}}% {{ 'label-home-proyecto-porcentaje-completo' | translate}}</span>
							</div>
						</div>
						<div class="row legend">
							<div class="col-xs-4">
								<span>{{project.percent}}%</span>
								<p>
									{{ 'label-home-proyecto-porcentaje-reunido' | translate}}
								</p>
							</div>
							<div class="col-xs-4">
								<i class="fa fa-calendar"></i>
								<span>{{ (project.leftDays > 0) ? project.leftDays : 0 }}</span>
								<p>
									{{ 'label-home-proyecto-dias-restantes' | translate}}
								</p>
							</div>
							<div class="col-xs-4">
								<i class="fa fa-group"></i>
								<span>{{project.investors}}</span>
								<p>
									{{ 'label-home-proyecto-impulsores' | translate}}
								</p>
							</div>
						</div>
						<div class="row description">
							<div class="col-sm-9 col-xs-12">
								<!--<p class="proyect-text">
									{{ project.description | limitTo: 483 }}{{project.description.length > 483 ? '...' : ''}}
								</p>-->
								<p class="proyect-text" style="overflow: hidden;">
									{{ project.briefDescription }}
								</p>
							</div>
							<div class="col-sm-3 col-xs-12 btn-container">
								<!--
								<a class="btn btn-primary" href="#" ng-show="(project.leftDays > 0)">
									{{ 'label-home-proyecto-impulsar' | translate}}
								</a>
								-->
								<a class="btn btn-primary" href="#/productSheet/{{project.id}}">
									{{ 'label-home-proyecto-ver-mas' | translate}}
								</a>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>

		<!--
        <div class="background-orange subscribe">
            <div class="container">
                <p>
                    {{ 'label-home-suscribete-newsfeed' | translate}}
                </p>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="tu_correo@email.com">
                            <div class="input-group-addon">
                                <button type="submit" class="btn btn-primary">
                                {{ 'label-home-suscribete-boton' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        -->

	</div>

<ng-footer></ng-footer>
</section>
