<section class="container proyectos">
	<div class="container" dw-loading="projects" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
		<ng-header></ng-header>

		<messages src="messages"></messages>
		<p class="title">
			{{ 'label-business-title' | translate}}
		</p>

		<div class="row page-wrapper">
			<div class="col-md-2 filter">
				<div ng-repeat="activity in economicActivities" class="blue-checkbox">
					<label>
						<span>{{activity.description | camelCase}}</span>
						<input type="checkbox" 
							name="selectedEconomicActivities[]"
							value="{{activity.id}}"
							ng-checked="selection.indexOf(activity.id) > -1"
							ng-click="toggleSelection(activity.id)">
						<span class="target"></span>
					</label>
				</div>
			</div>

			<div class="col-md-10">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active col-md-3 col-xs-12">
						<a href="#todos" aria-controls="home" role="tab" data-toggle="tab" target="_self">
							{{ 'label-business-proyectos-todos' | translate}}
						</a>
					</li>
					<li role="presentation" class="col-md-3 col-xs-12">
						<a href="#destacados" aria-controls="home" role="tab" data-toggle="tab" target="_self">
							{{ 'label-business-proyectos-destacados' | translate}}
						</a>
					</li>
					<li role="presentation" class="col-md-3 col-xs-12">
						<a href="#nuevos" aria-controls="profile" role="tab" data-toggle="tab" target="_self">
							{{ 'label-business-nuevos-proyectos' | translate}}
						</a>
					</li>
					<li role="presentation" class="col-md-3 col-xs-12">
						<a href="#exitosos" aria-controls="messages" role="tab" data-toggle="tab" target="_self">
							{{ 'label-business-exitosos' | translate}}
						</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="todos">
						<div class="row proyects">
							<div ng-repeat="project in allProjectsList" class="col-md-6" ng-if="(selection.length == 0) || (selection.indexOf(project.economicActivity.id) > -1)">
								<article class="proyect">
									<div class="row">
										<div class="col-sm-7 col-xs-12 col-md-6">
											<img class="proyect-img" ng-src="{{dominioImage}}{{project.image}}">
										</div>
										<div class="col-sm-5 col-xs-12 col-md-6">
											<div class="proyect-info">
												<h2>
													{{project.name | camelCase}}
												</h2>
												<div class="owner">
													<div ng-if="project.personType == 'FISICA'">
														<img class="proyect-img" ng-src="{{dominioImage}}{{project.contact.photo}}">
													</div>
													<div>
														<h3 ng-if="project.personType == 'MORAL'">{{project.company.name | camelCase}}</h3>
														<h3 ng-if="project.personType == 'FISICA'">{{project.contact.fullname | camelCase}}</h3>
													</div>
												</div>
												<h4>{{ 'label-business-proyecto-monto-requerido' | translate}}:</h4>
												<div class="amount">
													{{ project.objetive | currency : project.currency.symbol : 2 }}
												</div>
												<h4>{{ 'label-business-proyecto-fecha-limite' | translate}}:</h4>
												<div class="date">
													{{project.limitDate | date:'longDate'}}
												</div>
											</div>
										</div>
									</div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="{{project.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.percent}}%;">
											<span class="sr-only">{{project.percent}}{{ 'label-business-porcentaje-completo' | translate }}</span>
										</div>
									</div>
									<div class="row legend">
										<div class="col-xs-4">
											<span>{{project.percent}}%</span>
											<p>
												{{ 'label-business-proyecto-porcentaje-reunido' | translate}}
											</p>
										</div>
										<div class="col-xs-4">
											<i class="fa fa-calendar"></i>
											<span>{{ (project.leftDays > 0) ? project.leftDays : 0 }}</span>
											<p>
												{{ 'label-business-proyecto-dias-restantes' | translate}}
											</p>
										</div>
										<div class="col-xs-4">
											<i class="fa fa-group"></i>
											<span>{{project.investors}}</span>
											<p>
												{{ 'label-business-proyecto-impulsores' | translate}}
											</p>
										</div>
									</div>
									<div class="row description">
										<div class="col-xs-8">
											<p class="proyect-text" style="overflow: hidden;">
												{{ project.briefDescription }}
											</p>
										</div>
										<div class="col-xs-3">
											<a class="btn btn-primary" href="#/productSheet/{{project.id}}">
												{{ 'label-business-proyecto-ver-mas' | translate}}
											</a>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="destacados">
						<div class="row proyects">
							<div ng-repeat="project in outstandingProjectsList" class="col-md-6" ng-if="(selection.length == 0) || (selection.indexOf(project.economicActivity.id) > -1)">
								<article class="proyect">
									<div class="row">
										<div class="col-sm-7 col-xs-12 col-md-6">
											<img class="proyect-img" ng-src="{{dominioImage}}{{project.image}}">
										</div>
										<div class="col-sm-5 col-xs-12 col-md-6">
											<div class="proyect-info">
												<h2>
													{{project.name | camelCase}}
												</h2>
												<div class="owner">
													<div ng-if="project.personType == 'FISICA'">
														<img class="proyect-img" ng-src="{{dominioImage}}{{project.contact.photo}}">
													</div>
													<div>
														<h3 ng-if="project.personType == 'MORAL'">{{project.company.name | camelCase}}</h3>
														<h3 ng-if="project.personType == 'FISICA'">{{project.contact.fullname | camelCase}}</h3>
													</div>
												</div>
												<h4>{{ 'label-business-proyecto-monto-requerido' | translate}}:</h4>
												<div class="amount">
													{{ project.objetive | currency : project.currency.symbol : 2 }}
												</div>
												<h4>{{ 'label-business-proyecto-fecha-limite' | translate}}:</h4>
												<div class="date">
													{{project.limitDate | date:'longDate'}}
												</div>
											</div>
										</div>
									</div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="{{project.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.percent}}%;">
											<span class="sr-only">{{project.percent}}{{ 'label-business-porcentaje-completo' | translate }}</span>
										</div>
									</div>
									<div class="row legend">
										<div class="col-xs-4">
											<span>{{project.percent}}%</span>
											<p>
												{{ 'label-business-proyecto-porcentaje-reunido' | translate}}
											</p>
										</div>
										<div class="col-xs-4">
											<i class="fa fa-calendar"></i>
											<span>{{ (project.leftDays > 0) ? project.leftDays : 0 }}</span>
											<p>
												{{ 'label-business-proyecto-dias-restantes' | translate}}
											</p>
										</div>
										<div class="col-xs-4">
											<i class="fa fa-group"></i>
											<span>{{project.investors}}</span>
											<p>
												{{ 'label-business-proyecto-impulsores' | translate}}
											</p>
										</div>
									</div>
									<div class="row description">
										<div class="col-xs-8">
											<p class="proyect-text" style="overflow: hidden;">
												{{ project.briefDescription }}
											</p>
										</div>
										<div class="col-xs-3">
											<a class="btn btn-primary" href="#/productSheet/{{project.id}}">
												{{ 'label-business-proyecto-ver-mas' | translate}}
											</a>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="nuevos">
						<div class="row proyects">
							<div ng-repeat="project in newProjectsList" class="col-md-6" ng-if="(selection.length == 0) || (selection.indexOf(project.economicActivity.id) > -1)">
								<article class="proyect">
									<div class="row">
										<div class="col-sm-7 col-xs-12 col-md-6">
											<img class="proyect-img" ng-src="{{dominioImage}}{{project.image}}">
										</div>
										<div class="col-sm-5 col-xs-12 col-md-6">
											<div class="proyect-info">
												<h2>
													{{project.name | camelCase}}
												</h2>
												<div class="owner">
													<div ng-if="project.personType == 'FISICA'">
														<img class="proyect-img" ng-src="{{dominioImage}}{{project.contact.photo}}">
													</div>
													<div>
														<h3 ng-if="project.personType == 'MORAL'">{{project.company.name | camelCase}}</h3>
														<h3 ng-if="project.personType == 'FISICA'">{{project.contact.fullname | camelCase}}</h3>
													</div>
												</div>
												<h4>{{ 'label-business-proyecto-monto-requerido' | translate}}:</h4>
												<div class="amount">
													{{ project.objetive | currency : project.currency.symbol : 2 }}
												</div>
												<h4>{{ 'label-business-proyecto-fecha-limite' | translate}}:</h4>
												<div class="date">
													{{project.limitDate | date:'longDate'}}
												</div>
											</div>
										</div>
									</div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="{{project.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.percent}}%;">
											<span class="sr-only">{{project.percent}}{{ 'label-proyectos-porcentaje-completo' | translate}}</span>
										</div>
									</div>
									<div class="row legend">
										<div class="col-xs-4">
											<span>{{project.percent}}%</span>
											<p>
												{{ 'label-business-proyecto-porcentaje-reunido' | translate}}
											</p>
										</div>
										<div class="col-xs-4">
											<i class="fa fa-calendar"></i>
											<span>{{ (project.leftDays > 0) ? project.leftDays : 0 }}</span>
											<p>
												{{ 'label-business-proyecto-dias-restantes' | translate}}
											</p>
										</div>
										<div class="col-xs-4">
											<i class="fa fa-group"></i>
											<span>{{project.investors}}</span>
											<p>
												{{ 'label-business-proyecto-impulsores' | translate}}
											</p>
										</div>
									</div>
									<div class="row description">
										<div class="col-xs-8">
											<p class="proyect-text" style="overflow: hidden;">
												{{ project.briefDescription }}
											</p>
										</div>
										<div class="col-xs-3">
											<a class="btn btn-primary" href="#/productSheet/{{project.id}}">
												{{ 'label-business-proyecto-ver-mas' | translate}}
											</a>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="exitosos">
						<div class="row proyects">
							<div ng-repeat="project in successfulProjectsList" class="col-md-6" ng-if="(selection.length == 0) || (selection.indexOf(project.economicActivity.id) > -1)">
								<article class="proyect">
									<div class="row">
										<div class="col-sm-7 col-xs-12 col-md-6">
											<img class="proyect-img" ng-src="{{dominioImage}}{{project.image}}">
										</div>
										<div class="col-sm-5 col-xs-12 col-md-6">
											<div class="proyect-info">
												<h2>
													{{project.name | camelCase}}
												</h2>
												<div class="owner">
													<div ng-if="project.personType == 'FISICA'">
														<img class="proyect-img" ng-src="{{dominioImage}}{{project.contact.photo}}">
													</div>
													<div>
														<h3 ng-if="project.personType == 'MORAL'">{{project.company.name | camelCase}}</h3>
														<h3 ng-if="project.personType == 'FISICA'">{{project.contact.fullname | camelCase}}</h3>
													</div>
												</div>
												<h4>{{ 'label-business-proyecto-monto-requerido' | translate}}:</h4>
												<div class="amount">
													{{ project.objetive | currency : project.currency.symbol : 2 }}
												</div>
												<h4>{{ 'label-business-proyecto-fecha-limite' | translate}}:</h4>
												<div class="date">
													{{project.limitDate | date:'longDate'}}
												</div>
											</div>
										</div>
									</div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="{{project.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.percent}}%;">
											<span class="sr-only">{{project.percent}}% Complete</span>
										</div>
									</div>
									<div class="row legend">
										<div class="col-xs-4">
											<span>{{project.percent}}%</span>
											<p>
												{{ 'label-business-proyecto-porcentaje-reunido' | translate}}
											</p>
										</div>
										<div class="col-xs-4">
											<i class="fa fa-calendar"></i>
											<span>{{ (project.leftDays > 0) ? project.leftDays : 0 }}</span>
											<p>
												{{ 'label-business-proyecto-dias-restantes' | translate}}
											</p>
										</div>
										<div class="col-xs-4">
											<i class="fa fa-group"></i>
											<span>{{project.investors}}</span>
											<p>
												{{ 'label-business-proyecto-impulsores' | translate}}
											</p>
										</div>
									</div>
									<div class="row description">
										<div class="col-xs-8">
											<p class="proyect-text" style="overflow: hidden;">
												{{ project.briefDescription }}
											</p>
										</div>
										<div class="col-xs-3">
											<a class="btn btn-primary" href="#/productSheet/{{project.id}}">
												{{ 'label-business-proyecto-ver-mas' | translate}}
											</a>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ng-footer></ng-footer>
	</div>
</section>