<ng-header-loggeado></ng-header-loggeado>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <h5 class="m-n font-thin h5">{{ 'label-bienvenido' | translate }}, {{nameUser}} {{lastname}}</h5>
    </div>

    <section class="col-sm-1"></section>

    <section class="col-sm-9">
      <messages src="messages"></messages>
      <div class="wrapper-md">

        <form class="form-horizontal" name="form">

          <div class="tab-container">
            <ul class="nav nav-tabs">
              <li class="active"><a href data-toggle="tab" data-target="#tab_1">{{ 'label-datosPersonales' | translate
                }}</a></li>
              <li><a href data-toggle="tab" data-target="#tab_2"> {{ 'label-datosCompania' | translate }}</a></li>
              <li><a href data-toggle="tab" data-target="#tab_3">{{ 'label-resumenProcesar' | translate }}</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">
                    {{ 'label-datosPersonales' | translate }}
                  </div>

                  <div class="panel-body">

                    <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty  }">
                      <label class="col-sm-3 control-label text-left">{{ 'label-nombre' | translate }} *</label>

                      <div class="col-sm-9">
                        <input type="text" name="name" class="form-control" ng-model="project.company.contact.name"
                               ng-pattern="/^[a-zA-Z]*$/" required>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.lastName.$invalid && form.lastName.$dirty  }">
                      <label class="col-sm-3 control-label text-left">{{ 'label-apellido' | translate }} *</label>

                      <div class="col-sm-9">
                        <input type="text" name="lastName" class="form-control"
                               ng-model="project.company.contact.lastName"
                               ng-pattern="/^[a-zA-Z]*$/" required>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.radio.$invalid && form.radio.$dirty  }">
                      <label class="col-sm-3 control-label text-left">{{ 'label-sexo' | translate }} *</label>

                      <div class="col-sm-9">
                        <div class="radio">
                          <label class="i-checks">
                            <input type="radio" name="radio" value="F" ng-model="project.company.contact.sex" checked>
                            <i></i>
                            F <br>
                          </label>
                          <label class="i-checks">
                            <input type="radio" name="radio" value="M" ng-model="project.company.contact.sex">
                            <i></i>
                            M
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.phone.$invalid && form.phone.$dirty  }">
                      <label class="col-sm-3 control-label text-left">{{ 'label-telefono' | translate }} *</label>

                      <div class="col-sm-9">
                        <input type="text" name="phone" class="form-control" ng-model="project.company.contact.phone"
                               ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/"
                               required>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.email.$invalid && form.email.$dirty  }">
                      <label class="col-sm-3 control-label text-left">{{ 'label-correo' | translate }} *</label>

                      <div class="col-sm-9">
                        <input type="email" name="email" class="form-control" placeholder="user@mydomain.com"
                               ng-model="project.company.contact.email" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-12 text-right">
                        <label class="control-label">* {{ 'label-camposRequeridos' | translate }}</label>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
              <div class="tab-pane" id="tab_2">
                <div class="panel panel-default">

                  <div class="panel-heading font-bold">
                    Pitch
                  </div>

                  <div class="panel-body">


                    <div class="form-group">
                      <label class="col-sm-3 control-label text-left"> {{ 'label-seleccioneDocumentos' | translate }}
                        *</label>

                      <div class="col-sm-9">
                        <input type="file" data-icon="false"
                               data-classbutton="btn btn-default"
                               data-classinput="form-control inline v-middle input-s"
                               id="documents" tabindex="-1"
                               ng-model="files"
                               onchange="angular.element(this).scope().setFiles()"
                               ui-jq="filestyle" multiple>
                      </div>

                      <div class="col-sm-3" ng-repeat="document in projectTwo.documents">
                        <div class="col-sm-12 m-t text-right">
                          <a ng-click="deleteDocument(document)"><i class="fa icon-close" style="font-size: 20px;"></i></a>
                        </div>
                        <div>
                          <div class="m-t-lg" align="center" style="word-wrap: break-word;">
                            <a ng-click="download(document)">
                              <img ng-src="{{getIcono(document)}}" alt="" style="width: 64px;
                                      height: 39px;"/>

                              <div class="text-center">
                                {{document.name}}
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
              <div class="tab-pane" id="tab_3">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold" role="tab" id="headingOne">
                      <a role="button" data-toggle="collapse" data-parent="#accordion"
                         aria-expanded="true" href="javascript:;" data-target="#collapseOne"
                         aria-controls="collapseOne">
                        {{ 'label-datosPersonales' | translate }}
                      </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                      <div class="panel-body">

                        <div class="form-group">
                          <label class="col-sm-3 control-label text-left">{{ 'label-nombre' | translate }}</label>

                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="{{ project.company.contact.name }}"
                                   disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label text-left">{{ 'label-apellido' | translate }}</label>

                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="{{ project.company.contact.lastName }}"
                                   disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label text-left">{{ 'label-fechaNacimiento' | translate
                            }}</label>

                          <div class="col-sm-9">
                            <input type="text" class="form-control"
                                   placeholder="{{ project.company.contact.birthDate  | date:'dd/MM/yyyy'  }}" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label text-left">{{ 'label-sexo' | translate }}</label>

                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="{{ project.company.contact.sex }}"
                                   disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label text-left">{{ 'label-telefono' | translate }}</label>

                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="{{ project.company.contact.phone }}"
                                   disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label text-left">{{ 'label-correo' | translate }}</label>

                          <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="{{ project.company.contact.email }}"
                                   disabled>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold" role="tab" id="headingThree">
                      <a class="collapsed" role="button" data-toggle="collapse"
                         data-parent="#accordion" href="javascript:;" data-target="#collapseThree"
                         aria-expanded="false" aria-controls="collapseThree">
                        Pitch
                      </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                      <div class="panel-body">
                        <div class="form-group">
                          <label class="col-sm-3 control-label text-left">{{ 'label-documentos' | translate }}</label>
                        </div>


                        <div class="col-sm-3" ng-repeat="document in projectTwo.documents">
                          <div class="m-t-lg" align="center" style="word-wrap: break-word;">
                            <a ng-click="download(document)">
                              <img ng-src="{{getIcono(document)}}" alt="" style="width: 64px;
                                            height: 39px;"/>

                              <div class="text-center">
                                {{document.name}}
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="text-center">
                      <button type="submit" class="btn btn-default">{{ 'boton-cancelar' | translate }}</button>
                      <button type="submit" class="btn btn-black" ng-click="modifyPitch()"
                              ng-disabled="form.$invalid">{{
                        'boton-aceptar' | translate }}
                      </button>
                    </div>
                  </div>


                </div>

              </div>
            </div>
          </div>

        </form>
      </div>
    </section>
    <section class="col-sm-1"></section>
  </div>
</div>
<div id="myloader">
  <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
