<ng-header></ng-header>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <section class="col-sm-1"></section>
    <section class="col-sm-10">
    <div class="wrapper-md text-justify">

    <h2 class="text-center font-bold" style="color: #FBD40C"> ¿Quiénes somos?</h2> <br><br>
    Estrategias Integrales, Agencia de Desarrollo Internacional S.A de C.V. inicia operaciones en el año 2014, es una empresa 100% mexicana y con experiencia en el extranjero, dedicándose firmemente a desarrollar soluciones integrales de negocios que permitan a las empresas incrementar sus niveles de productividad y competitividad mediante la aplicación de herramientas innovadoras. La empresa ha desarrollado una presencia constante en el ámbito empresarial pyme y es por ello que cuenta un grado de confianza en empresas e instituciones públicas y privadas alcanzando exitosos resultados y reconocimiento. <br> <br>
    A partir de las investigaciones realizadas por Estrategias Integrales, Agencia de Desarrollo Internacional S.A de C.V. sobre la necesidades de los emprendedores y Pymes así como la implicación directa en beneficio de la economía el estado de Tlaxcala; se detecta que la problemática más frecuente en la creación y permanencia de las empresas es la insuficiencia de capital para la puesta en marcha, desarrollo y consolidación de la idea de negocio, tomando en cuenta que los créditos y préstamos bancarios solicitan numerosos requisitos, altas tasas de interés y dificultades para su aprobación ante una falta de antecedentes del negocio, asimismo los programas de gobierno son limitados y escasos para toda la población interesada. <br> <br>
    El Crowdfundig es un modelo tecnológico innovador de formación de capital y participación en el mercado en donde las necesidades de financiación y los propósitos de emprendimiento se dan a conocer ampliamente a través de una plataforma abierta, permitiendo por lo general obtener el apoyo de contribuciones colectivas para diferentes motivos como son donación, recompensa, préstamo etc, varios de estos modelos se encuentran ya en funcionamiento en nuestro país, sin embargo la mayoría de las plataformas presentan ciertas debilidades al aceptar casi todo tipo de propuestas, siendo además modelos tipo franquicias importados. <br> <br>
    Ante lo anterior, Estrategias Integrales, Agencia de Desarrollo Internacional S.A. de C.V. detecta como oportunidad de negocio desarrollar una plataforma especializada en proyectos innovadores y de alto impacto, contando con filtros de evaluación a los participantes así como asesoramiento y seguimiento que les permitirá llevar a cabo presentaciones como pymes exitosas elaborando además business plan profesionales. Es importante mencionar que se proyectaran a través de esta plataforma PyMes con factores de crecimiento, escalables, así como innovadoras en donde se demuestre que satisfacen una necesidad existente en el mercado. <br> <br>
    Siendo así que por medio de una plataforma on-line se logrará la promoción y difusión de aquellos proyectos con alto potencial a través de medios digitales como redes sociales y foros, así como el uso de mailing, networking y newsletter, facilitando la interacción y colaboración entre sí, acotando la existencia de intermediarios; demostrando con esto que el uso extendido de internet entre la población presenta una gran oportunidad de éxito de la presente propuesta, la cual iniciará en el estado de Tlaxcala y se proyectará en el mediano plazo al Sur y Este del país. <br> <br>
    Derivado de ello, no solo se prevé generar un valor agregado y potencializar las expectativas de servicio de la empresa, sino que se trata de un proyecto que fomenta soluciones de desarrollo y crecimiento de riqueza a Mi Pymes en sus etapas tempranas, ofreciendo con ello un modelo de negocio diferenciado, convirtiéndose en herramienta fundamental para el acercamiento a socios internacionales, posibilitando la oportunidad de poner en marcha ideas de negocio Viables.<br> <br>
    En conclusión, este tema no solo es de impacto local, sino de análisis nacional. “CrowdIE” al implementarse, dejará un modelo que puede incorporar en cualquier lugar y sobre todo ampliar su contenido a toda la sociedad, dando elementos de relevancia económica y por lo tanto social.<br> <br>
    </div>
    </section>
  </div>
</div>
<ng-footer></ng-footer>
