<ng-header></ng-header>

<section class="acerca-nosotros">
    <h1>{{ 'label-acerca-titulo-h1' | translate}}</h1>
    <div class="background-blue">
        <div class="container">
            <h2>
                {{ 'label-acerca-titulo' | translate}}
            </h2>
            <p>
                {{ 'label-acerca-titulo-descripcion' | translate}}
            </p>
        </div>
    </div>
    <div class="mision-vision">
        <div class="container">
            <h2>
                {{ 'label-acerca-mision' | translate}}
            </h2>
            <p>
                {{ 'label-acerca-mision-descripcion' | translate}}
            </p>
            <h2>
                {{ 'label-acerca-valores' | translate}}
            </h2>
            <p>
                {{ 'label-acerca-valores-descripcion' | translate}}
            </p>
            <p>
                <b>{{ 'label-acerca-valores-titulo-1' | translate}}</b> {{ 'label-acerca-valores-descripcion-1' | translate}}
            </p>
            <p>
                <b>{{ 'label-acerca-valores-titulo-2' | translate}}</b> {{ 'label-acerca-valores-descripcion-2' | translate}}
            </p>
            <p>
                <b>{{ 'label-acerca-valores-titulo-3' | translate}}</b> {{ 'label-acerca-valores-descripcion-3' | translate}}
            </p>
        </div>
    </div>
    <div class="container equipo">
        <h2>
            {{ 'label-acerca-equipo' | translate}}
        </h2>
        <h4>
            {{ 'label-acerca-equipo-desc' | translate}}
        </h4>
        <div class="row">
            <div class="col-md-6">
                <div class="background-orange">
                    <div class="row">
                        <div class="col-md-6 img-container">
                            <img src="assets/img/equipo.jpg">
                        </div>
                        <div class="col-md-6 info-container">
                            <div class="info">
                                <h3>{{ 'label-acerca-equipo-contacto-1' | translate}}</h3>
                                <h4>
                                    {{ 'label-acerca-equipo-cargo-1' | translate}}
                                </h4>
                                <p>
                                    {{ 'label-acerca-equipo-correo-1' | translate}}
                                </p>
                                <p>
                                    {{ 'label-acerca-equipo-telefono-1' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="background-orange">
                    <div class="row">
                        <div class="col-md-6 img-container">
                            <img src="assets/img/equipo.jpg">
                        </div>
                        <div class="col-md-6 info-container">
                            <div class="info">
                                <h3>{{ 'label-acerca-equipo-contacto-2' | translate}}</h3>
                                <h4>
                                    {{ 'label-acerca-equipo-cargo-2' | translate}}
                                </h4>
                                <p>
                                    {{ 'label-acerca-equipo-correo-2' | translate}}
                                </p>
                                <p>
                                    {{ 'label-acerca-equipo-telefono-2' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-footer></ng-footer>
