<ng-header></ng-header>

<section class="impulsores">
    <div class="container">
        <h1>
            {{ 'label-impulsor-texto-1' | translate}}
        </h1>
        <p>
            {{ 'label-impulsor-texto-2' | translate}}
        </p>
        <img ng-src="{{carousel_image_1}}">
        <img ng-src="{{carousel_image_2}}">
        <img ng-src="{{carousel_image_3}}">
        <!--
        <div class="btn-container">
            <a href="#" class="btn btn-orange">
                {{ 'label-impulsor-texto-3' | translate}}
            </a>
        </div>
        -->
    </div>
</section>

<ng-footer></ng-footer>
