<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>CrowdEi</title>
		<!--  <title>{{'label-tittle' | translate}}</title>-->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="bower_components/titilliumWeb/titilliumWeb.css" type="text/css" />
		<link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="assets/css/app.css">
		<link rel="stylesheet" type="text/css" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" type="text/css" href="bower_components/summernote/dist/summernote.css">
		<link rel="stylesheet" type="text/css" href="bower_components/angular-loading/angular-loading.css"/>
		<link rel="icon" href="template/img/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<!-- jQuery -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<!-- Bootstrap -->
		<script src="template/js/app.src.js"></script>
		<script type="text/javascript">
			function irArriba()
			{
				$('body, html').animate({
					scrollTop: '0px'
				}, 300);
			}
			$(document).ready(function(){
			
				$(window).scroll(function(){
					if( $(this).scrollTop() > 0 ){
						$('#ir-arriba').slideDown(300);
					} else {
						$('#ir-arriba').slideUp(300);
					}
				});
			
			});
		</script>
		<div class="app app-header-fixed ">
			<div ng-view>
			</div>
		</div>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
		<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
		<script src="bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
		<script src="bower_components/angular-messages/angular-messages.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="bower_components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
		<script src="bower_components/angular-loader/angular-loader.js"></script>
		<script src="bower_components/angular-mocks/angular-mocks.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-translate/angular-translate.js"></script>
		<script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
		<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
		<script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
		<script src="bower_components/angular-message-format/angular-message-format.js"></script>
		<script src="bower_components/ngstorage/ngStorage.js"></script>
		<script src="bower_components/angulike/angulike.js"></script>
		<script src="bower_components/spin.js/spin.js"></script>
		<script src="bower_components/angular-loading/angular-loading.js"></script>
		<script src="bower_components/anguvideo/js/anguvideo.js"></script>
		<script src="app.js"></script>
		<script src="factories/messages.js"></script>
		<script src="messages/messages.js"></script>
		<script src="messages/messagesSuccess.js"></script>
		<script src="messages/modalContrato.js"></script>
		<script src="messages/mercadoPago.js"></script>
		<script src="messages/modalSendMail.js"></script>
		<script src="services/userProxy.js"></script>
		<script src="services/authProxy.js"></script>
		<script src="services/utilsProxy.js"></script>
		<script src="services/sessionService.js"></script>
		<script src="services/investmentProxy.js"></script>
		<script src="services/projectProxy.js"></script>
		<script src="services/landingProxy.js"></script>
		<script src="home/home.js"></script>
		<script src="contact/contact.js"></script>
		<script src="register/register.js"></script>
		<script src="login/login.js"></script>
		<script src="header/header.js"></script>
		<!-- <script src="menu/menu.js"></script> -->
		<script src="changePassword/changePassword.js"></script>
		<script src="howWork/howWork.js"></script>
		<script src="howWorkUser/howWorkUser.js"></script>
		<script src="aboutUs/aboutUs.js"></script>
		<script src="homeUser/homeUser.js"></script>
		<script src="homeSuperUser/homeSuperUser.js"></script>
		<script src="footer/footer.js"></script>
		<script src="userProfile/userProfile.js"></script>
		<script src="forgotPassword/forgotPassword.js"></script>
		<script src="investment/investment.js"></script>
		<script src="createPitch/createPitch.js"></script>
		<script src="editPitch/editPitch.js"></script>
		<script src="modifyPitch/modifyPitch.js"></script>
		<script src="myInvestments/myInvestments.js"></script>
		<script src="historyInvestments/historyInvestments.js"></script>
		<script src="projects/projects.js"></script>
		<script src="projectsSuperUser/projectsSuperUser.js"></script>
		<script src="projectsPriority/projectsPriority.js"></script>
		<script src="businessOpportunitiesUser/businessOpportunitiesUser.js"></script>
		<script src="businessOpportunities/businessOpportunities.js"></script>
		<script src="productSheet/productSheet.js"></script>
		<script src="frequentQuestions/frequentQuestions.js"></script>
		<script src="corredores/corredores.js"></script>
		<script src="terminos_condiciones/terminos_condiciones.js"></script>
		<script src="aviso_privacidad/aviso_privacidad.js"></script>
		<script src="impulsores/impulsores.js"></script>
		<script src="users/users.js"></script>
		<script src="components/version/version.js"></script>
		<script src="components/version/version-directive.js"></script>
		<script src="components/version/interpolate-filter.js"></script>
		<script src="template/directives/setnganimate.js"></script>
		<script src="template/directives/ui-butterbar.js"></script>
		<script src="template/directives/ui-focus.js"></script>
		<script src="template/directives/ui-fullscreen.js"></script>
		<script src="template/directives/ui-jq.js"></script>
		<script src="template/directives/ui-module.js"></script>
		<script src="template/directives/ui-nav.js"></script>
		<script src="template/directives/ui-scroll.js"></script>
		<script src="template/directives/ui-shift.js"></script>
		<script src="template/directives/ui-toggleclass.js"></script>
		<script src="template/services/ui-load.js"></script>
		<script src="template/js/ui-jp.config.js"></script>
		<script src="template/js/ui-jp.js"></script>
		<script src="template/js/ui-nav.js"></script>
		<script src="template/js/ui-toggle.js"></script>
		<script src="template/js/ui-client.js"></script>
		<script src="components/jquery/jquery.easy-pie-chart/dist/jquery.easypiechart.fill.js"></script>
		<script src="components/jquery/jquery.sparkline/dist/jquery.sparkline.retina.js"></script>
		<script src="components/jquery/flot/jquery.flot.js"></script>
		<script src="components/jquery/flot/jquery.flot.pie.js"></script>
		<script src="components/jquery/flot/jquery.flot.resize.js"></script>
		<script src="components/jquery/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
		<script src="components/jquery/flot.orderbars/js/jquery.flot.orderBars.js"></script>
		<script src="components/jquery/flot-spline/js/jquery.flot.spline.min.js"></script>
		<script src="components/jquery/moment/moment.js"></script>
		<script src="components/jquery/screenfull/dist/screenfull.min.js"></script>
		<script src="components/jquery/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="components/jquery/html5sortable/jquery.sortable.js"></script>
		<script src="components/jquery/nestable/jquery.nestable.js"></script>
		<script src="components/jquery/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>
		<script src="components/jquery/bootstrap-slider/bootstrap-slider.js"></script>
		<script src="components/jquery/chosen/chosen.jquery.min.js"></script>
		<script src="components/jquery/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
		<script src="components/jquery/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
		<script src="components/jquery/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
		<script src="components/jquery/datatables/media/js/jquery.dataTables.min.js"></script>
		<script src="components/jquery/plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
		<script src="components/jquery/bower-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
		<script src="components/jquery/bower-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
		<script src="components/jquery/bower-jvectormap/jquery-jvectormap-us-aea-en.js"></script>
		<script src="components/jquery/footable/v3/js/footable.min.js"></script>
		<script src="components/jquery/moment/moment.js"></script>
		<script src="components/jquery/fullcalendar/dist/fullcalendar.min.js"></script>
		<script src="components/jquery/moment/moment.js"></script>
		<script src="components/jquery/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script src="components/jquery/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
		<script src="components/recaptcha/angular-recaptcha.js"></script>
		<!-- Include the JS ReCaptcha API -->
		<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
		<script src="template/owl-carousel/owl-carousel/owl.carousel.min.js"></script>
		<!-- SDK de MercadoPago -->
		<script src="https://resources.mlstatic.com/mptools/render.js"></script>
		<!-- SDK de Conekta -->
		<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.5.0/js/conekta.js"></script>
		<!--SDK de Facebook --> <!-- REVISAR la inclusión de la siguiente libreria -->
		<!-- script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script -->
		<script type="text/javascript" src="bower_components/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
		<script type="text/javascript" src="bower_components/moment/min/moment-with-locales.min.js"></script>
		<script type="text/javascript"
        src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="bower_components/summernote/dist/summernote.min.js"></script>
        <script type="text/javascript" src="bower_components/summernote/lang/summernote-es-ES.js"></script>
        <script src="bower_components/raphael/raphael.min.js"></script>
        <script src="bower_components/morris.js/morris.min.js"></script>
        <script src="bower_components/angular-morris/build/module/angular-morris/angular-morris.min.js"></script>
	</body>
</html>