<section class="container proyectos">
	<div class="container" dw-loading="my-projects" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
		<ng-header></ng-header>

		<div class="row dashboard-header">
			<div class="col-md-12">
				<div class="logged-user">
					{{ 'label-proyectos-saludos' | translate}}<span class="user-name">{{nameUser}} {{lastname}}</span>
				</div>
			</div>
		</div>
		<h1 style="text-align: center; margin-bottom: 40px;">
			{{ 'label-proyectos-admin-title' | translate}}
		</h1>

		<messages src="messages"></messages>

		<p class="no-records" ng-if="(projectList.length == 0)">
			{{ 'label-proyectos-no-records' | translate }}
		</p>

		<div class="row ">
			<div class="col-md-2 filter">
				<div ng-repeat="activity in economicActivities" class="blue-checkbox">
					<label>
						<span>{{activity.description | camelCase}}</span>
						<input type="checkbox" 
							name="selectedEconomicActivities[]"
							value="{{activity.id}}"
							ng-checked="selection.indexOf(activity.id) > -1"
							ng-click="toggleSelection(activity.id)">
						<span class="target"></span>
					</label>
				</div>
			</div>

			<div class="col-md-10">

				<div class="row proyects">
					<div class="col-md-6" ng-repeat="project in projectList" ng-if="(selection.length == 0) || (selection.indexOf(project.economicActivity.id) > -1)">
						<article class="proyect">

							<div ng-click="openPaymentsModal(project.id)" style="cursor: pointer;">
								<div class="row">
									<div class="col-sm-7 col-xs-12 col-md-6">
										<img class="proyect-img" ng-src="{{dominioImage}}{{project.image}}">
									</div>
									<div class="col-sm-5 col-xs-12 col-md-6">
										<div class="proyect-info">
											<h2>{{project.name | camelCase}}</h2>
											<div class="owner">
												<div ng-if="project.personType == 'FISICA'">
													<img class="proyect-img" ng-src="{{dominioImage}}{{project.contact.photo}}">
												</div>
												<div>
													<h3 ng-if="project.personType == 'MORAL'">{{project.company.name | camelCase}}</h3>
													<h3 ng-if="project.personType == 'FISICA'">{{project.contact.fullname | camelCase}}</h3>
												</div>
											</div>
											<h4>{{ 'label-proyectos-proyecto-monto-requerido' | translate}}:</h4>
											<div class="amount">
												{{ project.objetive | currency : project.currency.symbol : 2 }}
											</div>
											<h4>{{ 'label-proyectos-proyecto-fecha-limite' | translate}}:</h4>
											<div class="date">
												{{project.limitDate | date:'longDate'}}
											</div>
										</div>
									</div>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{project.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.percent}}%;">
										<span class="sr-only">{{project.percent}}{{ 'label-proyectos-porcentaje-completo' | translate}}</span>
									</div>
								</div>
								<div class="row legend">
									<div class="col-xs-4">
										<span>{{project.percent}}%</span>
										<p>
											{{ 'label-proyectos-proyecto-porcentaje-reunido' | translate}}
										</p>
									</div>
									<div class="col-xs-4">
										<i class="fa fa-calendar"></i>
										<span>{{ (project.leftDays > 0) ? project.leftDays : 0 }}</span>
										<p>
											{{ 'label-proyectos-proyecto-dias-restantes' | translate}}
										</p>
									</div>
									<div class="col-xs-4">
										<i class="fa fa-group"></i>
										<span>{{project.investors}}</span>
										<p>
											{{ 'label-proyectos-proyecto-impulsores' | translate}}
										</p>
									</div>
								</div>
								<div class="row description">
									<div class="col-sm-8 col-xs-12">
										<p class="proyect-text" style="overflow: hidden;">
											{{ project.briefDescription }}
										</p>
									</div>
									<div class="col-sm-4 col-xs-12 btn-container">
									</div>
								</div>
							</div>
							<div class="row description">
								<div class="col-sm-12 col-xs-12 btn-container">
									<!--<a class="btn btn-primary" href="#" ng-show="(project.leftDays > 0)">
									{{ 'label-proyectos-proyecto-impulsar' | translate}}
									</a>-->
									<a class="btn btn-primary" href="#/productSheet/{{project.id}}">
										{{ 'label-proyectos-proyecto-ver-mas' | translate}}
									</a>
									<a class="btn btn-primary" href="#/editPitch/{{project.id}}">
										{{ 'label-proyectos-proyecto-edit' | translate}}
									</a>
									<button class="btn btn-primary" ng-show="project.status == 'INACTIVE'" ng-click="activateProject(project)">
										{{ 'label-proyectos-proyecto-activate' | translate}}
									</button>
									<button class="btn btn-primary" ng-show="project.status == 'ACTIVE'" ng-click="deactivateProject(project)">
										{{ 'label-proyectos-proyecto-deactivate' | translate}}
									</button>
									<button class="btn btn-primary" ng-click="openInvestmentsModal(project)">
										{{ 'label-proyectos-reporte' | translate}}
									</button>
								</div>
							</div>
							<div class="row description">&nbsp;</div>
							<div class="row legend">
								<div class="col-xs-7">
									<span ng-show="changePriorityProjectId != project.id" style="font-weight: normal;">{{ 'label-proyectos-proyecto-prioridad' | translate }}: </span><span ng-show="changePriorityProjectId != project.id">{{ project.priorityType | translate }}</span>
									<select class="form-control" ng-model="project.priorityType" ng-options="priority | translate for priority in priorities" ng-show="changePriority && changePriorityProjectId == project.id"></select>
								</div>
								<div class="col-xs-5 description btn-container">
									<button class="btn btn-primary" style="margin-top: 0px !important;" ng-click="changePriorityProject(project)" ng-show="changePriorityProjectId != project.id">
										{{ 'label-proyectos-cambiar-prioridad' | translate}}
									</button>
									<button class="btn btn-primary" style="margin-top: 0px !important;" ng-click="submitChangePriorityProject(project)" ng-show="changePriority && changePriorityProjectId == project.id">
										{{ 'label-proyectos-submit-cambiar-prioridad' | translate}}
									</button>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<script type="text/ng-template" id="payments-modal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title" id="modal-title">{{ 'label-detallesPago' | translate }}</h3>
	</div>

	<messages src="messages"></messages>

	<div class="modal-body" id="modal-body">
		<div class="text-center">
			<h3>{{ projectName }}</h3>

			<p>{{ 'label-ImpulsoTotal' | translate }}:</p>
			<p class="total">
				<h4><b>{{ investmentTotal | currency : project.currency.symbol : 2 }}</b></h4>
			</p>

			<h3>{{ 'label-detallesPago' | translate }}</h3>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>{{'label-formaPago' | translate}}</th>
						<th>{{'label-fecha' | translate}}</th>
						<th>{{'label-monto' | translate}}</th>
						<th>{{'label-activar' | translate}}</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="investment in investmentList.investments">
						<td style="padding-top: 15px;">
							{{ investment.methodPayment | translate }}
						</td>
						<td style="padding-top: 15px;">{{investment.date | date:'longDate'}}</td>
						<td style="padding-top: 15px;">{{ investment.amount | currency : project.currency.symbol : 2 }}</td>
						<td>
							<button class="btn btn-primary" style="background: #003362;" ng-show="investment.methodPayment == 'TRANSFER' && investment.status == 'INACTIVE'" ng-click="activateTransfer(investment)">
								{{ 'label-proyectos-transfer-activate' | translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="close()">{{ 'label-cerrar' | translate }}</button>
	</div>
</script>

<script type="text/ng-template" id="investments-modal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title" id="modal-title">{{ 'label-recaudacion' | translate }}</h3>
	</div>

	<div class="proyect">
		<div class="row legend">
			<div class="col-xs-3">
				<span>{{ totalRequired | currency : project.currency.symbol : 2 }}</span>
				<p>
					{{ 'label-proyecto-requerido' | translate}}
				</p>
			</div>
			<div class="col-xs-3">
				<span>{{ totalObtained | currency : project.currency.symbol : 2 }}</span>
				<p>
					{{ 'label-proyecto-recaudado' | translate}}
				</p>
			</div>
			<div class="col-xs-3">
				<i class="fa fa-group"></i>
				<span>{{ totalBoosters }}</span>
				<p>
					{{ 'label-proyecto-impulsores' | translate}}
				</p>
			</div>
			<div class="col-xs-3">
				<i class="fa fa-calendar"></i>
				<span>{{ limitDate }}</span>
				<p>
					{{ 'label-proyecto-dias' | translate }}
				</p>
			</div>
		</div>
	</div>

	<div class="modal-body" id="modal-body">

		<div class="col-sm-12 text-center">
			<label class="label label-success">{{ 'label-report-investments' | translate }}</label>
			<div
				bar-chart 
				bar-data="data"
				bar-x='{{xaxis}}'
				bar-y='yaxis'
				bar-labels='barlabels'
				bar-colors='["#c7254e"]'>
			</div>
		</div>
		<div class="col-sm-12 text-center" style="margin-top: 20px;">
			<label class="label label-success">{{ 'label-report-collected' | translate }}</label>
			<div
				area-chart
				area-data="data"
				area-xkey='{{xaxis}}'
				area-ykeys='["b"]'
				area-labels='arealabels'
				line-colors='["#31C0BE"]'
				area-fillOpacity='0.6'>
			</div>
		</div>
		<div class="col-sm-12 text-center" style="margin-top: 20px;">
			<label class="label label-success">{{ 'label-report-donut' | translate }}</label>
			<div
				donut-chart
				donut-data="dataDonut"
				donut-colors='["#31C0BE","#c7254e","#98a0d3"]'
				donut-label-color='"#000000"' 
				donut-background-color='"#ffffff"' 
				donut-formatter='"currency"'>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="close()">{{ 'label-cerrar' | translate }}</button>
	</div>
</script>

<ng-footer></ng-footer>
