<ng-header></ng-header>

<section class="contacto">
	<div class="background-blue">
		<div class="container">
			<h2>{{ 'label-contacto-title' | translate}}</h2>
			<p>
				{{ 'label-contacto-horario' | translate}}
			</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-push-6">
				<div class="google-map-container">
					<iframe src="https://maps.google.com/maps?f=q&source=s_q&q=Circuito%20Juan%20Pablo%20II%20%26%20Privada%2011%20A%20Sur%2C%20Prados%20Agua%20Azul%2C%20Heroica%20Puebla%20de%20Zaragoza%2C%20Puebla&aq=0&ie=UTF8&t=m&z=12&iwloc=A&output=embed" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6 col-md-pull-6">
				<ul>
					<li>
						<div class="img-container">
							<img src="assets/img/contacto/home.png">
						</div>
						<div class="text">
							<p>
								{{ 'label-contacto-direccion-1' | translate}}
							</p>
							<p>
								{{ 'label-contacto-direccion-2' | translate}}
							</p>
						</div>
					</li>
					<li>
						<div class="img-container">
							<img src="assets/img/contacto/phone.png">
						</div>
						<div class="text">
							<p>
								{{ 'label-contacto-telefono-1' | translate}}
							</p>
							<p>
								{{ 'label-contacto-telefono-2' | translate}}
							</p>
						</div>
					</li>
					<li>
						<div class="img-container">
							<img src="assets/img/contacto/envelop.png">
						</div>
						<div class="text">
							<p>
								{{ 'label-contacto-correo' | translate}}
							</p>
						</div>
					</li>
					<li>
						<div class="img-container">
							<img src="assets/img/contacto/woman.png">
						</div>
						<div class="text">
							<h4>
								{{ 'label-contacto-contacto-1' | translate}}
							</h4>
							<h5>
								{{ 'label-contacto-cargo-1' | translate}}
							</h5>
							<p>
								{{ 'label-contacto-correo-1' | translate}}
							</p>
						</div>
					</li>
					<li>
						<div class="img-container">
							<img src="assets/img/contacto/man.png">
						</div>
						<div class="text">
							<h4>
								{{ 'label-contacto-contacto-2' | translate}}
							</h4>
							<h5>
								{{ 'label-contacto-cargo-2' | translate}}
							</h5>
							<p>
								{{ 'label-contacto-correo-2' | translate}}
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<messages src="messages"></messages>
		<div class="col-md-4 col-md-offset-4">
			<h2>
				{{ 'label-contacto-dejanos' | translate}}
			</h2>
			<form name="form" class="form-horizontal">
				<div class="form-group" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty  }">
					<label for="name">{{'label-nombre' | translate}}:</label>
					<input type="text" class="form-control" name="name" ng-model="contact.name" ng-maxlength="30" required placeholder="{{ 'label-contacto-nombre-placeholder' | translate}}">
					<span ng-show="form.name.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.email.$invalid && form.email.$dirty  }" >
					<label for="email">{{'label-correo' | translate}}:</label>
					<input type="email" class="form-control" id="email" ng-model="contact.email" placeholder="{{ 'label-contacto-correo-placeholder' | translate}}">
					<span ng-show="form.email.$error.email"> {{'label-emailError' | translate}} </span>
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.message.$invalid && form.message.$dirty  }">
					<label for="message">{{'label-mensaje' | translate}}:</label>
					<textarea name="message" ng-model="contact.message" class="form-control" ng-maxlength="255" required style="resize:none; height: 100px" placeholder="{{ 'label-contacto-mensaje-placeholder' | translate}}" />
					<span ng-show="form.phone.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
				</div>
				<!--
				<div class="checkbox">
					<label>
					<input type="checkbox"> Acepto recibir noticias y contenido a mi correo
					</label>
				</div>
				-->
				<div class="form-group">
					<div vc-recaptcha key="publicKey"></div>
				</div>
				<button type="submit" class="btn btn-default" ng-click="sendMessage()" ng-disabled="form.$invalid">{{'boton-aceptar' | translate}}</button>
			</form>
		</div>
	</div>
</section>
<ng-footer></ng-footer>