<ng-header></ng-header>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="container">
      <div class="wrapper-md">
        <div class="col-md-9 col-md-offset-1">

          <messages src="messages"></messages>

            <section class="col-sm-1"></section>

            <section class="col-sm-10">
              <div class="panel-body">
                <form name="form" class="form-horizontal" >

                  <h2 class="text-center font-bold" style="color: #FBD40C"> {{'label-contactenos' | translate}}</h2> <br>

                  <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty  }">
                    <label class="col-sm-4 control-label text-left">{{'label-nombre' | translate}} *</label>
                    <div class="col-sm-8">
                      <input type="text" name="name" class="form-control" ng-model="contact.name" ng-maxlength="30" required>
                      <span ng-show="form.name.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.lastName.$invalid && form.lastName.$dirty  }">
                    <label class="col-sm-4 control-label text-left">{{'label-apellido' | translate}} *</label>
                    <div class="col-sm-8">
                      <input type="text" name="lastName"  ng-model="contact.lastName" class="form-control" ng-maxlength="30" required>
                      <span ng-show="form.lastName.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.email.$invalid && form.email.$dirty  }" >
                    <label class="col-sm-4 control-label text-left">{{'label-correo' | translate}} *</label>
                    <div class="col-sm-8">
                      <input type="email" name="email" ng-model="contact.email" class="form-control" placeholder="contact@mydomain.com">
                      <span ng-show="form.email.$error.email"> {{'label-emailError' | translate}} </span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.phone.$invalid && form.phone.$dirty  }">
                    <label class="col-sm-4 control-label text-left">{{'label-telefono' | translate}} *</label>
                    <div class="col-sm-8">
                      <input type="text" name="phone" class="form-control" ng-model="contact.phone" ng-maxlength="20" placeholder="+###################"
                             ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/" required>
                      <span ng-show="form.phone.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                      <span ng-show="form.phone.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                    </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error': form.message.$invalid && form.message.$dirty  }">
                    <label class="col-sm-4 control-label text-left">{{'label-mensaje' | translate}} *</label>
                    <div class="col-sm-8">
                      <textarea name="message" ng-model="contact.message" class="form-control" ng-maxlength="255" required style="resize:none; height: 100px" />
                      <span ng-show="form.phone.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">
                      <h3>
                        <label class="control-label text-left">{{ 'label-correoContacto' | translate}}:</label>
                      </h3>
                    </div>
                    <div class="col-sm-6">
                      <h3>
                        <label class="control-label text-left">  vccrowdei@gmail.com </label>
                      </h3>
                    </div>

                  </div>


                  <div class="form-group">

                    <div class="col-sm-12">
                      <div class="text-right">
                        <label class="control-label">* {{'label-camposRequeridos' | translate}}</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6 text-right">
                        <button class="btn btn-default" ng-click="redirecToHome()">{{ 'boton-cancelar' | translate }}</button>
                      </div>
                      <div class="col-md-6 text-left">
                        <button type="submit" class="btn btn-black" ng-click="sendMessage()" ng-disabled="form.$invalid">{{'boton-aceptar' | translate}}</button>
                      </div>
                    </div>
                  </div>


                </form>
              </div>

            </section>

        </div>
      </div>
    </div>
  </div>
</div>
<ng-footer></ng-footer>
