<ng-header></ng-header>
<section class="container inicio-sesion">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>
				{{ 'label-inicioSesion' | translate }}
			</h1>
			<form name="form" class="form-validation">
                <messages src="messages" name="messages" ></messages>
				<div class="form-group email">
					<label for="email">{{'label-userName' | translate}}:</label>
					<input type="text" placeholder="{{'label-placeholder-username' | translate}}" class="form-control" name="username" ng-model="user.username" required placeholder="{{ 'label-placeholder-username' | translate}}">
				</div>
				<div class="form-group password">
					<label for="password">{{'label-password' | translate}}</label>
					<input type="password" placeholder="{{ 'label-placeholder-password' | translate}}" class="form-control" name="password" ng-model="user.password" required>
				</div>
				<div class="links">
					<a class="register" href="#/register">{{'label-register' | translate}}</a>
					<a class="remember-password" href="#/forgotPassword">{{'label-forgotPassword' | translate}}</a>
				</div>
				<button type="submit" class="btn btn-orange" ng-click="login()" ng-disabled='form.$invalid'>{{'label-log-in' | translate}}</button>
			</form>
			<!--
			<div class="img-container">
				<a href="#"><img src="assets/img/facebook-ingresa.png"></a>
				<a href="#"><img src="assets/img/google-ingresa.png"></a>
			</div>
			-->
		</div>
	</div>
</section>
<ng-footer></ng-footer>
