<ng-header></ng-header>
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
            <label class="navbar-brand block m-t" style="color: #FBD40C">{{ 'label-inicioSesion' | translate}}</label>
            <div class="m-b-lg">

                <form name="form" class="form-validation">

                    <messages src="messages" name="messages" ></messages>

                    <div class="list-group list-group-sm">
                        <div class="list-group-item">
                            <input type="text" placeholder="{{'label-userName' | translate}}" class="form-control no-border" name="username" ng-model="user.username" required>
                        </div>
                        <div class="list-group-item">
                            <input type="password" placeholder="{{'label-password' | translate}}" class="form-control no-border" name="password" ng-model="user.password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-black btn-block" ng-click="login()" ng-disabled='form.$invalid'>{{'label-menu-login' | translate}}</button>
                    <div class="text-center m-t m-b"><a href="#/forgotPassword">{{'label-forgotPassword' | translate}}</a></div>
                    <div class="line line-dashed"></div>
                    <p class="text-center"><small>{{'label-doNotHaveAccount' | translate}}</small></p>
                    <a href="#/register" class="btn btn-lg btn-default btn-block">{{'label-createAcount' | translate}}</a>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-footer></ng-footer>
