<ng-header></ng-header>

<div class="container terminos-condiciones">
    <h1>{{ 'label-terminos-title' | translate}}</h1>
    <p>
        {{ 'label-terminos-parrafo-1' | translate}}
    </p>
    <h2>{{ 'label-terminos-subtitle-2' | translate}}</h2>
    <p>
        {{ 'label-terminos-parrafo-2' | translate}}<b>{{ 'label-terminos-parrafo-3' | translate}}</b>{{ 'label-terminos-parrafo-4' | translate}}<b>{{ 'label-terminos-parrafo-5' | translate}}</b>{{ 'label-terminos-parrafo-6' | translate}}<b>{{ 'label-terminos-parrafo-7' | translate}}</b>{{ 'label-terminos-parrafo-8' | translate}}.
    </p>
    <p class="bold">
        {{ 'label-terminos-parrafo-9' | translate}}
    </p>
    <p>
        <b>{{ 'label-terminos-parrafo-10' | translate}}</b>{{ 'label-terminos-parrafo-11' | translate}}<b>{{ 'label-terminos-parrafo-12' | translate}}</b>{{ 'label-terminos-parrafo-13' | translate}}.
    </p>
    <p>
        {{ 'label-terminos-parrafo-14' | translate}}
    </p>
    <ul>
        <li>
            {{ 'label-terminos-parrafo-15' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-16' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-17' | translate}}<b>{{ 'label-terminos-parrafo-18' | translate}}</b>{{ 'label-terminos-parrafo-19' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-20' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-21' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-22' | translate}}<b>{{ 'label-terminos-parrafo-23' | translate}}</b>{{ 'label-terminos-parrafo-24' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-25' | translate}}<b>{{ 'label-terminos-parrafo-26' | translate}}</b>{{ 'label-terminos-parrafo-27' | translate}}<b>{{ 'label-terminos-parrafo-28' | translate}}</b>{{ 'label-terminos-parrafo-29' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-30' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-31' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-32' | translate}}<b>{{ 'label-terminos-parrafo-33' | translate}}</b>{{ 'label-terminos-parrafo-34' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-35' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-36' | translate}}<b>{{ 'label-terminos-parrafo-37' | translate}}</b>{{ 'label-terminos-parrafo-38' | translate}}
        </li>
    </ul>
    <h2>{{ 'label-terminos-subtitle-2' | translate}}</h2>
    <p>
        {{ 'label-terminos-parrafo-39' | translate}}<b>{{ 'label-terminos-parrafo-40' | translate}}</b>{{ 'label-terminos-parrafo-41' | translate}}
    </p>
    <p>
        {{ 'label-terminos-parrafo-42' | translate}}<b>{{ 'label-terminos-parrafo-43' | translate}}</b>{{ 'label-terminos-parrafo-44' | translate}}
    </p>
    <h2>{{ 'label-terminos-subtitle-3' | translate}}</h2>
    <p>
        {{ 'label-terminos-parrafo-45' | translate}}<b>{{ 'label-terminos-parrafo-46' | translate}}</b>{{ 'label-terminos-parrafo-47' | translate}}<b>{{ 'label-terminos-parrafo-48' | translate}}</b>{{ 'label-terminos-parrafo-49' | translate}}<b>{{ 'label-terminos-parrafo-50' | translate}}</b>{{ 'label-terminos-parrafo-51' | translate}}
    </p>
    <p>
        {{ 'label-terminos-parrafo-52' | translate}}<b>{{ 'label-terminos-parrafo-53' | translate}}</b>
    </p>
    <h2>{{ 'label-terminos-subtitle-4' | translate}}</h2>
    <p>
        {{ 'label-terminos-parrafo-54' | translate}}
    </p>
    <p>
        <b>{{ 'label-terminos-parrafo-55' | translate}}</b>{{ 'label-terminos-parrafo-56' | translate}}<b>{{ 'label-terminos-parrafo-57' | translate}}</b>{{ 'label-terminos-parrafo-58' | translate}}
    </p>
    <h2>{{ 'label-terminos-subtitle-5' | translate}}</h2>
    <p>
        <b>{{ 'label-terminos-parrafo-59' | translate}}</b>{{ 'label-terminos-parrafo-60' | translate}}
    </p>
    <ul>
        <li>
            {{ 'label-terminos-parrafo-61' | translate}}<b>{{ 'label-terminos-parrafo-62' | translate}}</b>{{ 'label-terminos-parrafo-63' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-64' | translate}}<b>{{ 'label-terminos-parrafo-65' | translate}}</b>{{ 'label-terminos-parrafo-66' | translate}}<b>{{ 'label-terminos-parrafo-67' | translate}}</b>{{ 'label-terminos-parrafo-68' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-69' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-70' | translate}}
        </li>
        <li>
            <b>{{ 'label-terminos-parrafo-71' | translate}}</b>{{ 'label-terminos-parrafo-72' | translate}}
        </li>
    </ul>
    <h2>{{ 'label-terminos-subtitle-6' | translate}}</h2>
    <p>
        <b>{{ 'label-terminos-parrafo-73' | translate}}</b>{{ 'label-terminos-parrafo-74' | translate}}<b>{{ 'label-terminos-parrafo-75' | translate}}</b>{{ 'label-terminos-parrafo-76' | translate}}<b>{{ 'label-terminos-parrafo-77' | translate}}</b>{{ 'label-terminos-parrafo-78' | translate}}
    </p>
    <p>
        {{ 'label-terminos-parrafo-79' | translate}}
    </p>
    <p>
        {{ 'label-terminos-parrafo-80' | translate}}
    </p>
    <ul>
        <li>
            {{ 'label-terminos-parrafo-81' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-82' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-83' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-84' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-85' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-86' | translate}}
        </li>
    </ul>
    <h2>{{ 'label-terminos-subtitle-7' | translate}}</h2>
    <p>
        {{ 'label-terminos-parrafo-87' | translate}}
    </p>
    <ul>
        <li>
            {{ 'label-terminos-parrafo-88' | translate}}<b>{{ 'label-terminos-parrafo-89' | translate}}</b>{{ 'label-terminos-parrafo-90' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-91' | translate}}<b>{{ 'label-terminos-parrafo-92' | translate}}</b>{{ 'label-terminos-parrafo-93' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-94' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-95' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-96' | translate}}
        </li>
        <li>
            <b>{{ 'label-terminos-parrafo-97' | translate}}</b>{{ 'label-terminos-parrafo-98' | translate}}<b>{{ 'label-terminos-parrafo-99' | translate}}</b>{{ 'label-terminos-parrafo-100' | translate}}
        </li>
    </ul>
    <p>
        {{ 'label-terminos-parrafo-101' | translate}}
    </p>
    <ul>
        <li>
            {{ 'label-terminos-parrafo-102' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-103' | translate}}<b>{{ 'label-terminos-parrafo-104' | translate}}</b>{{ 'label-terminos-parrafo-105' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-106' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-107' | translate}}
        </li>
    </ul>
    <h2>{{ 'label-terminos-subtitle-8' | translate}}</h2>
    <p>
        <b>{{ 'label-terminos-parrafo-108' | translate}}</b>{{ 'label-terminos-parrafo-109' | translate}}
    </p>
    <p>
        <b>{{ 'label-terminos-parrafo-110' | translate}}</b>{{ 'label-terminos-parrafo-111' | translate}}<b>{{ 'label-terminos-parrafo-112' | translate}}</b>{{ 'label-terminos-parrafo-113' | translate}}
    </p>
    <p>
        <b>{{ 'label-terminos-parrafo-114' | translate}}</b>{{ 'label-terminos-parrafo-115' | translate}}
    </p>
    <ul>
        <li>
            {{ 'label-terminos-parrafo-116' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-117' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-118' | translate}}<b>{{ 'label-terminos-parrafo-119' | translate}}</b>{{ 'label-terminos-parrafo-120' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-121' | translate}}<b>{{ 'label-terminos-parrafo-122' | translate}}</b>{{ 'label-terminos-parrafo-123' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-124' | translate}}<b>{{ 'label-terminos-parrafo-125' | translate}}</b>{{ 'label-terminos-parrafo-126' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-127' | translate}}
        </li>
        <li>
            {{ 'label-terminos-parrafo-128' | translate}}<b>{{ 'label-terminos-parrafo-129' | translate}}</b>{{ 'label-terminos-parrafo-130' | translate}}
        </li>
    </ul>
    <h2>{{ 'label-terminos-subtitle-9' | translate}}</h2>
    <p>
        {{ 'label-terminos-parrafo-131' | translate}}
    </p>
    <p>
        {{ 'label-terminos-parrafo-132' | translate}}
    </p>
    <p class="bold">
        {{ 'label-terminos-parrafo-133' | translate}}<b>{{ 'label-terminos-parrafo-134' | translate}}</b>{{ 'label-terminos-parrafo-135' | translate}}
    </p>
    <h2>{{ 'label-terminos-subtitle-10' | translate}}</h2>
    <p>
        {{ 'label-terminos-parrafo-136' | translate}}<b>{{ 'label-terminos-parrafo-137' | translate}}</b>{{ 'label-terminos-parrafo-138' | translate}}
    </p>
    <p>
        {{ 'label-terminos-parrafo-139' | translate}}<b>{{ 'label-terminos-parrafo-140' | translate}}</b>,{{ 'label-terminos-parrafo-141' | translate}}<b>{{ 'label-terminos-parrafo-142' | translate}}</b>{{ 'label-terminos-parrafo-143' | translate}}
    </p>
    <h2>{{ 'label-terminos-subtitle-11' | translate}}</h2>
    <p>
        {{ 'label-terminos-parrafo-144' | translate}}<b>{{ 'label-terminos-parrafo-145' | translate}}</b>{{ 'label-terminos-parrafo-146' | translate}}
    </p>
    <p>
        {{ 'label-terminos-parrafo-147' | translate}}<b>{{ 'label-terminos-parrafo-148' | translate}}</b>{{ 'label-terminos-parrafo-149' | translate}}
    </p>
    <h2>{{ 'label-terminos-subtitle-12' | translate}}</h2>
    <p>
        <b>{{ 'label-terminos-parrafo-150' | translate}}</b>{{ 'label-terminos-parrafo-151' | translate}}<b>{{ 'label-terminos-parrafo-152' | translate}}</b>{{ 'label-terminos-parrafo-153' | translate}}
    </p>
    <p>
        {{ 'label-terminos-parrafo-154' | translate}}<b>{{ 'label-terminos-parrafo-155' | translate}}</b>{{ 'label-terminos-parrafo-156' | translate}}<b>{{ 'label-terminos-parrafo-157' | translate}}</b>{{ 'label-terminos-parrafo-158' | translate}}
    </p>
    <h2>{{ 'label-terminos-subtitle-13' | translate}}</h2>
    <p>
        {{ 'label-terminos-parrafo-159' | translate}}<b>{{ 'label-terminos-parrafo-160' | translate}}</b>{{ 'label-terminos-parrafo-161' | translate}}<b><a href="http://www.crowdei.com/aviso-de-privacidad">{{ 'label-terminos-parrafo-162' | translate}}</a></b>
    </p>
    <h2>{{ 'label-terminos-subtitle-14' | translate}}</h2>
    <p>
        {{ 'label-terminos-parrafo-163' | translate}}
    </p>
</div>

<ng-footer></ng-footer>
