<ng-header-loggeado></ng-header-loggeado>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
        <h5 class="m-n font-thin h5">{{ 'label-bienvenido' | translate }}, {{nameUser}} {{lastname}}</h5>
    </div>

    <messages src="messages"></messages>

    <section class="col-sm-12">
      <div class="wrapper-md">
        <div class="col-sm-12 m-t">
          <div class="col-sm-6">
            <h2 class="font-bold" style="color: #FBD40C">{{'label-menu-misInversiones' | translate}}</h2>
          </div>
          <div class="col-sm-6 text-right">
            <br>
            <a ng-click="openSearch()" class="text-primary"><i class="fa fa-search" style="font-size: 20px;"></i></a>
          </div>
        </div>
      <div ng-show="openedSearch">
        <div class="well m-t bg-light lt">
          <div class="row">
            <div class="form-group">
              <div class="col-md-12 ">
                <h4 class="font-bold">{{'label-parametrosBusqueda' | translate}}</h4>
              </div>
              <div class="col-md-12 m-t lt">
                <div class="form-group row">
                  <label for="nameProject" class="col-md-2 control-label">{{'label-nombreProyecto' | translate}}</label>
                  <div class="col-md-3">
                    <input type="text" ng-model="parameters.nameProject" class="form-control" id="nameProject" placeholder="{{'label-nombreProyecto' | translate}}">
                  </div>
                  <label for="nameCompany" class="col-md-2 control-label">{{'label-nombreCompania' | translate}}</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="parameters.nameCompany" id="nameCompany"
                           placeholder="{{'label-nombreCompania' | translate}}">
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-md-12 ">
                    <label for="init" class="control-label">{{'label-rangoFecha' | translate}}</label>
                  </div>

                  <label for="init" class="col-md-2 control-label">{{'label-desde' | translate}}</label>
                  <div class="col-md-3 text-right">
                    <p class="input-group" id ="init">
                      <input type="date" ng-model="parameters.startDate" class="form-control" />
                    </p>
                  </div>

                  <label for="end" class="col-md-2 control-label">{{'label-hasta' | translate}}</label>
                  <div class="col-md-3 text-left">
                    <p class="input-group" id ="end">
                      <input type="date" ng-model="parameters.endDate" class="form-control"/>
                    </p>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <div class='text-center'>
                      <button type="submit" class="btn btn-black" ng-click="find()">{{'label-buscar' | translate}}</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <section class="col-sm-12">
      <div class="wrapper-md">
      <div ng-repeat="project in projectList">
        <a href="#/historyInvestments/{{project.id}}">
          <div class="well m-t bg-light lt">
            <div class="row ">
              <div class="col-sm-3">
                <div align="center">
                  <img class="img-responsive" ng-src="data:image/jpeg;base64,{{project.image}}"
                       style="height: 115px;width: 186px;">
                </div>
                <div class="text-center-folded">
                  <span class="hidden-folded"><img src="template/img/flag/16/{{project.location.city.state.country.iso}}.png"> </img> {{project.location.city.state.name}} </span>
                  <span class="pull-right pull-none-folded">{{project.percent}} %</span>
                </div>
              </div>
              <div class="col-sm-9">
                <h4 class="font-bold">{{project.name}}</h4>
                <p>{{project.description}} </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div>
                  <div id="cantidadObtenidos" class="progress progress-sm progress-striped active m-t-xs m-b-none">
                    <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="{{project.percent}}" style="width: {{project.percent}}%"></div>
                  </div>
                </div>
                <div class="text-center">
                  <span class="hidden-folded"> <span class="font-bold">{{project.currency.symbol}} {{project.obtained}}</span> {{'label-obtained' | translate}}</span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="text-center">{{'label-objetive' | translate}}</div>
                <div class="text-center">
                  <span class="font-bold">{{project.currency.symbol}} {{project.objetive}}</span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="text-center">{{'label-investors' | translate}}</div>
                <div class="text-center">
                  <span class="font-bold">{{project.investors}}</span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="text-center">{{'label-daysRemaining' | translate}}</div>
                <div class="text-center">
                  <span class="font-bold">{{project.leftDays}}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      </div>
    </section>

    <!--<section class="col-sm-2"></section>-->
  </div>
</div>
<div id="myloader">
  <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
