<ng-header></ng-header>

<modal-send-mail visible="showSendMailModal"> </modal-send-mail>

<div id="content" class="app-content" role="main">
  <section class="proyectos-impulsados">
    <div class="container" dw-loading="my-invesments" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">

      <div class="row dashboard-header">
        <div class="col-md-12">
          <div class="logged-user">
            {{ 'label-proyectos-saludos' | translate}}<span class="user-name">{{nameUser}} {{lastname}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <h1>{{ 'label-misProyectosImpulsados' | translate }}</h1>

        <div id="with-no-projects" class="col-md-12" ng-if="(projectList.length === 0)">

          <p class="no-records">
            {{ 'label-sinProyectosImpulsados' | translate }}
          </p>

          <div class="btn-container">
            <a class="btn btn-orange" href="#/businessOpportunities">
              {{ 'label-explorarProyectos' | translate }}
            </a>
          </div>
        </div>

        <div id="with-projects" class="col-md-12 proyects" ng-show="(projectList.length > 0)">

          <div class="col-md-4 col-sm-6" data-toggle="modal"
               data-target="#detalle_pago" ng-repeat="project in projectList">
            <article class="proyect">
              <div ng-click="openPaymentsModal(project.id)">
                <div class="proyect-info">
                  <h2>
                    {{project.name | camelCase}}
                  </h2>

                  <div class="owner">
                    <div ng-if="project.personType == 'FISICA'">
                      <img class="proyect-img" ng-src="{{dominioImage}}{{project.contact.photo}}">
                    </div>
                    <div ng-if="project.personType == 'MORAL'">
                    </div>
                    <div>
                      <h3 ng-if="project.personType == 'MORAL'">{{project.company.name | camelCase}}</h3>
                      <h3 ng-if="project.personType == 'FISICA'">{{project.contact.fullname | camelCase}}</h3>
                    </div>
                  </div>

                  <h4>{{ 'label-home-proyecto-monto-requerido' | translate }}:</h4>
                  <div class="amount">
                    {{ project.objetive | currency : project.currency.symbol : 2 }}
                  </div>

                  <h4>{{ 'label-home-proyecto-fecha-limite' | translate }}:</h4>
                  <div class="date">
                    {{project.limitDate | date:"d 'de' MMMM 'de' yyyy"}}
                  </div>
                </div>

                <div class="progress">
                  <div class="progress-bar" role="progressbar"
                       aria-valuenow="{{project.percent}}"
                       aria-valuemin="0" aria-valuemax="100"
                       ng-style="{ width: project.percent + '%' }">
                    <span class="sr-only">{{project.percent}}% {{ 'label-completado' | translate }}</span>
                  </div>
                </div>

                <div class="row legend">
                  <div class="col-xs-4">
                    <span>{{project.percent}}%</span>
                    <p>
                      {{ 'label-proyectos-proyecto-porcentaje-reunido' | translate }}
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <i class="fa fa-calendar"></i>
                    <span>{{project.leftDays}}</span>
                    <p>
                      {{ 'label-proyectos-proyecto-dias-restantes' | translate }}
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <i class="fa fa-group"></i>
                    <span>{{project.investors}}</span>
                    <p>
                      {{ 'label-proyectos-proyecto-impulsores' | translate }}
                    </p>
                  </div>
                </div>
                <div class="description">
                  <p class="proyect-text project-box-height" style="overflow: hidden;">
                    {{ project.briefDescription }}
                  </p>
                </div>
              </div>

              <a class="btn btn-orange" ng-click="openSendMailModal(project.id)">
                {{ 'label-contacarConCorredor' | translate }}
              </a>

            </article>
          </div>

        </div>
      </div>
    </div>
  </section>
  <hr>
</div>

<!-- Modal -->
<script type="text/ng-template" id="payments-modal.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="close()"
              aria-label="Close"><span aria-hidden="true">&times;</span>
      </button>
      <h3 class="modal-title" id="modal-title">{{ 'label-detallesPago' | translate }}</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <div class="text-center">
        <h3>{{ projectName }}</h3>

        <p>{{ 'label-miImpulsoTotal' | translate }}:</p>
        <p class="total">
          <h4><b>{{ investmentTotal | currency : project.currency.symbol : 2 }}</b></h4>
        </p>

        <h3>{{ 'label-detallesPago' | translate }}</h3>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{{'label-formaPago' | translate}}</th>
              <th>{{'label-fecha' | translate}}</th>
              <th>{{'label-monto' | translate}}</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="investment in investmentList.investments" ng-if="investment.status == 'ACTIVE'">
              <td>
                {{ investment.methodPayment | translate }}
              </td>
              <td>{{investment.date | date:'longDate'}}</td>
              <td>{{ investment.amount | currency : project.currency.symbol : 2 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="close()">{{ 'label-cerrar' | translate }}</button>
    </div>
</script>

<ng-footer></ng-footer>
