
<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">

      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
          <li>
            <a href="#/aboutUs">
              <i class="fa fa-users icon text-info-lter"></i>
              <span class="font-bold">¿{{ 'label-menu-quienesSomos' | translate}}? </span>
            </a>
          </li>
          <li>
            <a href="http://crowdei.blog.softclear.net" target="_blank">
              <i class="glyphicon glyphicon-comment icon text-info-lter"></i>
              <span class="font-bold">{{ 'label-menu-blogEventos' | translate}}</span>
            </a>
          </li>
          <li>
            <a href="#/frequentQuestions" >
              <i class="glyphicon glyphicon-question-sign icon text-info-lter"></i>
              <span class="font-bold">{{ 'label-menu-preguntasFrecuentes' | translate}}</span>
            </a>
          </li>
          <li>
            <a href="#/contact">
              <i class="glyphicon glyphicon-envelope icon text-info-lter"></i>
              <span class="font-bold">{{'label-contactenos' | translate}}</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- nav -->
    </div>
  </div>
</aside>
