<ng-header></ng-header>
<section class="container inicio-sesion" dw-loading="forgot" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
    <div class="col-md-5 col-md-offset-4">
      <h1>
        {{ 'label-olvidar-title' | translate }}
      </h1>
      <h6>
        {{ 'label-olvidar-desc' | translate }}
      </h6>
      <form name="form" class="form-validation">
        <messages src="messages" name="messages" ></messages>
        <div class="row">
          <label for="email" class="col-md-2">{{'label-olvidar-email' | translate}}:</label>
          <div class="col-md-6">
            <input type="email" name="email" placeholder="{{'label-olvidar-placeholder' | translate}}" ng-model="user.email" class="form-control no-border" required>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-orange" ng-disabled='form.$invalid' ng-click="recover()">{{'label-send' | translate}}</button>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="links">
              {{'label-olvidar-registrado' | translate}} <a href="#/login" class="text-primary">{{'label-olvidar-login' | translate}} </a>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </form>
    </div>
  </div>
</section>
<ng-footer></ng-footer>