<ng-header-loggeado></ng-header-loggeado>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="wrapper-md">

      <div class="row-row">
        <div class="cell">
          <div class="cell inner">
            <div class="wrapper-md">

              <messages src="messages"></messages>

              <div class="well m-t bg-light lt">
                <section class="row">
                  <div class="col-md-3">
                    <div class="text-center">
                      <div align="center">

                        <img class="img-responsive" ng-src="data:image/jpeg;base64,{{project.image}}"
                             style="height: 134px;width: 183px;">
                        <div class="text-center-folded">
                          <span class="hidden-folded"><img src="template/img/flag/16/{{project.location.city.state.country.iso}}.png"> </img> {{project.location.city.state.name}} </span>
                          <span class="pull-right pull-none-folded">{{project.percent}} %</span>
                        </div>
                        <div id="cantidadObtenidos" class="progress progress-sm progress-striped active m-t-xs m-b-none">
                          <div class="progress-bar bg-success" data-toggle="tooltip"
                               data-original-title="{{project.percent}}%" style="width: {{project.percent}}%"></div>
                        </div>
                      </div>
                      <span><strong>{{project.currency.symbol}} {{project.obtained}}</strong> {{'label-obtained' | translate}}</span>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="row">
                      <h4 class="font-bold">{{project.name}}<a href="">&nbsp;&nbsp;</a></h4>
                    </div>
                    <div class="row">
                      <p><span>{{project.description}}</span></p>
                    </div>
                    <div class="row">
                      <div class="text-center">
                        <div class="col-md-4">
                          <p><strong>{{'label-objetive' | translate}}</strong></p>

                          <p><strong>{{project.currency.symbol}} {{project.objetive}}</strong></p>
                        </div>
                        <div class="col-md-4">
                          <p><strong>{{'label-investors' | translate}}</strong></p>

                          <p><strong>{{project.investors}}</strong></p>
                        </div>
                        <div class="col-md-4">
                          <p><strong>{{'label-daysRemaining' | translate}}</strong></p>
                          <p><strong>{{project.leftDays}}</strong></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="well m-t bg-light lt text-center">

                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <div class="panel m-t-lg">
                            <p class="h3 m-t-xs m-b-xs text-center">{{'label-lastVersion' | translate}}</p>

                            <p class="h3 m-t-xs m-b-xs text-center"><span>{{project.currency.symbol}} {{project.lastInvestment}}</span></p>

                            <div class="text-center">Hace {{project.dateLastInvestment}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div class="well m-t bg-light lt text-center">

                <section class="row">
                  <div class="col-md-8">
                    <h2 class="text-left font-bold ng-binding" style="color: #FBD40C">{{'label-menu-misInversiones' | translate}}</h2>
                  </div>
                </section>

                <section class="row">

                  <div class="col-md-2"></div>
                  <div class="col-md-8 table-responsive">
                    <table class="tableCustom">
                      <tr>
                        <th class="thCustom" >{{'label-fecha' | translate}}</th>
                        <th class="thCustom" >{{'label-formaPago' | translate}}</th>
                        <th class="thCustom" >{{'label-monto' | translate}}</th>
                        <th class="thCustom" >{{'label-moneda' | translate}}</th>
                        <th class="thCustom" >{{'label-estatus' | translate}}</th>
                      </tr>
                      <tr ng-repeat="investment in investmentList.investments">
                        <td class="tCustom"> {{ investment.date | date:'dd/MM/yyyy'}} </td>
                        <td class="tCustom">
                          <div ng-if="investment.methodPayment == 'TRANSFER' ">
                          {{'label-transferencia' | translate}}
                        </div>
                          <div ng-if="investment.methodPayment != 'TRANSFER' ">
                            {{ investment.methodPayment }}
                          </div>
                        </td>
                        <td class="tCustom"> {{ investment.amount }} </td>
                        <td class="tCustom"> {{ investment.project.currency.description }} </td>
                        <td class="tCustom">
                          <div ng-if="investment.status == 'ACTIVE' ">
                            {{'label-procesado' | translate}}
                          </div>
                          <div ng-if="investment.status == 'INACTIVE' ">
                            {{'label-pendiente' | translate}}
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-md-2"></div>

                </section>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div id="myloader">-->
  <!--<img src="template/img/loading.gif" class="ajax-loader"/>-->
<!--</div>-->
<ng-footer></ng-footer>
