<ng-header></ng-header>

<section class="corredores">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img ng-src="{{carousel_image_1}}" alt="carousel 1">
            </div>
            <div class="item">
                <img ng-src="{{carousel_image_2}}" alt="carousel 2">
            </div>
            <div class="item">
                <img ng-src="{{carousel_image_3}}" alt="carousel 3">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" target="_self">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" target="_self">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="background-blue">
        <div class="container">
            <h2>
                {{ 'label-corredor-texto-1' | translate}}
            </h2>
            <p>
                {{ 'label-corredor-texto-2' | translate}}
            </p>
        </div>
    </div>

    <div class="container steps">
        <ul>
            <li>
                <div class="img-container">
                    <img src="assets/img/1.png">
                </div>
                <div class="text">
                    <h3>{{ 'label-corredor-texto-3' | translate}}</h3>
                    <p>
                        {{ 'label-corredor-texto-4' | translate}}
                    </p>
                </div>
            </li>
            <li>
                <div class="img-container">
                    <img src="assets/img/2.png">
                </div>
                <div class="text">
                    <h3>{{ 'label-corredor-texto-5' | translate}}</h3>
                    <p>
                        {{ 'label-corredor-texto-6' | translate}}
                    </p>
                </div>
            </li>
            <li>
                <div class="img-container">
                    <img src="assets/img/3.png">
                </div>
                <div class="text">
                    <h3>{{ 'label-corredor-texto-7' | translate}}</h3>
                    <p>
                        {{ 'label-corredor-texto-8' | translate}}
                    </p>
                </div>
            </li>
            <li>
                <div class="img-container">
                    <img src="assets/img/4.png">
                </div>
                <div class="text">
                    <h3>{{ 'label-corredor-texto-9' | translate}}</h3>
                    <p>
                        {{ 'label-corredor-texto-10' | translate}}
                    </p>
                </div>
            </li>
            <li>
                <div class="img-container">
                    <img src="assets/img/5.png">
                </div>
                <div class="text">
                    <h3>{{ 'label-corredor-texto-11' | translate}}</h3>
                    <p>
                        {{ 'label-corredor-texto-12' | translate}}
                    </p>
                </div>
            </li>
            <li>
                <div class="img-container">
                    <img src="assets/img/6.png">
                </div>
                <div class="text">
                    <h3>{{ 'label-corredor-texto-13' | translate}}</h3>
                    <p>
                        {{ 'label-corredor-texto-14' | translate}}
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="background-orange">
        <div class="container">
            <div class="advantages">
                <h2>{{ 'label-corredor-texto-15' | translate}}</h2>
                <ul>
                    <li>
                        {{ 'label-corredor-texto-16' | translate}}
                    </li>
                    <li>
                        {{ 'label-corredor-texto-17' | translate}}
                    </li>
                    <li>
                        {{ 'label-corredor-texto-18' | translate}}
                    </li>
                    <li>
                        {{ 'label-corredor-texto-19' | translate}}
                    </li>
                    <li>
                        {{ 'label-corredor-texto-20' | translate}}
                    </li>
                </ul>
                <p>
                    {{ 'label-corredor-texto-21' | translate}} <b>{{ 'label-corredor-texto-22' | translate}}</b> {{ 'label-corredor-texto-23' | translate}}
                </p>
            </div>
        </div>
    </div>

    <a href="#/createPitch" class="upload-project">
        {{ 'label-corredor-texto-24' | translate}}
    </a>

</section>

<ng-footer></ng-footer>
