<ng-header></ng-header>

<section class="proyectos-creados">
	<div class="container" dw-loading="my-projects" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
		<div class="row dashboard-header">
			<div class="col-md-12">
				<div class="logged-user">
					{{ 'label-proyectos-saludos' | translate}}<span class="user-name">{{nameUser}} {{lastname}}</span>
				</div>
			</div>
		</div>
		<h1>
			{{ 'label-proyectos-title' | translate}}
		</h1>

		<messages src="messages"></messages>

		<p class="no-records" ng-if="(projectList.length == 0)">
			{{ 'label-proyectos-no-records' | translate }}
		</p>

		<div class="btn-container" ng-if="(projectList.length == 0)">
			<a href="/#/createPitch" class="btn btn-orange">
			{{ 'label-proyectos-crear-proyecto' | translate }}
			</a>
		</div>
		<div class="row proyects">
			<div class="col-md-6" ng-repeat="project in projectList">
				<article class="proyect">
					<div class="row">
						<div class="col-sm-7 col-xs-12 col-md-6">
							<img class="proyect-img" ng-src="{{dominioImage}}{{project.image}}">
						</div>
						<div class="col-sm-5 col-xs-12 col-md-6">
							<div class="proyect-info">
								<h2>{{project.name | camelCase}}</h2>
								<div class="owner">
									<div ng-if="project.personType == 'FISICA'">
										<img class="proyect-img" ng-src="{{dominioImage}}{{project.contact.photo}}">
									</div>
									<div>
										<h3 ng-if="project.personType == 'MORAL'">{{project.company.name | camelCase}}</h3>
										<h3 ng-if="project.personType == 'FISICA'">{{project.contact.fullname | camelCase}}</h3>
									</div>
								</div>
								<h4>{{ 'label-proyectos-proyecto-monto-requerido' | translate}}:</h4>
								<div class="amount">
									{{ project.objetive | currency : project.currency.symbol : 2 }}
								</div>
								<h4>{{ 'label-proyectos-proyecto-fecha-limite' | translate}}:</h4>
								<div class="date">
									{{project.limitDate | date:'longDate'}}
								</div>
							</div>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{project.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.percent}}%;">
							<span class="sr-only">{{project.percent}}{{ 'label-proyectos-porcentaje-completo' | translate}}</span>
						</div>
					</div>
					<div class="row legend">
						<div class="col-xs-4">
							<span>{{project.percent}}%</span>
							<p>
								{{ 'label-proyectos-proyecto-porcentaje-reunido' | translate}}
							</p>
						</div>
						<div class="col-xs-4">
							<i class="fa fa-calendar"></i>
							<span>{{ (project.leftDays > 0) ? project.leftDays : 0 }}</span>
							<p>
								{{ 'label-proyectos-proyecto-dias-restantes' | translate}}
							</p>
						</div>
						<div class="col-xs-4">
							<i class="fa fa-group"></i>
							<span>{{project.investors}}</span>
							<p>
								{{ 'label-proyectos-proyecto-impulsores' | translate}}
							</p>
						</div>
					</div>
					<div class="row description">
						<div class="col-sm-8 col-xs-12">
							<p class="proyect-text" style="overflow: hidden;">
								{{ project.briefDescription }}
							</p>
						</div>
						<div class="col-sm-4 col-xs-12 btn-container">
							<!--<a class="btn btn-primary" href="#" ng-show="(project.leftDays > 0)">
							{{ 'label-proyectos-proyecto-impulsar' | translate}}
							</a>-->
							<a class="btn btn-primary" href="#/productSheet/{{project.id}}">
								{{ 'label-proyectos-proyecto-ver-mas' | translate}}
							</a>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>

<ng-footer></ng-footer>
