<ng-header></ng-header>

<section class="sube_proyecto">

	<div class="container" dw-loading="new-project" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
		<h1>{{ 'label-sube-proyecto-title' | translate }}</h1>
		<p>
			{{ 'label-sube-proyecto-descripcion' | translate }}
		</p>
        <messages src="messages" name="messages" ></messages>
		<div id="rootwizard">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul>
							<li>
								<a href="#datos_personales" data-toggle="tab" target="_self">
								{{ 'label-sube-proyecto-tab-1' | translate }}
								</a>
							</li>
							<li>
								<a href="#informacion_proyecto" data-toggle="tab" target="_self">
								{{ 'label-sube-proyecto-tab-2' | translate }}
								</a>
							</li>
							<li>
								<a href="#recompensas" data-toggle="tab" target="_self">
								{{ 'label-sube-proyecto-tab-3' | translate }}
								</a>
							</li>
							<li>
								<a href="#acciones" data-toggle="tab" target="_self">
								{{ 'label-sube-proyecto-tab-4' | translate }}
								</a>
							</li>
							<li>
								<a href="#recursos_financieros" data-toggle="tab" target="_self">
								{{ 'label-sube-proyecto-tab-5' | translate }}
								</a>
							</li>
							<li>
								<a href="#anexos" data-toggle="tab" target="_self">
								{{ 'label-sube-proyecto-tab-6' | translate }}
								</a>
							</li>
							<li>
								<a href="#enviar" data-toggle="tab" target="_self">
								{{ 'label-sube-proyecto-tab-7' | translate }}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="bar" class="progress progress-striped active">
				<div class="progress-bar"></div>
			</div>
			<!-- Tab panes -->
			<form name="form" name="createform" id="createform" method="post">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane form-horizontal" id="datos_personales">
						<h4>
							{{ 'label-sube-proyecto-datosUsuario' | translate }}
						</h4>
						<fieldset>
							<div class="row">
								<div class="col-md-12">
									<label class="radio-inline">
										<input type="radio" ng-model="project.personType" name="personType" value="FISICA" ng-change='changePersonType(project.personType)'>
										{{ 'label-sube-proyecto-persona-fisica' | translate }}
									</label>
									<label class="radio-inline">
										<input type="radio" ng-model="project.personType" name="personType" value="MORAL" ng-change='changePersonType(project.personType)'>
										{{ 'label-sube-proyecto-persona-moral' | translate }}
									</label>
								</div>
							</div>
							<div class="form-group" ng-if="project.personType == 'FISICA'">
								<label for="buscar_nombre" class="col-md-3">
									{{ 'label-sube-proyecto-buscarContacto' | translate}}
								</label>
								<div class="col-md-9">
									<div class="input-group">
										<input type="text" ng-model="searchNameContact" class="form-control input-sm bg-light no-border rounded padder" placeholder=" {{ 'label-sube-proyecto-buscarContacto-placeholder' | translate }}" maxlength="255">
										<div class="input-group-addon" ng-click="searchContact(searchNameContact)">
											<i class="fa fa-search"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group" ng-if="project.personType == 'FISICA' && listContacts != null && listContacts.length > 0">
								<div class="col-md-3"></div>
								<div class="col-md-9">
									<div ng-repeat="contact in listContacts">
										<a class="btn-link text-primary font-bold" ng-click="loadingContactInformation(contact.id)">{{contact.fullname}}</a>
									</div>
								</div>
							</div>
							<div class="form-group" ng-if="project.personType == 'FISICA'" ng-class="{ 'has-error': form.fullname.$invalid && form.fullname.$dirty }">
								<label for="buscar_nombre" class="col-md-3">
									* {{ 'label-sube-proyecto-nombre-emprendedor' | translate}}
								</label>
								<div class="col-md-9">
									<input type="text" name="fullname" class=" form-control" ng-model="project.contact.fullname" ng-maxlength="255" maxlength="255">
									<span ng-show="form.fullname.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-if="project.personType == 'FISICA'" ng-class="{ 'has-error': form.photo.$invalid && form.photo.$dirty }">
								<label for="photo" class="col-md-3">
									* {{ 'label-sube-proyecto-foto-usuario' | translate }}:
								</label>
								<div class="col-md-9">
									<input type="file" data-icon="false" name="photo" data-classbutton="btn btn-default" ng-model="photo" onchange="angular.element(this).scope().setContactPhoto()" data-classinput="form-control inline v-middle input-s" id="photo" tabindex="-1" ui-jq="filestyle">
									<p class="help-block">
										{{ 'label-sube-proyecto-imagen-formato' | translate }}
									</p>
								</div>
							</div>
							<div class="form-group" ng-if="project.personType == 'MORAL'">
								<label for="buscar_nombre" class="col-md-3">
									{{ 'label-sube-proyecto-buscarNombreEmprendedorRazonSocial' | translate}}
								</label>
								<div class="col-md-9">
									<div class="input-group">
										<input type="text" ng-model="searchNameCompany" class="form-control input-sm bg-light no-border rounded padder" placeholder="{{ 'label-sube-proyecto-buscarCompania' | translate}}" maxlength="255">
										<div class="input-group-addon" ng-click="searchCompany(searchNameCompany)">
											<i class="fa fa-search"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group" ng-if="project.personType == 'MORAL' && listCompanies != null && listCompanies.length > 0">
								<div class="col-md-3"></div>
								<div class="col-md-9">
									<div ng-repeat="company in listCompanies">
										<a class="btn-link text-primary font-bold" ng-click="loadingCompanyInformation(company.id)">{{company.name}}</a>
									</div>
								</div>
							</div>
							<div class="form-group" ng-if="project.personType == 'MORAL'" ng-class="{ 'has-error': form.nameCompany.$invalid && form.nameCompany.$dirty }">
								<label for="nombre_emprendedor" class="col-md-3">
									* {{'label-sube-proyecto-nombreEmprendedorRazonSocial' | translate}}:
								</label>
								<div class="col-md-9">
									<input type="text" name="nameCompany" class=" form-control" ng-model="project.company.name" ng-maxlength="255" maxlength="255">
									<span ng-show="form.nameCompany.$error.maxlength">{{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-if="project.personType == 'MORAL'" ng-class="{ 'has-error': form.rfcCompany.$invalid && form.rfcCompany.$dirty }">
								<label for="registro_federal" class="col-md-3">
									* {{ 'label-sube-proyecto-rfc' | translate }}:
								</label>
								<div class="col-md-9">
									<input type="text" name="rfcCompany" class="form-control" ng-model="project.company.rfc" ng-maxlength="255" maxlength="255">
									<span ng-show="form.rfcCompany.$error.maxlength">{{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.address.$invalid && form.address.$dirty }">
								<label for="direccion" class="col-md-3">* {{ 'label-sube-proyecto-direccion' | translate}}:</label>
								<div class="col-md-9">
									<input type="text" name="address" class="form-control" ng-model="project.location.address" ng-maxlength="255" maxlength="255">
									<span ng-show="form.address.$error.maxlength">{{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.country.$invalid && form.country.$dirty }">
								<label for="pais" class="col-md-3">* {{ 'label-sube-proyecto-pais' | translate}}:</label>
								<div class="col-md-9">
									<select class="form-control m-b" name="country" ng-model="countrySelected" ng-change="getStates()" ng-options="country.name for country in countries"></select>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.state.$invalid && form.state.$dirty }">
								<label for="estado" class="col-md-3">* {{ 'label-sube-proyecto-estado' | translate}}:</label>
								<div class="col-md-9">
									<select class="form-control m-b" name="state" ng-model="stateSelected" ng-change="getCities()" ng-options="state.name for state in states"></select>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.city.$invalid && form.city.$dirty }">
								<label for="ciudad" class="col-md-3">* {{ 'label-sube-proyecto-ciudad' | translate}}:</label>
								<div class="col-md-9">
									<select class="form-control m-b" name="city" ng-model="citySelected" ng-options="city.name for city in cities"></select>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.municipality.$invalid && form.municipality.$dirty }">
								<label for="municipio" class="col-md-3">* {{ 'label-municipio' | translate}}:</label>
								<div class="col-md-9">
									<input type="text" name="municipality" class="form-control" ng-model="project.location.municipality" ng-maxlength="255" maxlength="255">
									<span ng-show="form.municipality.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.codePostal.$invalid && form.codePostal.$dirty }">
								<label for="codigo_postal" class="col-md-3">
								* {{ 'label-sube-proyecto-codigoPostal' | translate}}:
								</label>
								<div class="col-md-9">
									<input type="text" name="codePostal" class="form-control" ng-model="project.location.postalCode"  ng-maxlength="255" maxlength="255">
									<span ng-show="form.codePostal.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.ubicationReference.$invalid && form.ubicationReference.$dirty }">
								<label for="referencia_ubicacion" class="col-md-3">
									{{ 'label-sube-proyecto-referenciaUbicación' | translate}}:
								</label>
								<div class="col-md-9">
									<input type="text" name="ubicationReference" class="form-control" ng-model="project.location.locationReference" ng-maxlength="255" maxlength="255">
									<span ng-show="form.ubicationReference.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class="{ 'has-error': form.phoneOne.$invalid && form.phoneOne.$dirty }">
										<label for="telefono" class="col-md-6">* {{ 'label-sube-proyecto-telefono' | translate }}:</label>
										<div class="col-md-6">
											<input type="text" name="phoneOne" class="form-control" ng-maxlength="255" maxlength="255" ng-model="project.contactInformation.phoneOne" placeholder="+###################" ng-pattern="phoneRegex">
											<span ng-show="form.phoneOne.$error.pattern"> {{ 'label-formatoErroneo' | translate}}</span>
											<span ng-show="form.phoneOne.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group" ng-class="{ 'has-error': form.phoneTwo.$invalid && form.phoneTwo.$dirty }">
										<label for="telefono_alternativo" class="col-md-6">
										{{ 'label-sube-proyecto-telefono-alternativo' | translate }}:</label>
										<div class="col-md-6">
											<input type="text" name="phoneTwo" class="form-control" ng-maxlength="255" maxlength="255" ng-model="project.contactInformation.phoneTwo" placeholder="+###################" ng-pattern="phoneRegex">
											<span ng-show="form.phoneTwo.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
											<span ng-show="form.phoneTwo.$error.maxlength"> {{ 'label-longitudMaxima' | translate}} </span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.movil.$invalid && form.movil.$dirty }">
								<label for="celular" class="col-md-3">{{ 'label-sube-proyecto-movil' | translate}}:</label>
								<div class="col-md-9">
									<input type="text" name="movil" class="form-control" ng-maxlength="255" maxlength="255" ng-model="project.contactInformation.mobile" placeholder="+###################" ng-pattern="phoneRegex">
									<span ng-show="form.movil.$error.pattern"> {{ 'label-formatoErroneo' | translate}}</span>
									<span ng-show="form.movil.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.email.$invalid && form.email.$dirty }">
								<label for="email" class="col-md-3">* {{ 'label-sube-proyecto-correo' | translate }}:</label>
								<div class="col-md-9">
									<input type="email" name="email" class="form-control" placeholder="user@mydomain.com" ng-model="project.contactInformation.email" ng-maxlength="255" maxlength="255"	>
									<span ng-show="form.email.$error.email"> {{'label-emailError' | translate}}</span>
									<span ng-show="form.email.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.webPage.$invalid && form.webPage.$dirty }">
								<label for="pagina_web" class="col-md-3">{{'label-sube-proyecto-paginaWeb' | translate}}:</label>
								<div class="col-md-9">
									<input type="text" name="webPage" class="form-control" ng-model="project.internetInformation.webPage" placeholder="http://www.namePage.com" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/" ng-maxlength="255" maxlength="255">
									<span ng-show="form.webPage.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
									<span ng-show="form.webPage.$error.pattern"> {{ 'label-formatoErroneo' | translate}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class="{ 'has-error': form.facebook.$invalid && form.facebook.$dirty }">
										<label for="facebook" class="col-md-6">Facebook:</label>
										<div class="col-md-6">
											<input type="text" name="facebook" class="form-control" ng-model="project.internetInformation.facebook" placeholder="https://www.facebook.com/namePage" ng-pattern="/^((http|https)?:\/\/){0,1}?(www\.){0,1}?facebook.com\/([\/\w \?=.-]*)*\/?$/" ng-maxlength="255" maxlength="255">
											<span ng-show="form.facebook.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
											<span ng-show="form.facebook.$error.pattern"> {{ 'label-formatoErroneo' | translate}}</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group" ng-class="{ 'has-error': form.twitter.$invalid && form.twitter.$dirty }">
										<label for="twitter" class="col-md-6">Twitter:</label>
										<div class="col-md-6">
											<input type="text" name="twitter" class="form-control" ng-model="project.internetInformation.twitter" placeholder="@userName" ng-pattern="/^@([A-Za-z_]+[A-Za-z0-9_]+)$/" ng-maxlength="255" maxlength="255">
											<span ng-show="form.twitter.$error.maxlength"> {{ 'label-longitudMaxima' | translate}} </span>
											<span ng-show="form.twitter.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.linkedIn.$invalid && form.linkedIn.$dirty }">
								<label for="linkedin" class="col-md-3">LinkedIn:</label>
								<div class="col-md-9">
									<input type="text" name="linkedIn" class="form-control" ng-model="project.internetInformation.linkedin" placeholder="https://www.linkedin.com/in/namePage" ng-pattern="/^((http|https)?:\/\/){0,1}?(www\.){0,1}?linkedin.com\/in\/([\/\w \?=.-]*)*\/?$/" ng-maxlength="255" maxlength="255">
									<span ng-show="form.linkedIn.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
									<span ng-show="form.linkedIn.$error.pattern"> {{ 'label-formatoErroneo' | translate}}</span>
								</div>
							</div>
						</fieldset>
					</div>
					<div role="tabpanel" class="tab-pane form-horizontal" id="informacion_proyecto">
						<h4>
							{{ 'label-sube-proyecto-informacionProyecto' | translate}}
						</h4>
						<fieldset>
							<div class="form-group" ng-class="{ 'has-error': form.nameProject.$invalid && form.nameProject.$dirty }">
								<label for="nombre_proyecto" class="col-md-3">
									* {{ 'label-sube-proyecto-nombreProyecto' | translate}}:
								</label>
								<div class="col-md-9">
									<input type="text" name="nameProject" class="form-control" ng-model="project.name" ng-maxlength="255" maxlength="255">
									<span ng-show="form.nameProject.$error.maxlength"> {{ 'label-longitudMaxima' | translate}} </span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.imageProject.$invalid && form.imageProject.$dirty }">
								<label for="imagen_portada" class="col-md-3">
									* {{ 'label-sube-proyecto-imagenProyecto' | translate }}:
								</label>
								<div class="col-md-9">
									<input type="file" data-icon="false" name="imageProject" data-classbutton="btn btn-default" ng-model="imageProject" onchange="angular.element(this).scope().setImageProject()" data-classinput="form-control inline v-middle input-s" id="imageProject" tabindex="-1" ui-jq="filestyle">
									<p class="help-block">
										{{ 'label-sube-proyecto-imagen-formato' | translate }}
									</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.videoProject.$invalid && form.videoProject.$dirty }">
								<label for="video_proyecto" class="col-md-3">
									* {{ 'label-sube-proyecto-videoProyecto' | translate }}:
								</label>
								<div class="col-md-9">
									<div class="input-group">
										<input type="text" name="videoProject" class="form-control" ng-model="project.video" placeholder="http://www.youtube.com/xyzxyz" ng-pattern="videoUrlRegex" ng-maxlength="255" maxlength="255">
										<div class="input-group-addon">{{ 'label-sube-proyecto-videoProyecto-enlace' | translate }}</div>
									</div>
									<span ng-show="form.videoProject.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
									<span ng-show="form.videoProject.$error.pattern"> {{ 'label-formatoErroneo' | translate}}</span>
									<p class="help-block">
										{{ 'label-sube-proyecto-video-paginas-1' | translate }}
									</p>
									<p class="help-block">
										{{ 'label-sube-proyecto-video-paginas-2' | translate }}
									</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.briefDescriptionProject.$invalid && form.briefDescriptionProject.$dirty }">
								<label for="breve_descripcion_proyecto" class="col-md-3">
									* {{ 'label-sube-proyecto-breve-descripcion' | translate}}:
								</label>
								<div class="col-md-9">
									<textarea class="form-control" name="briefDescriptionProject" id="briefDescriptionProject" ng-model="project.briefDescription" ng-maxlength="255" maxlength="255"></textarea>
									<span ng-show="form.briefDescriptionProject.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="modelo_crowdfunding" class="col-md-3">
									* {{ 'label-sube-proyecto-modelo-crowdfunding' | translate}}:
								</label>
								<div class="col-md-9">
									<label class="radio-inline">
										<input type="radio" ng-model="project.crowdfundingType" name="crowdfundingType" value="RECOMPENSA">
										{{ 'label-sube-proyecto-proyecto-recompensa' | translate }}
									</label>
									<label class="radio-inline">
										<input type="radio" ng-model="project.crowdfundingType" name="crowdfundingType" value="INVERSION">
										{{ 'label-sube-proyecto-proyecto-inversion' | translate }}
									</label>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.executionPlace.$invalid && form.executionPlace.$dirty }">
								<label for="lugar_ejecucion_proyecto" class="col-md-3">
									* {{ 'label-sube-proyecto-lugarEjecucionProyecto' | translate}}:
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control" name="executionPlace" id="executionPlace" ng-model="project.executionPlace" ng-maxlength="255" maxlength="255">
									<span ng-show="form.executionPlace.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.generalObjectiveProject.$invalid && form.generalObjectiveProject.$dirty }">
								<label for="objetivo_general" class="col-md-3">
									{{ 'label-sube-proyecto-objetivoGeneral' | translate}}:
								</label>
								<div class="col-md-9">
									<textarea name="generalObjectiveProject" ng-model="project.generalObjetive" class="form-control" rows="4" ng-maxlength="255" maxlength="255" style="resize: none"/>
									<span ng-show="form.generalObjectiveProject.$error.maxlength">{{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.specificObjectivesProject.$invalid && form.specificObjectivesProject.$dirty }">
								<label for="objetivos_especificos" class="col-md-3">
									{{ 'label-sube-proyecto-objetivosEspecificos' | translate}}:
								</label>
								<div class="col-md-9">
									<textarea name="specificObjectivesProject" ng-model="project.specificObjetives" class="form-control" rows="4" ng-maxlength="255" maxlength="255" style="resize: none"/>
									<span ng-show="form.specificObjectivesProject.$error.maxlength">{{ 'label-longitudMaxima' | translate}}</span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.impactSector.$invalid && form.impactSector.$dirty }">
								<label for="sector_impacto" class="col-md-3">
									* {{ 'label-sube-proyecto-sectorImpactara' | translate}}:
								</label>
								<div class="col-md-9">
									<select class="form-control" name="impactSector" ng-model="project.impactSector" ng-options="sector.description for sector in impactSectors"></select>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.economicActivityFocus.$invalid && form.economicActivityFocus.$dirty }">
								<label for="actividad_economica_impacto" class="col-md-3">
								* {{ 'label-sube-proyecto-actividadEconomicaEnfocara' | translate}}:
								</label>
								<div class="col-md-9">
									<select class="form-control" name="economicActivity" ng-model="project.economicActivity" ng-options="economic.description for economic in economicActivities"></select>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.runtimeProject.$invalid && form.runtimeProject.$dirty }">
								<label for="tiempo_ejecucion_proyecto" class="col-md-3">
									* {{ 'label-sube-proyecto-tiempoEjecucionProyecto' | translate}}:
								</label>
								<div class="col-md-9">
									<div class="input-group">
										<input type="number" name="runtimeProject" id="runtimeProject" class="form-control" ng-model="project.monthExecution" min="0" max="12">
										<span ng-show="form.runtimeProject.$error.min"> {{ 'label-numerosPositivos' | translate }}</span>
										<span ng-show="form.runtimeProject.$error.max"> {{ 'label-maximoDoceMeses' | translate }}</span>
										<div class="input-group-addon">
											{{ 'label-meses' | translate}}
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						<h4 class="sub-title">{{ 'label-sube-proyecto-calendario' | translate}}</h4>
						<fieldset>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group" style="margin-right: 0; margin-left: 0;">
										<label for="concepto_actividad">{{ 'label-sube-proyecto-calendario-actividad' | translate}}:</label>
										<input type="text" class="form-control" id="concepto_actividad" ng-model="concepto_actividad" ng-maxlength="255" maxlength="255">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group" style="margin-right: 0; margin-left: 0;">
										<label for="fecha_actividad">{{ 'label-sube-proyecto--calendario-fecha' | translate}}:</label>
										<div class="input-group">
											<input type="text" class="form-control datepicker" id="fecha_actividad">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="add-reward-container">
										<div class="btn btn-blue btn-lg" ng-click="addActivityCalendar()">
											{{ 'label-sube-proyecto-agregar-actividad' | translate }}
										</div>
									</div>
								</div>
							</div>

							<div class="row" ng-repeat="activity in project.calendars">
								<label class="col-md-6">{{ activity.activity }}</label>
								<label class="col-md-3">{{ activity.monthFormatted }}</label>
								<div class="col-md-3" class="input-group-addon" ng-click="deleteActivity(activity)">
									<i class="fa fa-times"></i>
								</div>
							</div>

							<div class="form-group">
								<label for="modelo_canvas" class="col-md-3">{{ 'label-sube-proyecto-modelo-canvas' | translate}}:</label>
								<div class="col-md-9">
									<input type="file" data-icon="false" name="canvasModel" data-classbutton="btn btn-default" ng-model="canvasModel" data-classinput="form-control inline v-middle input-s" id="canvasModel" onchange="angular.element(this).scope().setCanvasProject()" tabindex="-1" ui-jq="filestyle">
									<p class="help-block">
										{{ 'label-sube-proyecto-canvas-formato' | translate }}
									</p>
								</div>
							</div>
						</fieldset>
						<h4>
							{{ 'label-sube-proyecto-descripcion-wysiwyg' | translate}}
						</h4>
						<fieldset>
							<div class="form-group">
								<div class="col-md-12">
									<label for="summernote">{{ 'label-sube-proyecto-descripcion-title' | translate}}:</label>
									<p>
										{{ 'label-sube-proyecto-descripcion-desc' | translate }}
									</p>
									<div id="summernote"></div>
								</div>
							</div>
							<span><label id="maxContentPost">{{ limiteDescripcion }}</label> {{ 'label-sube-proyecto-descripcion-limite' | translate }}</span>
						</fieldset>
					</div>
					<div role="tabpanel" class="tab-pane" id="recompensas">
						<div class="col-md-12">
							<div class="col-md-8">
								<div class="rewards-form">
									<h4 class="clearfix">
										{{ 'label-sube-proyecto-recompensas-impulsores' | translate }}
										<span class="right-title">
										{{ 'label-sube-proyecto-modelos-recompensas' | translate }}
										</span>
									</h4>
									<fieldset>
										<div class="row">
											<div class="col-md-12">
												<p>
													{{ 'label-sube-proyecto-recompensas-desc-1' | translate }}
												</p>
												<p>
													{{ 'label-sube-proyecto-recompensas-desc-2' | translate }}
												</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group" ng-class="{ 'has-error': form.descripcion_recompesa.$invalid && form.descripcion_recompesa.$dirty }">
													<label for="descripcion_recompesa">
														{{ 'label-sube-proyecto-recompensas-desc-3' | translate }}
													</label>
													<textarea class="form-control" name="descripcion_recompesa" id="descripcion_recompesa" ng-model="descripcion_recompesa" ng-disabled="project.crowdfundingType == 'INVERSION'" ng-maxlength="255" maxlength="255"></textarea>
													<span ng-show="form.descripcion_recompesa.$error.maxlength"> {{ 'label-longitudMaxima' | translate}}</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label for="monto_recompensa">{{ 'label-sube-proyecto-recompensas-monto' | translate }}:</label>
													<input type="text" class="form-control" id="monto_recompensa" ng-model="monto_recompensa" ng-disabled="project.crowdfundingType == 'INVERSION'" min="0" ng-maxlength="10" maxlength="10" numbers-only>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="disponibles_recompensa">{{ 'label-sube-proyecto-recompensas-disponibles' | translate }}:</label>
													<input type="text" class="form-control" id="disponibles_recompensa" ng-model="disponibles_recompensa" ng-disabled="project.crowdfundingType == 'INVERSION'" min="0" ng-maxlength="10" maxlength="10" numbers-only>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="fecha_estimada_entrega_recompensas">
													{{ 'label-sube-proyecto-recompensas-fecha-estimada' | translate }}:
													</label>
													<div class="input-group">
														<input type="text" class="form-control datepicker" id="fecha_estimada_entrega_recompensas" ng-model="fecha_estimada_entrega_recompensas" ng-disabled="project.crowdfundingType == 'INVERSION'">
														<div class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="add-reward-container">
													<div class="btn btn-blue btn-lg" ng-click="addReward()" ng-disabled="project.crowdfundingType == 'INVERSION'">
														{{ 'label-sube-proyecto-recompensas-agregar' | translate }}
													</div>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="col-md-4">
								<div class="rewards">
									<div class="reward" ng-repeat="reward in project.rewards">
										<div class="section">
											<span ng-click="removeReward(reward)" class="pull-right" style="top: 0;">
												<i class="fa fa-times"></i>
											</span>
											<h2>{{ 'label-sube-proyecto-recompensas-impulsa-con' | translate}}<b>{{ reward.amount | currency : '$' : 2 }}</b>{{ 'label-sube-proyecto-recompensas-o-mas' | translate}}</h2>
										</div>
										<div class="section">
											<p>
												<b>{{ 'label-sube-proyecto-recompensas-gracias' | translate}}</b>
											</p>
										</div>
										<div class="section">
											<p>
												{{ reward.description }}
											</p>
										</div>
										<div class="section">
											<p>
												<b>{{ 'label-sube-proyecto-recompensas-entrega-aproximada' | translate}}</b>
											</p>
											<p>
												{{ reward.monthFormatted }}
											</p>
										</div>
										<div class="details clearfix">
											<div class="col-xs-6">
												<div class="summary">
													<div>
														<b>{{ reward.available }}/{{ reward.available }}{{ 'label-sube-proyecto-recompensas-disponibles-2' | translate}}</b>
													</div>
													<div>
														<b>299</b>{{ 'label-sube-proyecto-recompensas-impulsores-2' | translate}}
													</div>
												</div>
											</div>
											<div class="col-xs-6">
												<button class="btn btn-orange">{{'label-sube-proyecto-recompensas-impulsar' | translate }}</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane form-horizontal" id="acciones">
						<h4 class="clearfix">
							{{'label-sube-proyecto-acciones-title' | translate }}
							<span class="right-title">
							{{'label-sube-proyecto-acciones-solo' | translate }}
							</span>
						</h4>
						<fieldset>
							<div class="row">
								<div class="col-md-12">
									<p>
										{{'label-sube-proyecto-acciones-decide' | translate }}
									</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.companyShareProject.$invalid && form.companyShareProject.$dirty }">
								<label for="porcentaje_participacion_social" class="col-md-3">
								* {{'label-sube-proyecto-acciones-porcentaje' | translate }}:
								</label>
								<div class="col-md-9">
									<div class="input-group">
										<input type="number" class="form-control" id="companyShareProject" name="companyShareProject" ng-disabled="project.crowdfundingType == 'RECOMPENSA'" ng-model="project.companyShares" min="0" max="99">
										<div class="input-group-addon">%</div>
										<span ng-show="form.companyShareProject.$error.min"> {{ 'label-numerosPositivos' | translate }} </span>
										<span ng-show="form.companyShareProject.$error.max"> {{ 'label-permiteMaximo' | translate }} 99 % </span>
									</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.minimumInvesment.$invalid && form.minimumInvesment.$dirty }">
								<label for="inversion_minima" class="col-md-3">
								* {{'label-sube-proyecto-acciones-inversion-minima' | translate }}:
								</label>
								<div class="col-md-9">
									<input type="text" numbers-only class="form-control" id="minimumInvesment" name="minimumInvesment" ng-disabled="project.crowdfundingType == 'RECOMPENSA'" ng-model="project.minimumInvesment" min="0" ng-maxlength="10" maxlength="10">
									<span ng-show="form.minimumInvesment.$error.min"> {{ 'label-numerosPositivos' | translate}} </span>
									<span ng-show="form.minimumInvesment.$error.maxlength"> {{ 'label-longitudMaxima' | translate}} </span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.investmentGoal.$invalid && form.investmentGoal.$dirty }">
								<label for="meta_inversion" class="col-md-3">
								* {{'label-sube-proyecto-acciones-meta-inversion' | translate }}:
								</label>
								<div class="col-md-9">
									<input type="text" numbers-only class="form-control" id="investmentGoal" name="investmentGoal" ng-disabled="project.crowdfundingType == 'RECOMPENSA'" ng-model="project.invesmentGoal" min="0" ng-maxlength="10" maxlength="10">
									<span ng-show="form.investmentGoal.$error.min"> {{ 'label-numerosPositivos' | translate}} </span>
									<span ng-show="form.investmentGoal.$error.maxlength"> {{ 'label-longitudMaxima' | translate}} </span>
								</div>
							</div>
						</fieldset>
					</div>
					<div role="tabpanel" class="tab-pane form-horizontal" id="recursos_financieros">
						<div class="row">
							<div class="col-md-12">
								<h4>
									{{'label-sube-proyecto-recursos-financieros-title' | translate }}
								</h4>
							</div>
						</div>
						<fieldset>
							<div class="row">
								<div class="col-md-12">
									<p>
										{{'label-sube-proyecto-recursos-financieros-desarrollar' | translate }}
									</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.totalAmountRequiredResource.$invalid && form.totalAmountRequiredResource.$dirty }">
								<label for="monto_total_requerido" class="col-md-3">
								* {{'label-sube-proyecto-recursos-financieros-monto-total' | translate }}:
								</label>
								<div class="col-md-9">
									<input type="text" numbers-only name="totalAmountRequiredResource" class="form-control" ng-model="project.objetive" min="0" ng-maxlength="10" maxlength="10">
									<span ng-show="form.totalAmountRequiredResource.$error.min"> {{ 'label-numerosPositivos' | translate}} </span>
									<span ng-show="form.totalAmountRequiredResource.$error.maxlength"> {{ 'label-longitudMaxima' | translate}} </span>
								</div>
							</div>
							<div class="form-group">
								<label for="tipo_cambio" class="col-md-3">
								* {{'label-sube-proyecto-recursos-financieros-tipo-cambio' | translate }}:
								</label>
								<div class="col-md-9">
									<select class="form-control" ng-model="project.currency" ng-options="currency.description for currency in currency" />
								</div>
							</div>
						</fieldset>
						<h4 class="sub-title">
							{{'label-sube-proyecto-recursos-financieros-distribucion' | translate }}
						</h4>
						<fieldset>
							<div class="row">
								<div class="col-md-10">
									<label class="radio-inline">
										<input type="radio" ng-model="tipoRecurso" name="resourceType" value="CANTIDAD">
										{{ 'label-sube-proyecto-recurso-cantidad' | translate }}
									</label>
									<label class="radio-inline">
										<input type="radio" ng-model="tipoRecurso" name="resourceType" value="PORCENTAJE">
										{{ 'label-sube-proyecto-recurso-porcentaje' | translate }}
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<div class="form-group">
										<span class="col-md-4">
											<label for="recurso_cantidad" ng-if="tipoRecurso == 'CANTIDAD'">
												* {{'label-sube-proyecto-recursos-financieros-cantidad' | translate }}:
											</label>
											<label for="recurso_cantidad" ng-if="tipoRecurso == 'PORCENTAJE'">
												* {{'label-sube-proyecto-recursos-financieros-porcentaje' | translate }}:
											</label>
										</span>
										<div class="col-md-5">
											<input type="text" numbers-only class="form-control" id="recurso_cantidad" ng-model="recurso_cantidad" min="0" ng-maxlength="10" maxlength="10" ng-show="tipoRecurso == 'CANTIDAD'">
											<div class="input-group" ng-show="tipoRecurso == 'PORCENTAJE'">
												<input type="number" class="form-control" id="recurso_porcentaje" name="recurso_porcentaje" ng-model="recurso_porcentaje" min="0" max="99">
												<div class="input-group-addon">%</div>
												<span ng-show="form.recurso_porcentaje.$error.min"> {{ 'label-numerosPositivos' | translate }} </span>
												<span ng-show="form.recurso_porcentaje.$error.max"> {{ 'label-permiteMaximo' | translate }} 99 % </span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-group">
										<label for="recurso_concepto" class="col-md-4">
											{{'label-sube-proyecto-recursos-financieros-concepto' | translate }}:
										</label>
										<div class="col-md-5">
											<textarea class="form-control" id="recurso_concepto" ng-model="recurso_concepto" ng-maxlength="255" maxlength="255"></textarea>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="add-reward-container">
										<div class="btn btn-blue btn-lg" ng-click="addFinancialResource()">
											{{ 'label-sube-proyecto-recursos-financieros-agregar' | translate }}
										</div>
									</div>
								</div>
							</div>

							<div class="row" ng-repeat="resource in project.resources">
								<span class="col-md-3">
									<label ng-if="(resource.amount > 0)">{{ resource.amount | currency : '$' : 2 }}</label>
									<label ng-if="(resource.percentage > 0)">{{ resource.percentage }}%</label>
								</span>
								<label class="col-md-6">{{ resource.concept }}</label>
								<div class="col-md-3" class="input-group-addon" ng-click="deleteResource(resource)">
									<i class="fa fa-times"></i>
								</div>
							</div>
						</fieldset>
					</div>
					<div role="tabpanel" class="tab-pane form-horizontal" id="anexos">
						<div class="row">
							<div class="col-md-12">
								<h4>
									{{ 'label-sube-proyecto-anexos-title' | translate }}
								</h4>
							</div>
						</div>
						<fieldset>
							<div class="row">
								<div class="col-md-12">
									<p>
										{{ 'label-sube-proyecto-anexos-desc' | translate }}
									</p>
								</div>
							</div>
							<div class="form-group">
								<label for="selecciona_documento" class="col-md-3">
								{{ 'label-sube-proyecto-anexos-selecciona' | translate }}:
								</label>
								<div class="col-md-9">
									<input type="file" data-icon="false" data-classbutton="btn btn-default" ng-model="files" onchange="angular.element(this).scope().setFiles()" data-classinput="form-control inline v-middle input-s" id="documents" tabindex="-1" ui-jq="filestyle" multiple>
								</div>
							</div>
							<div class="row" ng-repeat="document in project.documents">
								<label class="col-md-3"></label>
								<label class="col-md-6">{{ document.name }}</label>
								<div class="col-md-3"></div>
							</div>
						</fieldset>
					</div>
					<div role="tabpanel" class="tab-pane" id="enviar">
						<div class="row">
							<div class="col-md-12">
								<h4>
									{{ 'label-sube-proyecto-enviar' | translate }}
								</h4>
							</div>
						</div>
						<fieldset>
							<div class="row">
								<div class="col-md-12">
									<div class="checkbox">
										<label>
											<input type="checkbox" ng-model="accept" value="">{{ 'label-sube-proyecto-estoyDeAcuerdo1' | translate }} <a href="/#/terminos_condiciones" target="_blank">{{ 'label-sube-proyecto-estoyDeAcuerdo2' | translate }}</a> {{ 'label-sube-proyecto-estoyDeAcuerdo3' | translate }} <a href="/#/aviso_privacidad" target="_blank">{{ 'label-sube-proyecto-estoyDeAcuerdo4' | translate }}</a> {{ 'label-sube-proyecto-estoyDeAcuerdo5' | translate }}
										</label>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<ul class="pager wizard">
						<li class="previous"><a href="javascript:;">{{ 'label-sube-proyecto-anterior' | translate }}</a></li>
						<li class="next"><a href="javascript:;">{{ 'label-sube-proyecto-siguiente' | translate }}</a></li>
						<li class="next finish" style="display:none;">
							<button type="submit" class="btn button-previous btn-orange" ng-click="createPitch(form)">
								{{ 'label-sube-proyecto-finalizar' | translate }}
							</button>
						</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</section>
<ng-footer></ng-footer>
