<ng-header-loggeado></ng-header-loggeado>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <h5 class="m-n font-thin h5">{{ 'label-bienvenido' | translate }}, {{nameUser}} {{lastname}}</h5>
    </div>

    <section class="col-sm-12">
      <messages src="messages"></messages>

      <div class="wrapper-md">

        <modal-pago visible="showModal">

          <div class="modal-footer">
            <button type="button"  data-dismiss="modal" class="btn btn-black">{{ 'boton-aceptar' | translate
              }}</button>
            <a href="template/img/contrato.pdf" download="contrato" class="btn btn-default">{{ 'boton-descargar' | translate
              }}</a>
          </div>
        </modal-pago>

        <form class="form-horizontal" name="form" method="get" >
          <div class="tab-container">
            <ul class="nav nav-tabs">
              <li class="active"><a href data-toggle="tab" data-target="#tab_1"> {{ 'label-datosUsuarioProponente' | translate}} </a></li>
              <li><a href data-toggle="tab" data-target="#tab_2"> {{ 'label-datosRepresentante' | translate}} </a></li>
              <li><a href data-toggle="tab" data-target="#tab_3"> {{ 'label-informacionProyecto' | translate}} </a></li>
              <li><a href data-toggle="tab" data-target="#tab_4"> {{ 'label-recursosFinancieros' | translate}} </a></li>
              <li><a href data-toggle="tab" data-target="#tab_5"> {{ 'label-recompensas' | translate}} </a></li>
              <li><a href data-toggle="tab" data-target="#tab_6"> {{ 'label-comentarioFinal' | translate}} </a></li>
              <li><a href data-toggle="tab" data-target="#tab_7"> {{ 'label-anexos' | translate}} </a></li>
            </ul>
            <div class="tab-content">

              <div class="tab-pane active" id="tab_1">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">
                    {{ 'label-datosUsuarioProponente' | translate}}
                  </div>

                  <div class="panel-body">

                    <div class="form-group">
                      <label class="col-sm-5 control-label text-left"> {{ 'label-buscarNombreEmprendedorRazonSocial' | translate}}: </label>
                      <div class="col-sm-5 input-group">
                        <input type="text" ng-model="searchNameCompany" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder"
                               placeholder=" {{ 'label-buscarCompania' | translate}}...">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-sm bg-light rounded" ng-click="searchCompany(searchNameCompany)"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                      <div class="col-sm-2"></div>
                    </div>

                    <div  class="row" ng-if="listCompanies != null">

                      <div ng-repeat="company in listCompanies">

                        <div class="col-sm-3">
                          <a class="btn-link text-primary font-bold" ng-click="loadingCompanyInformation(company.id)">{{company.name}} </a>
                        </div>

                      </div>

                    </div>

                    <hr>

                    <div class="form-group" ng-class="{ 'has-error': form.nameCompany.$invalid && form.nameCompany.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-nombreEmprendedorRazonSocial' | translate}}: </label>

                      <div class="col-sm-9">
                        <input type="text" name="nameCompany" class="form-control" ng-model="project.company.name"
                               ng-maxlength="255" required>
                        <span ng-show="form.nameCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.rfcCompany.$invalid && form.rfcCompany.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-rfc' | translate }}: </label>

                      <div class="col-sm-9">
                        <input type="text" name="rfcCompany" class="form-control" ng-model="project.company.rfc"
                               ng-maxlength="20" required>
                        <span ng-show="form.rfcCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.addressCompany.$invalid && form.addressCompany.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-direccion' | translate}}:</label>

                      <div class="col-sm-9">
                        <input type="text" name="addressCompany" class="form-control" ng-model="project.company.location.address"
                               ng-maxlength="255" required>
                        <span ng-show="form.addressCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.countryCompany.$invalid && form.countryCompany.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-pais' | translate}}:</label>

                      <div class="col-sm-9">
                        <select class="form-control m-b" name="countryCompany" ng-model="countryCompanySelected" ng-change="getStatesCompany()" ng-options="country.name for country in countriesCompany" required>
                        </select>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.stateCompany.$invalid && form.stateCompany.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-estado' | translate}}:</label>

                      <div class="col-sm-9">
                        <select class="form-control m-b" name="stateCompany" ng-model="stateCompanySelected" ng-change="getCitiesCompany()" ng-options="state.name for state in statesCompany" required>
                        </select>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.cityCompany.$invalid && form.cityCompany.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-ciudad' | translate}}:</label>

                      <div class="col-sm-9">
                        <select class="form-control m-b" name="cityCompany" ng-model="cityCompanySelected" ng-options="city.name for city in citiesCompany" required>
                        </select>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.municipalityCompany.$invalid && form.municipalityCompany.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-municipio' | translate}}:</label>

                      <div class="col-sm-9">
                        <input type="text" name="municipalityCompany" class="form-control" ng-model="project.company.location.municipality"
                               ng-maxlength="100" required>
                        <span ng-show="form.municipalityCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.codePostalCompany.$invalid && form.codePostalCompany.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-codigoPostal' | translate}}:</label>

                      <div class="col-sm-9">
                        <input type="text" name="codePostalCompany" class="form-control" ng-model="project.company.location.postalCode"
                               ng-maxlength="50" required>
                        <span ng-show="form.codePostalCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.ubicationReferenceCompany.$invalid }">
                      <label class="col-sm-3 control-label text-left">  {{ 'label-referenciaUbicación' | translate}}:</label>

                      <div class="col-sm-9">
                        <input type="text" name="ubicationReferenceCompany" class="form-control" ng-model="project.company.location.locationReference"
                               ng-maxlength="255">
                        <span ng-show="form.ubicationReferenceCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" >

                      <div ng-class="{ 'has-error': form.phoneOneCompany.$invalid && form.phoneOneCompany.$dirty  }">
                        <label class="col-sm-3 control-label text-left">* {{ 'label-telefono' | translate }} 1: </label>

                        <div class="col-sm-3">
                          <input type="text" name="phoneOneCompany" class="form-control" ng-maxlength="20" ng-model="project.company.contactInformation.phoneOne" placeholder="+###################"
                                 ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/" required>
                          <span ng-show="form.phoneOneCompany.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                          <span ng-show="form.phoneOneCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        </div>
                      </div>


                      <div ng-class="{ 'has-error': form.phoneTwoCompany.$invalid }">
                        <label class="col-sm-3 control-label text-left"> {{ 'label-telefono' | translate }} 2: </label>

                        <div class="col-sm-3">
                          <input type="text" name="phoneTwoCompany" class="form-control" ng-maxlength="20" ng-model="project.company.contactInformation.phoneTwo" placeholder="+###################"
                                 ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/" >
                          <span ng-show="form.phoneTwoCompany.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                          <span ng-show="form.phoneTwoCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        </div>
                      </div>

                    </div>

                    <div class="form-group" >

                      <div ng-class="{ 'has-error': form.movilCompany.$invalid }">
                        <label class="col-sm-3 control-label text-left"> {{ 'label-movil' | translate}}: </label>

                        <div class="col-sm-3">
                          <input type="text" name="movilCompany" class="form-control" ng-maxlength="20" ng-model="project.company.contactInformation.mobile" placeholder="+###################"
                                 ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/">
                          <span ng-show="form.movilCompany.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                          <span ng-show="form.movilCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        </div>
                      </div>


                      <div ng-class="{ 'has-error': form.faxCompany.$invalid }">
                        <label class="col-sm-3 control-label text-left"> Fax: </label>

                        <div class="col-sm-3">
                          <input type="text" name="faxCompany" class="form-control" ng-maxlength="20" ng-model="project.company.contactInformation.fax" placeholder="+###################"
                                 ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/" >
                          <span ng-show="form.faxCompany.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                          <span ng-show="form.faxCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        </div>
                      </div>

                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.emailCompany.$invalid && form.emailCompany.$dirty  }">
                      <label class="col-sm-3 control-label text-left">* {{ 'label-correo' | translate }}:</label>

                      <div class="col-sm-9">
                        <input type="email" name="emailCompany" class="form-control" placeholder="user@mydomain.com"
                               ng-model="project.company.contactInformation.email" ng-maxlength="100" required>
                        <span ng-show="form.emailCompany.$error.email"> {{'label-emailError' | translate}} </span>
                        <span ng-show="form.emailCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.webPageCompany.$invalid }">
                      <label class="col-sm-3 control-label text-left">  {{'label-paginaWeb' | translate}}:</label>

                      <div class="col-sm-9">
                        <input type="text" name="webPageCompany" class="form-control" ng-model="project.company.webPage" placeholder="https://www.namePage.com"
                               ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/" ng-maxlength="255">
                        <span ng-show="form.webPageCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        <span ng-show="form.webPageCompany.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" >

                      <div ng-class="{ 'has-error': form.facebookCompany.$invalid}">
                        <label class="col-sm-3 control-label text-left">  Facebook:</label>

                        <div class="col-sm-3">
                          <input type="text" name="facebookCompany" class="form-control" ng-model="project.company.facebook" placeholder="https://www.facebook.com/namePage"
                                 ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/" ng-maxlength="255" >
                          <span ng-show="form.facebookCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                          <span ng-show="form.facebookCompany.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                        </div>
                      </div>


                      <div ng-class="{ 'has-error': form.twitterCompany.$invalid }">
                        <label class="col-sm-3 control-label text-left">  Twitter:</label>

                        <div class="col-sm-3">
                          <input type="text" name="twitterCompany" class="form-control" ng-model="project.company.twitter" placeholder="@userName"
                                 ng-pattern="/^@([A-Za-z]+[A-Za-z0-9]+)$/" ng-maxlength="100" >
                          <span ng-show="form.twitterCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                          <span ng-show="form.twitterCompany.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                        </div>
                      </div>

                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.linkedInCompany.$invalid }">
                      <label class="col-sm-3 control-label text-left">  LinkedIn:</label>

                      <div class="col-sm-9">
                        <input type="text" name="linkedInCompany" class="form-control" ng-model="project.company.linkedin" placeholder="https://www.linkedin.com/namePage"
                               ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/" ng-maxlength="255" >
                        <span ng-show="form.linkedInCompany.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        <span ng-show="form.linkedInCompany.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-12 text-right">
                        <label class="control-label">* {{ 'label-camposRequeridos' | translate }}</label>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-black" ng-click="clearCompany()">{{ 'label-limpiarCampos' | translate }}</i></button>
                      </div>
                    </div>

                  </div>

                </div>
              </div>

              <div class="tab-pane" id="tab_2">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">
                    {{ 'label-datosRepresentante' | translate}}
                  </div>

                  <div class="panel-body">

                    <div class="form-group">
                      <div class="col-sm-2"></div>
                      <label class="col-sm-3 control-label text-left"> {{ 'label-buscarContacto' | translate }}: </label>
                      <div class="col-sm-5 input-group">
                        <input type="text" ng-model="searhNameContact" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder"
                               placeholder=" {{ 'label-buscarContacto' | translate }}...">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-sm bg-light rounded" ng-click="searchContact(searhNameContact)"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                      <div class="col-sm-2"></div>
                    </div>

                    <div  class="row" ng-if="listContacts != null">

                      <div ng-repeat="contact in listContacts">

                        <div class="col-sm-3">
                          <a class="btn-link text-primary font-bold" ng-click="loadingContactInformation(contact.id)">{{contact.name}} {{contact.lastName}}</a>
                        </div>

                      </div>

                    </div>


                    <hr>

                    <div class="form-group" ng-class="{ 'has-error': form.nameContact.$invalid && form.nameContact.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-nombreResponsableProyecto' | translate }}: </label>

                      <div class="col-sm-9">
                        <input type="text" name="nameContact" class="form-control" ng-model="project.contact.name"
                               ng-pattern="/^[a-zA-ZñÑáéíóúÁÉÍÓÚ]*$/" ng-maxlength="255" required>
                        <span ng-show="form.nameContact.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        <span ng-show="form.nameContact.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.lastNameContact.$invalid && form.lastNameContact.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-apellidoResponsableProyecto' | translate }}: </label>

                      <div class="col-sm-9">
                        <input type="text" name="lastNameContact" class="form-control" ng-model="project.contact.lastName"
                               ng-pattern="/^[a-zA-ZñÑáéíóúÁÉÍÓÚ]*$/" ng-maxlength="255" required>
                        <span ng-show="form.lastNameContact.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        <span ng-show="form.lastNameContact.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.positionContact.$invalid && form.positionContact.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * Cargo: </label>

                      <div class="col-sm-9">
                        <input type="text" name="positionContact" class="form-control" ng-model="project.contact.position"
                               ng-pattern="/([a-zA-Z])$/i" ng-maxlength="50" required>
                        <span ng-show="form.positionContact.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        <span ng-show="form.positionContact.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" >

                      <div ng-class="{ 'has-error': form.phoneOneContact.$invalid && form.phoneOneContact.$dirty  }">
                        <label class="col-sm-3 control-label text-left">* {{ 'label-telefono' | translate }} 1: </label>

                        <div class="col-sm-3">
                          <input type="text" name="phoneOneContact" class="form-control" ng-maxlength="20" ng-model="project.contact.contactInformation.phoneOne" placeholder="+###################"
                                 ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/" required>
                          <span ng-show="form.phoneOneContact.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                          <span ng-show="form.phoneOneContact.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        </div>
                      </div>


                      <div ng-class="{ 'has-error': form.phoneTwoContact.$invalid }">
                        <label class="col-sm-3 control-label text-left"> {{ 'label-telefono' | translate }} 2: </label>

                        <div class="col-sm-3">
                          <input type="text" name="phoneTwoContact" class="form-control" ng-maxlength="20" ng-model="project.contact.contactInformation.phoneTwo" placeholder="+###################"
                                 ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/" >
                          <span ng-show="form.phoneTwoContact.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                          <span ng-show="form.phoneTwoContact.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        </div>
                      </div>

                    </div>

                    <div class="form-group" >

                      <div ng-class="{ 'has-error': form.movilContact.$invalid }">
                        <label class="col-sm-3 control-label text-left"> {{ 'label-movil' | translate}}: </label>

                        <div class="col-sm-3">
                          <input type="text" name="movilContact" class="form-control" ng-maxlength="20" ng-model="project.contact.contactInformation.mobile" placeholder="+###################"
                                 ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/">
                          <span ng-show="form.movilContact.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                          <span ng-show="form.movilContact.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        </div>
                      </div>


                      <div ng-class="{ 'has-error': form.faxContact.$invalid }">
                        <label class="col-sm-3 control-label text-left"> Fax: </label>

                        <div class="col-sm-3">
                          <input type="text" name="faxContact" class="form-control" ng-maxlength="20" ng-model="project.contact.contactInformation.fax" placeholder="+###################"
                                 ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/">
                          <span ng-show="form.faxContact.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                          <span ng-show="form.faxContact.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                        </div>
                      </div>

                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.emailContact.$invalid && form.emailContact.$dirty  }">
                      <label class="col-sm-3 control-label text-left">* {{ 'label-correo' | translate }}:</label>

                      <div class="col-sm-9">
                        <input type="email" name="emailContact" class="form-control" placeholder="user@mydomain.com"
                               ng-model="project.contact.contactInformation.email" ng-maxlength="255" required>
                        <span ng-show="form.emailContact.$error.email"> {{'label-emailError' | translate}} </span>
                        <span ng-show="form.emailContact.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-black" ng-click="clearContact()">{{ 'label-limpiarCampos' | translate }}</i></button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab_3">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">
                    {{ 'label-informacionProyecto' | translate}}
                  </div>

                  <div class="panel-body">

                    <div class="form-group" ng-class="{ 'has-error': form.nameProject.$invalid && form.nameProject.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-nombreProyecto' | translate}} : </label>

                      <div class="col-sm-9">
                        <input type="text" name="nameProject" class="form-control" ng-model="project.name"
                               ng-maxlength="255" required>
                        <span ng-show="form.nameProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.imageProject.$invalid && form.imageProject.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-imagenProyecto' | translate }}: </label>

                      <div class="col-sm-9">
                        <input type="file" data-icon="false"
                               name="imageProject"
                               data-classbutton="btn btn-default"
                               ng-model="imageProject"
                               onchange="angular.element(this).scope().setImageProject()"
                               data-classinput="form-control inline v-middle input-s"
                               id="imageProject" tabindex="-1"
                               ui-jq="filestyle">
                        <span>{{ 'label-formatosPermitidos' | translate }}: jpg, jpeg y png</span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.videoProject.$invalid && form.videoProject.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-videoProyecto' | translate }}: </label>

                      <div class="col-sm-9">
                        <input type="file" data-icon="false"
                               name="videoProject"
                               data-classbutton="btn btn-default"
                               ng-model="videoProject"
                               onchange="angular.element(this).scope().setVideoProject()"
                               data-classinput="form-control inline v-middle input-s"
                               id="videoProject" tabindex="-1"
                               ui-jq="filestyle">
                        <span>{{ 'label-formatosPermitidos' | translate }}: mp4, avi, mov, mpeg y wmv</span>
                      </div>
                    </div>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                      <div class="panel panel-default">

                        <div class="panel-heading font-bold" role="tab" id="headingOne">
                          <a role="button" data-toggle="collapse" data-parent="#accordion"
                             aria-expanded="true" href="javascript:;" data-target="#collapseOne"
                             aria-controls="collapseOne">
                            {{ 'label-lugarEjecucionProyecto' | translate}}
                          </a>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                          <div class="panel-body">

                            <div class="form-group" ng-class="{ 'has-error': form.addressProject.$invalid && form.addressProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-direccion' | translate}}:</label>

                              <div class="col-sm-9">
                                <input type="text" name="addressProject" class="form-control" ng-model="project.location.address"
                                       ng-maxlength="255" required>
                                <span ng-show="form.addressProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.countryProject.$invalid && form.countryProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-pais' | translate}}:</label>

                              <div class="col-sm-9">
                                <select class="form-control m-b" ng-model="countryProjectSelected" ng-change="getStatesProject()" ng-options="country.name for country in countriesProject" required>
                                </select>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.stateProject.$invalid && form.stateProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-estado' | translate}}:</label>

                              <div class="col-sm-9">
                                <select class="form-control m-b" ng-model="stateProjectSelected" ng-change="getCitiesProject()" ng-options="state.name for state in statesProject" required>
                                </select>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.cityProject.$invalid && form.cityProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-ciudad' | translate}}:</label>

                              <div class="col-sm-9">
                                <select class="form-control m-b" ng-model="cityProjectSelected" ng-options="city.name for city in citiesProject" required>
                                </select>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.municipalityProject.$invalid && form.municipalityProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-municipio' | translate}}:</label>

                              <div class="col-sm-9">
                                <input type="text" name="municipalityProject" class="form-control" ng-model="project.location.municipality"
                                       ng-maxlength="255" required>
                                <span ng-show="form.municipalityProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.codePostalProject.$invalid && form.codePostalProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-codigoPostal' | translate}}:</label>

                              <div class="col-sm-9">
                                <input type="text" name="codePostalProject" class="form-control" ng-model="project.location.postalCode"
                                       ng-maxlength="50" required>
                                <span ng-show="form.codePostalProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.ubicationReferenceProject.$invalid }">
                              <label class="col-sm-3 control-label text-left">  {{ 'label-referenciaUbicación' | translate}}:</label>

                              <div class="col-sm-9">
                                <input type="text" name="ubicationReferenceProject" class="form-control" ng-model="project.location.locationReference"
                                       ng-maxlength="255">
                                <span ng-show="form.ubicationReferenceProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading font-bold" role="tab" id="headingTwo">
                          <a class="collapsed" role="button" data-toggle="collapse"
                             data-parent="#accordion" data-target="#collapseTwo"
                             aria-expanded="false" aria-controls="collapseTwo">
                            {{ 'label-resumenEjecutivoProyecto' | translate}}
                          </a>
                        </div>

                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                          <div class="panel-body">

                            <div class="form-group" ng-class="{ 'has-error': form.generalObjectiveProject.$invalid && form.generalObjectiveProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-objetivoGeneral' | translate}}:</label>

                              <div class="col-sm-9">

                                <textarea name="generalObjectiveProject" ng-model="project.generalObjetive" class="form-control" rows="4"
                                          ng-maxlength="1000" style="resize: none" required/>
                                <span ng-show="form.generalObjectiveProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.specificObjectivesProject.$invalid && form.specificObjectivesProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-objetivosEspecificos' | translate}}:</label>

                              <div class="col-sm-9">

                                <textarea name="specificObjectivesProject" ng-model="project.specificObjetives" class="form-control" rows="4"
                                          ng-maxlength="1000" style="resize: none" required/>
                                <span ng-show="form.specificObjectivesProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.descriptionProject.$invalid && form.descriptionProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-descripcionProyecto' | translate}}:</label>

                              <div class="col-sm-9">

                                <textarea name="descriptionProject" ng-model="project.description" class="form-control" rows="4"
                                          ng-maxlength="1000" style="resize: none" required/>
                                <span ng-show="form.descriptionProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                              </div>
                            </div>

                            <div class="form-group" >
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-sectorImpactara' | translate}}:</label>

                              <div class="col-sm-9">
                                <select class="form-control" ng-model="project.impactSector" ng-options="sector.description for sector in impactSectors" required>
                                </select>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.economicActivityFocus.$invalid && form.economicActivityFocus.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-actividadEconomicaEnfocara' | translate}}:</label>

                              <div class="col-sm-9">
                                <select class="form-control" ng-model="project.economicActivity" ng-options="economic.description for economic in economicActivities" required>
                                </select>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.runtimeProject.$invalid && form.runtimeProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-tiempoEjecucionProyecto' | translate}} :</label>

                              <div class="col-sm-7">
                                <input type="number" name="runtimeProject" class="form-control" ng-model="project.monthExecution" min="0" max="12" required>
                                <span ng-show="form.runtimeProject.$error.min"> {{ 'label-numerosPositivos' | translate }} </span>
                                <span ng-show="form.runtimeProject.$error.max"> {{ 'label-maximoDoceMeses' | translate }} </span>
                              </div>

                              <label class="col-sm-2 control-label text-left"> {{ 'label-meses' | translate}}</label>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading font-bold" role="tab" id="headingThree">
                          <a class="collapsed" role="button" data-toggle="collapse"
                             data-parent="#accordion" data-target="#collapseThree"
                             aria-expanded="false" aria-controls="collapseThree">
                            {{ 'label-calendario' | translate}}
                          </a>
                        </div>

                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                          <div class="panel-body">

                            <button class="btn btn-sm btn-black" ng-click="addActivity()">{{ 'label-agregarActividad' | translate}}</button>
                            <br>

                            <table class="table table-striped b-t b-light" style="width:100%;">

                              <tr>
                                <th class="text-center">{{ 'label-actividadEs' | translate}}</th>
                                <th class="text-center">{{ 'label-mesRealizacion' | translate}}</th>
                                <th style="width:30px;"></th>
                              </tr>


                              <div class="addcontend">

                                <tr ng-repeat="activity in project.calendars">
                                  <td>
                                    <input class="form-control" ng-model="activity.activity" \>
                                  </td>
                                  <td>
                                    <select class="form-control" name="calendarProject" ng-model="activity.month" >
                                      <option value="">{{ 'label-seleccionar' | translate}}..</option>
                                      <option value="1">{{ 'label-enero' | translate}}</option>
                                      <option value="2">{{ 'label-febrero' | translate}}</option>
                                      <option value="3">{{ 'label-marzo' | translate}}</option>
                                      <option value="4">{{ 'label-abril' | translate}}</option>
                                      <option value="5">{{ 'label-mayo' | translate}}</option>
                                      <option value="6">{{ 'label-junio' | translate}}</option>
                                      <option value="7">{{ 'label-julio' | translate}}</option>
                                      <option value="8">{{ 'label-agosto' | translate}}</option>
                                      <option value="9">{{ 'label-septiembre' | translate}}</option>
                                      <option value="10">{{ 'label-octubre' | translate}}</option>
                                      <option value="11">{{ 'label-noviembre' | translate}}</option>
                                      <option value="12">{{ 'label-diciembre' | translate}}</option>
                                    </select>
                                  </td>
                                  <td>
                                    <button class="btn btn-sm btn-black" ng-click="deleteActivity(activity)"> {{ 'label-eliminar' | translate}} </button>
                                  </td>
                                </tr>

                              </div>

                            </table>

                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading font-bold" role="tab" id="headingFour">
                          <a class="collapsed" role="button" data-toggle="collapse"
                             data-parent="#accordion" data-target="#collapseFour"
                             aria-expanded="false" aria-controls="collapseFour">
                            {{ 'label-metas' | translate}}
                          </a>
                        </div>

                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFour">
                          <div class="panel-body">

                            <div class="form-group" ng-class="{ 'has-error': form.concreteResultsProject.$invalid && form.concreteResultsProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-resultadosConcretos' | translate}}:</label>

                              <div class="col-sm-9">
                                <textarea name="concreteResultsProject" ng-model="project.productResult" class="form-control" rows="4"
                                          ng-maxlength="1000" style="resize: none" required/>
                                <span ng-show="form.concreteResultsProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.salesEarningsExpectedProject.$invalid && form.salesEarningsExpectedProject.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-ventasGananciasEsperadas' | translate}}:</label>

                              <div class="col-sm-9">
                                <textarea name="salesEarningsExpectedProject" ng-model="project.salesEarning" class="form-control" rows="4"
                                          ng-maxlength="1000" style="resize: none" required/>
                                <span ng-show="form.salesEarningsExpectedProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab_4">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">
                    {{ 'label-recursosFinancieros' | translate}}
                  </div>

                  <div class="panel-body">

                    <div class="panel-group" id="accordionTwo" role="tablist" aria-multiselectable="true">

                      <div class="panel panel-default">

                        <div class="panel-heading font-bold" role="tab" id="headingTwoOne">
                          <a role="button" data-toggle="collapse" data-parent="#accordionTwo"
                             aria-expanded="true" href="javascript:;" data-target="#collapseTwoOne"
                             aria-controls="collapseTwoOne">
                            {{ 'label-recursosFinancierosRequeridos' | translate }}
                          </a>
                        </div>

                        <div id="collapseTwoOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingTwoOne">
                          <div class="panel-body">

                            <div class="form-group" ng-class="{ 'has-error': form.totalAmountRequiredResource.$invalid && form.totalAmountRequiredResource.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-montoTotalRequerido' | translate }}:</label>

                              <div class="col-sm-9">
                                <input type="number" name="totalAmountRequiredResource" class="form-control" ng-model="project.objetive"
                                       min="0" ng-maxlength="10" required>
                                <span ng-show="form.totalAmountRequiredResource.$error.min"> {{ 'label-numerosPositivos' | translate}} </span>
                                <span ng-show="form.totalAmountRequiredResource.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                              </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': form.exchangeRateResource.$invalid && form.exchangeRateResource.$dirty  }">
                              <label class="col-sm-3 control-label text-left"> * {{ 'label-tipoCambio' | translate }}:</label>

                              <div class="col-sm-9">
                                <select class="form-control" ng-model="project.currency" ng-options="currency.description for currency in currency" required>
                                </select>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>


                      <div class="panel panel-default">
                        <div class="panel-heading font-bold" role="tab" id="headingTwoTwo">
                          <a class="collapsed" role="button" data-toggle="collapse"
                             data-parent="#accordionTwo" data-target="#collapseTwoTwo"
                             aria-expanded="false" aria-controls="collapseTwoTwo">
                            {{ 'label-distribucionRecursoSolicitado' | translate }}
                          </a>
                        </div>

                        <div id="collapseTwoTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwoTwo">
                          <div class="panel-body">

                            <button class="btn btn-sm btn-black" ng-click="addResource()"> {{ 'label-agregarRecurso' | translate }}</button>
                            <br>

                            <table class="table table-striped b-t b-light" style="width:100%;">

                              <tr>
                                <th class="text-center">{{ 'label-conceptoRubros' | translate }}</th>
                                <th class="text-center">{{ 'label-recursoImporte' | translate }}</th>
                                <th class="text-center">{{ 'label-mes' | translate}}</th>
                                <th style="width:30px;"></th>
                              </tr>


                              <div class="addcontend">

                                <tr ng-repeat="resource in project.resources">
                                  <td>
                                    <input class="form-control" ng-model="resource.concept" \>
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" ng-model="resource.amount" ng-change="sumarRecursos()"\>
                                  </td>
                                  <td>
                                    <select class="form-control" name="economicActivityFocusProject" ng-model="resource.month" >
                                      <option value="">{{ 'label-seleccionar' | translate}}..</option>
                                      <option value="1">{{ 'label-enero' | translate}}</option>
                                      <option value="2">{{ 'label-febrero' | translate}}</option>
                                      <option value="3">{{ 'label-marzo' | translate}}</option>
                                      <option value="4">{{ 'label-abril' | translate}}</option>
                                      <option value="5">{{ 'label-mayo' | translate}}</option>
                                      <option value="6">{{ 'label-junio' | translate}}</option>
                                      <option value="7">{{ 'label-julio' | translate}}</option>
                                      <option value="8">{{ 'label-agosto' | translate}}</option>
                                      <option value="9">{{ 'label-septiembre' | translate}}</option>
                                      <option value="10">{{ 'label-octubre' | translate}}</option>
                                      <option value="11">{{ 'label-noviembre' | translate}}</option>
                                      <option value="12">{{ 'label-diciembre' | translate}}</option>
                                    </select>
                                  </td>
                                  <td>
                                    <button class="btn btn-sm btn-black" ng-click="deleteResource(resource)"> {{ 'label-eliminar' | translate}} </button>
                                  </td>
                                </tr>

                                <tr>
                                  <th class="text-right"> Total: </th>
                                  <th class="text-center">
                                    <div class="form-group">
                                      <label class="form-control" ng-model="totalResource" name="totalResource" disabled > {{ totalResource }} </label>
                                    </div>
                                  </th>
                                  <th class="text-center"></th>
                                  <th style="width:30px;"></th>
                                </tr>

                              </div>

                            </table>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab_5">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">
                    {{ 'label-recompesasInversor' | translate }}
                  </div>

                  <div class="panel-body">

                    <div class="form-group" ng-class="{ 'has-error': form.companySharestProject.$invalid && form.companySharestProject.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * % {{ 'label-accionesEmpresa' | translate }}:</label>

                      <div class="col-sm-9">
                        <input type="number" name="companySharestProject" class="form-control" ng-model="project.companyShares" min="0" max="99" required>
                        <span ng-show="form.companySharestProject.$error.min"> {{ 'label-numerosPositivos' | translate }} </span>
                        <span ng-show="form.companySharestProject.$error.max"> {{ 'label-permiteMaximo' | translate }} 99 % </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.monthlyInterestProject.$invalid && form.monthlyInterestProject.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * % {{ 'label-interesMensual' | translate }}:</label>

                      <div class="col-sm-9">
                        <input type="number" name="monthlyInterestProject" class="form-control" ng-model="project.monthlyInterest" min="0" max="99" required>
                        <span ng-show="form.monthlyInterestProject.$error.min"> {{ 'label-numerosPositivos' | translate }} </span>
                        <span ng-show="form.monthlyInterestProject.$error.max"> {{ 'label-permiteMaximo' | translate }} 99 % </span>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.anotherIncentiveProject.$invalid && form.anotherIncentiveProject.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-otroIncentivo' | translate}}:</label>

                      <div class="col-sm-9">
                        <textarea name="anotherIncentiveProject" ng-model="project.anotherIncentive" class="form-control" rows="4"
                                  ng-maxlength="1000" style="resize: none" required/>
                        <span ng-show="form.anotherIncentiveProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab_6">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">
                    {{ 'label-comentarioFinal' | translate}}
                  </div>

                  <div class="panel-body">

                    <div class="form-group" ng-class="{ 'has-error': form.finalCommentProject.$invalid && form.finalCommentProject.$dirty  }">
                      <label class="col-sm-3 control-label text-left"> * {{ 'label-argumentoValorAgregar' | translate}}:</label>

                      <div class="col-sm-9">

                        <textarea name="finalCommentProject" ng-model="project.finalComment" class="form-control" rows="4"
                                  ng-maxlength="1000" style="resize: none" required/>
                        <span ng-show="form.finalCommentProject.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab_7" >

                <div class="panel panel-default">

                  <div class="panel-heading font-bold">
                    {{ 'label-anexos' | translate }}
                  </div>

                  <div class="panel-body">


                    <div class="form-group">
                      <label class="col-sm-3 control-label text-left"> {{ 'label-seleccioneDocumentos' |
                        translate }} *</label>

                      <div class="col-sm-9">
                        <input type="file" data-icon="false"
                               data-classbutton="btn btn-default"
                               ng-model="files"
                               onchange="angular.element(this).scope().setFiles()"
                               data-classinput="form-control inline v-middle input-s"
                               id="documents" tabindex="-1"
                               ui-jq="filestyle" multiple>
                      </div>


                    </div>

                    <div class="form-group">
                      <div class="col-sm-3" ng-repeat="document in project.documents">
                        <div class="col-sm-12 m-t text-right">
                          <a ng-click="deleteFile(document)"><i class="fa icon-close" style="font-size: 20px;"></i></a>
                        </div>
                        <div >
                          <div class="m-t-lg" align="center" style="word-wrap: break-word;">
                            <a>
                              <img ng-src="{{getIcono(document)}}" alt="" style="width: 64px;
                                      height: 39px;"/>

                              <div class="text-center">
                                {{document.name}}
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="panel-body">
                  <div class="col-sm-12">
                    <div class="checkbox">
                      <label class="i-checks">
                        <input type="checkbox" ng-model="accept" value="" required >
                        <i></i>
                        {{ 'label-estoyDeAcuerdo1' | translate }} <a class="btn-link text-primary font-bold" ng-click="showModal=true"> {{ 'label-estoyDeAcuerdo2' | translate }} </a> {{ 'label-estoyDeAcuerdo3' | translate }}
                      </label>
                    </div>
                  </div>

                  <div class="col-sm-12" style="padding-top: 30px;">
                    <div class="text-center">
                      <button type="submit" class="btn btn-default" ng-click="redirecToHome()">{{ 'boton-cancelar' | translate }}</button>
                      <button type="submit" class="btn btn-black" ng-click="createPitch(form)" ng-disabled="form.$invalid">
                        {{ 'boton-aceptar' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>

      </div>
    </section>

  </div>
</div>
<div id="myloader" style="display:none;">
  <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
