<ng-header></ng-header>
<section class="container inicio-sesion" dw-loading="forgot" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 20, width: 6, radius: 20 }}">
    <div class="col-md-5 col-md-offset-4">
      <h1>
        {{ 'label-recuperacionContrasena' | translate }}
      </h1>
      <h6>
        {{ 'label-cambiarPassword' | translate }}
      </h6>
      <br />
      <form name="reset" class="form-horizontal" >
        <messages src="messages" name="messages" ></messages>


        <div class="form-group" ng-class="{ 'has-error': reset.password.$invalid && reset.password.$dirty  }">
          <label for="password">{{'label-password' | translate}}:</label>
          <input type="password" class="form-control" id="password" name="password" ng-model="user.password" required placeholder="{{ 'label-placeholder-password' | translate}}">
        </div>
        <div class="form-group" ng-class="{ 'has-error': reset.confirm_password.$invalid && reset.confirm_password.$dirty }">
          <label for="confirm_password">{{'label-confirm-password' | translate}}:</label>
          <input type="password"
                   class="form-control"
                   id="confirm_password"
                   name="confirm_password"
                   ng-model="confirm_password"
                   ui-validate=" '$value==user.password' "
                   ui-validate-watch=" 'user.password' "
                   placeholder="{{ 'label-placeholder-confirm-password' | translate}}">
            <span ng-show="reset.confirm_password.$error.validator">{{'label-passwordNoMatch' | translate}}</span>
        </div>

        <button type="submit" class="btn btn-orange" ng-click="recover()" ng-disabled="reset.$invalid">{{ 'boton-aceptar' | translate }}</button>

        <div class="form-group">
          <div class="links">
            {{'label-olvidar-registrado' | translate}} <a href="#/login" class="text-primary">{{'label-olvidar-login' | translate}} </a>
          </div>
        </div>

      </form>
    </div>
  </div>
</section>
<ng-footer></ng-footer>