<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li>
                        <a href="/#/contact" style="font-weight: bold !important; color: #003362;">
                        {{ 'label-footer-contacto' | translate}}
                        </a>
                    </li>
                    <li>
                    <a href="/#/aboutUs">
                        {{ 'label-footer-acerca' | translate}}
                        </a>
                    </li>
                    <li>
                        <a href="/#/terminos_condiciones">
                        {{ 'label-footer-terminos' | translate}}
                        </a>
                    </li>
                    <li>
                        <a href="/#/aviso_privacidad">
                        {{ 'label-footer-aviso' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>
                        <a href="/#/corredores" style="font-weight: bold !important; color: #003362;">
                        {{ 'label-footer-corredores' | translate}}</li>
                        </a>
                    <li>
                        <a href="#/createPitch">
                        {{ 'label-footer-registrar-proyecto' | translate}}
                        </a>
                    </li>
                    <li>
                        <a href="/#/frequentQuestions/corredores">
                        {{ 'label-footer-preguntas-frecuentes-corredores' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 center">
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/Crowdei/">
                            <img src="assets/img/facebook.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Crowdei_mx">
                            <img src="assets/img/twitter.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/crowdei_mx/">
                            <img src="assets/img/instagram.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://mx.linkedin.com/">
                            <img src="assets/img/linkedin.png">
                        </a>
                    </li>
                </ul>
                <p class="blue"  style="font-weight: bold !important; color: #003362;">{{ 'label-footer-blog' | translate }}</p>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>
                        <a href="/#/impulsores" style="font-weight: bold !important; color: #003362;">
                        {{ 'label-footer-impulsores' | translate}}
                        </a>
                    </li>
                    <li>
                        <a href="/#/frequentQuestions/impulsores/q11" target="_self">
                        {{ 'label-footer-como-invertir' | translate}}
                        </a>
                    </li>
                    <li>
                        <a href="/#/frequentQuestions/impulsores">
                        {{ 'label-footer-preguntas-frecuentes-impulsores' | translate}}
                        </a>
                    </li>
                    <li>
                        <a href="/#/businessOpportunities">
                        {{ 'label-footer-buscar-proyecto' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <p class="copyright">
                Estrategias Integrales &copy; 2016 Copyright.
            </p>
        </div>
        <div class="col-md-12">
            <p class="institucional"></p>
        </div>
    </div>
</footer>
