<ng-header></ng-header>
<div class="container aviso-privacidad">
    <h1>{{ 'label-privacidad-title' | translate}}</h1>
    <p ng-hide="currentLanguage == es_MX">
        {{ 'label-privacidad-parrafo-0' | translate}}
    </p>
    <p>
        {{ 'label-privacidad-parrafo-1' | translate}}
    </p>
    <p>
        {{ 'label-privacidad-parrafo-2' | translate}}
    </p>
    <h2>{{ 'label-privacidad-subtitle-1' | translate}}</h2>
    <p>
        {{ 'label-privacidad-parrafo-3' | translate}}
    </p>
    <h3>{{ 'label-privacidad-sub-subtitle-1' | translate}}</h3>
    <ul>
        <li>
            {{ 'label-privacidad-parrafo-4' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-5' | translate}}
        </li>
    </ul>
    <h3>{{ 'label-privacidad-sub-subtitle-2' | translate}}</h3>
    <ul>
        <li>
            {{ 'label-privacidad-parrafo-6' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-7' | translate}}
        </li>
    </ul>
    <h2>{{ 'label-privacidad-subtitle-2' | translate}}</h2>
    <p>
        {{ 'label-privacidad-parrafo-8' | translate}}
    </p>
    <ul>
        <li>
            {{ 'label-privacidad-parrafo-9' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-10' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-11' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-12' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-13' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-14' | translate}}
        </li>
    </ul>
    <h2>{{ 'label-privacidad-subtitle-3' | translate}}</h2>
    <p>
        {{ 'label-privacidad-parrafo-15' | translate}}
    </p>
    <ul>
        <li>
            {{ 'label-privacidad-parrafo-16' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-17' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-18' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-19' | translate}}
        </li>
    </ul>
    <h2>{{ 'label-privacidad-subtitle-4' | translate}}</h2>
    <p>
        {{ 'label-privacidad-parrafo-20' | translate}}
    </p>
    <ul>
        <li>
            {{ 'label-privacidad-parrafo-21' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-22' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-23' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-24' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-25' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-26' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-27' | translate}}
        </li>
        <li>
            {{ 'label-privacidad-parrafo-28' | translate}}
        </li>
    </ul>
    <h2>{{ 'label-privacidad-subtitle-5' | translate}}</h2>
    <p>
        {{ 'label-privacidad-parrafo-28' | translate}}
    </p>
    <p>
        {{ 'label-privacidad-parrafo-30' | translate}}
    </p>
    <h2>{{ 'label-privacidad-subtitle-5' | translate}}</h2>
    <p>
        {{ 'label-privacidad-parrafo-31' | translate}}
    </p>
    <h2>{{ 'label-privacidad-subtitle-6' | translate}}</h2>
    <p>
        {{ 'label-privacidad-parrafo-32' | translate}}
    </p>
</div>

<ng-footer></ng-footer>
