<div class="modal fade" >
  <div class="modal-dialog">
    <div class="vertical-alignment-helper">
      <div class="vertical-align-center">
        <div class="modal-content">
          <div class="modal-header bg-success">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title font-bold">Transferencia</h4>
          </div>

          <div class="modal-body panel">

            <p>
              Por favor realice una transferencia con el monto correspondiente a su inversión a los siguientes datos: <br><br>
              <strong >Banco: XXXX <br>
              Cuenta número: XXXX <br>
              A nombre de: XXXX <br>
              Dirección: XXXX <br><br> </strong>

              En el campo de descripción, coloque el siguiente código <strong> {{idTransferencia}}</strong> para hacer seguimiento y validar se haya hecho
              efectivo el dinero en cuenta. Estrategias Integrales dispone de cinco (5) días laborales para confirmar tal información, en ese
              período el estatus de la transferencia será “PENDIENTE”.
            </p>

            <div class="text-center">
              <button type="submit" class="btn btn-black" ng-click="save()">{{ 'boton-aceptar' | translate }}</button>
            </div>


          </div>

        </div>
      </div>
    </div>

  </div>
</div>
