
<div class="modal fade" >
  <div class="modal-dialog">
    <div class="vertical-alignment-helper">
      <div class="vertical-align-center">
        <div class="modal-content">
          <div class="modal-header bg-success">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Exito</h4>
          </div>
          <div ng-transclude >
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
