<div class="modal fade" >
  <div class="modal-dialog">
    <div class="vertical-alignment-helper">
      <div class="vertical-align-center">
        <div class="modal-content">
          <div class="modal-header bg-success">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title font-bold">{{ 'label-sendMail' | translate}}</h4>
          </div>

          <div class="modal-body panel">
            <form name="formMail" class="form-horizontal" >

              <div class="form-group" ng-class="{ 'has-error': formMail.name.$invalid && formMail.name.$dirt }">
                <label class="col-sm-4 control-label text-left">{{'label-nombre' | translate}} *</label>
                <div class="col-sm-8">
                  <input type="text" name="name" class="form-control" ng-model="contact.name" ng-maxlength="30" required>
                  <span ng-show="formMail.name.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': formMail.lastName.$invalid && formMail.lastName.$dirty  }">
                <label class="col-sm-4 control-label text-left">{{'label-apellido' | translate}} *</label>
                <div class="col-sm-8">
                  <input type="text" name="lastName"  ng-model="contact.lastName" class="form-control" ng-maxlength="30" required>
                  <span ng-show="formMail.lastName.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': formMail.email.$invalid && formMail.email.$dirty  }" >
                <label class="col-sm-4 control-label text-left">{{'label-correo' | translate}} *</label>
                <div class="col-sm-8">
                  <input type="email" name="email" ng-model="contact.email" class="form-control" placeholder="contact@mydomain.com">
                  <span ng-show="formMail.email.$error.email"> {{'label-emailError' | translate}} </span>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': formMail.phone.$invalid && formMail.phone.$dirty  }">
                <label class="col-sm-4 control-label text-left">{{'label-telefono' | translate}} *</label>
                <div class="col-sm-8">
                  <input type="text" name="phone" class="form-control" ng-model="contact.phone" ng-maxlength="20" placeholder="+###################"
                         ng-pattern="/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/" required>
                  <span ng-show="formMail.phone.$error.pattern"> {{ 'label-formatoErroneo' | translate}} </span>
                  <span ng-show="formMail.phone.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error': formMail.message.$invalid && formMail.message.$dirty  }">
                <label class="col-sm-4 control-label text-left">{{'label-mensaje' | translate}} *</label>
                <div class="col-sm-8">
                  <textarea name="message" ng-model="contact.message" class="form-control" ng-maxlength="255" required style="resize:none; height: 100px" />
                  <span ng-show="formMail.phone.$error.maxlength"> {{ 'label-logitudMaxima' | translate}} </span>
                </div>
              </div>


              <div class="form-group">

                <div class="col-sm-12">
                  <div class="text-right">
                    <label class="control-label">* {{'label-camposRequeridos' | translate}}</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="text-center">
                    <button type="submit" class="btn btn-black" ng-click="save()" ng-disabled="formMail.$invalid">{{ 'label-send' | translate }}</button>
                  </div>
                </div>
              </div>

              </form>
          </div>
          <div ng-transclude >
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
