<div class="modal fade" >
  <div class="modal-dialog">
    <div class="vertical-alignment-helper">
      <div class="vertical-align-center">
        <div class="modal-content">
          <div class="modal-header bg-success">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Términos y Condiciones de uso del Sitio</h4>
          </div>



          <div class="modal-body scrollable-panel">

            <h1 class="text-center">Términos y Condiciones de uso del

              Sitio</h1>
            <p class="text-justify" >LOS PRESENTES TERMINOS Y CONDICIONES SON DE CARÁCTER OBLIGATORIO

            PARA AQUELLOS QUE QUIERAN HACER USO DE LA PLATAFORMA CrowdEi Y

            DEBERAN ABSTENERSE DE HACER USO AQUELLOS QUE NO SE LIMITEN A LO QUE A

            CONTINUACIÓN SE SEÑALA, POR LO QUE SE ENTIENDE QUE SE ACEPTAN LOS

            CRITERIOS MARCADOS EN SU TOTALIDAD, ASIMISMO, SE OBSERVA QUE NO ESTÁN

            SUJETOS A CAMBIO DE NINGUNA ÍNDOLE POR LO QUE SE ENTIENDEN SON

            ACEPTADOS EN SU TOTALIDAD.</p>

            <p class="text-justify">El presente contrato establecen las disposiciones generales aplicables a la utilización de la

            plataforma CrowdEi en el sitio www.CrowdEi.mx, por lo que regulan el acceso y la utilización

            de los servicios puestos a disposición por Estrategias Integrales, Agencia de Desarrollo

            Internacional S.A. de C.V. (Equipo) para el uso de los Emprendedores y Mipymes (Usuario

            proponentes).</p>

            <p class="text-justify">Para efectos de las presentes Condiciones de Uso, se entenderá por “Usuarios” a cualquier

            emprendedor o Mipyme que se registre en la plataforma, tanto aquellos que den de alta un

            proyecto, como aquellos interesados en realizar aportaciones a los proyectos publicados.</p>

            <p class="text-justify">Básicamente lo anterior se refiere a que el del proyecto será el “Usuario proponente” interesado

            en recibir financiación (aportación económica) de inversionistas “Usuario fondeador”.</p>

            <p class="text-justify">Por otra parte, se entenderá por “Equipo” al grupo que trabaja en la plataforma de CrowdEi.</p>

            <p class="text-justify">En caso de dudas razonables respecto de la legalidad del uso de los servicios, tratándose de actos

            delictivos o cualquier otro uso ilegal, se dará derecho a CrowdEi a la inmediata suspensión del

            servicio sin necesidad de previo aviso.</p>

            <p class="text-justify">CrowdEi se reserva el derecho de modificar en cualquier momento cualquiera de los presentes

            Términos de Uso, así como limitar el acceso a ciertos Usuarios infractores o de dudosa veracidad.</p>

            <p class="text-justify">Los Usuarios de CrowdEi se comprometen a entender y aceptar todas las condiciones

            establecidas en el presente contrato previo a su inscripción.</p>

            <p class="text-justify">Para continuar y hacer uso de la plataforma el Usuario realiza las siguientes declaraciones:</p>

            <p class="text-justify">Que es mayor de 18 años o, que cuenta con el permiso legal de sus tutores responsables y

            con representación legal suficiente para aceptar estos términos y condiciones.</p>

            <p class="text-justify">El Usuario se compromete a que la información suministrada en los formularios de inscripción

            correspondientes es cierta y actualizada y no incurre, entre otras, en ninguna de las siguientes

            conductas:</p>

            <p class="text-justify">Suplantación de identidad. En ello se incluye cualquier dato proporcionado en los formularios

            de inscripción o propuesto en su proyecto.</p>

            <p class="text-justify">El Usuario declara tener derecho sobre cualquiera de los datos y/o elementos que conforman

            su propuesta. El Usuario será el único responsable de los contenidos que suba a la web o

            suministre a terceros y del cumplimiento de las normas de Propiedad Intelectual sobre tales

            contenidos, así como frente a cualquier acción u omisión que viole de las correspondientes

            leyes que le apliquen.</p>

            <p class="text-justify">En resumen el Usuario asume la plena responsabilidad sobre los contenidos que almacene.</p>

            <h1 class="text-center">SERVICIOS</h1>

            <p class="text-justify">CrowdEi es una plataforma tipo Equity (modalidad) de crowfunding (método): ventana

            especializada en proyectos que requieren inversión de Mipymes para fondeo en masa con las

            siguientes ventajas:</p>
            <ol type="1">

              <li class="text-justify">Recepcionará proyectos emocionantes y de gran crecimiento y rentabilidad</li>

              <li class="text-justify">Es una plataforma que se convierte en business angel de forma progresiva y sin que todo el

              patrimonio de las personas participantes esté en riesgo.</li>

              <li class="text-justify">No está sujeto a gastos de mantenimiento y costes de compra de un broker o de un banco.

              La plataforma de CrowdEI no cobrará a los inversores.</li>

              <li class="text-justify">Al no tener gastos, se puede diversificar la cartera de inversiones rápidamente y maximizar

              las probabilidades de obtener una mejor rentabilidad por sus ahorros.</li>

              <li class="text-justify">Funciona también como una plataforma de patrocinio y vinculación al ecosistema

              emprendedor.</li>

              <li class="text-justify">Promueve proyectos local e internacional.</li>
            </ol>

            <p class="text-justify">CrowdEi es la primera plataforma on-line internacional de Crowdfunding en México, es decir

            se trata de un modelo de financiación en masa para emprendedores y Mipymes, lo cual

            corresponde a nueva guía para conseguir recursos económicos.</p>

            <p class="text-justify">Por lo tanto CrowdEi  es una plataforma global en la que los emprendedores e inversionistas de

            todo el mundo podrán encontrarse.</p>

            <p class="text-justify">El modelo de Crowdfunding que se propone es el de INVERSIÓN O EQUITY que es una

            herramienta de financiación colectiva, a través del cual el “Usuario Proponente” logra la inversión

            necesaria para su proyecto a través de aportaciones de muchos pequeños inversionistas –

            “Usuario fondeador” como método eficiente para conseguir financiamiento, darse a conocer en

            los principales sitios de negocio, interacción entre emprendedores e inversionistas on-site a través

            de una serie de módulos diseñados para la publicación de proyectos con potencial y viabilidad,

            creando así la oportunidad a las personas interesadas de convertirse en accionistas y tener un

            potencial retorno financiero (participaciones).</p>

            <p class="text-justify">El Crowdfunding no es sólo un sistema para levantar capital, también sirve como campaña de

            marketing de la empresa y una manera de validar en el mercado la calidad del proyecto.</p>

            <p class="text-justify">CrowdEi ofrece dos productos, el primero se trata de proyectos de emprendedores y MIPYMES

            con menos de 12 meses de registro ante el SAT y que cuentan con viabilidad Técnica, Financiera y

            de Negocios, para ser apoyados por inversión privada a nivel global mediante la utilización de la

            plataforma de Crowdfunding; y, en segundo lugar, tenemos los servicios complementarios de

            patrocinadores, programas públicos y vinculaciones con Incubadoras, banca comercial y empresas

            de consultoría.</p>

            <h1 class="text-center">Normas de Uso:</h1>

            <ol type="a">

              <li class="text-justify">Aceptación del presente contrato imprescindible</li>

              <li class="text-justify">Registro del Usuario en plataforma sin omisión de información ya sea como Usuario

              Proponente o bien como Usuario fondeador.</li>

              <li class="text-justify">Acceso y registro a CrowdEi libre y gratuito.</li>

              <li class="text-justify">Cuenta registrada es personal de intrasferible.</li>

              <li class="text-justify">El Usuario es el único responsable de su cuenta y por lo tanto de su contraseña, ante

              cualquier extravío o invasión puede solicitar el apoyo de soporte@crowdEi.com</li>

              <li class="text-justify">El equipo de CrowdEi puede cancelar un registro previamente aceptado si considera

              que el usuario incumple alguna condición de uso</li>

              <li class="text-justify">El Usuario se compromete a mantener actualizados sus datos, exonerando a CrowdEi

              de cualquier desinformación.</li>

              <li class="text-justify">El Usuario mantendrá en confidencialidad la información observada en el portal

              www.crowdEi.com, por lo que no difundirá, datos, mensajes,  archivos imágenes entre

              otros documentos que sean contrarios a la ley, la moral, el orden público o los

              presentes Términos y Condiciones.</li>

              <li class="text-justify">El Usuario no usará la página para hacer propanganda partidista, racista, pornográfica,

              criminal o terrorista o cualquier otro que atente a los derechos humanos.</li>

              <li class="text-justify">El Usuario cuidará el portal de no introducir virus o cualquier otro programa que dañe

              A CrowdEi</li>

              <li class="text-justify">El Usuario cuidará derechos de propiedad intelectual.</li>

              <li class="text-justify">Informar al Equipo de CroedEi sobre alguna actuación fraudolenta.</li>

              <li class="text-justify">El Usuario cumplirá sus compromisos, ya sea como proponente en la entrega de los

              beneficios, o como fondeados en la ministración acordada.</li>
            </ol>

            <h1 class="text-center">Formas de Pago</h1>

            <p class="text-justify">Los Usuarios Fondeadores realizaran aportaciones voluntarias dependiendo del proyecto que

            les sea de su interés, pudiendo ser partícipes de uno o más propuestas usando los siguientes

            métodos:</p>

            <ul>

              <li class="text-justify"> Pagos a través de una cuenta Paypal o con tarjeta de crédito o débito a través del

              sistema Paypal (según los términos y condiciones propias de dicho sistema los cuales

              se ubican en el siguiente link:

              https://www.paypal.com</li>

              <li class="text-justify">Pagos con tarjeta de crédito o débito (se aceptan pagos internacionales), a la cuenta

              xxxx o bien a través de  xxxx</li>

              <li class="text-justify">Pagos a través de depósitos en efectivo o transferencias bancarias directamente en la

              cuenta de CrowdEi</li>
            </ul>

            <p class="text-justify">CrowdEi no es responsable ni interviene en las posibles comisiones o variaciones en las

            mismas que las diferentes modalidades correspondan, por lo que será cubierto por el Usuario

            Proponente.</p>

            <p class="text-justify">CrowdEi cobra comisión del 5% sobre el valor total de la financiación.</p>

            En caso de que un proyecto sea removido, por violar los Términos de Uso, todas las

            comisiones pagadas no serán reembolsables, a menos que el Equipo de CrowdEi determine

            que es apropiado tal reembolso.</p>

            <p class="text-justify">Al Usuario Fondeador no se le cobrará la cantidad donada hasta que el proyecto alcance el

            100% de la financiación.</p>

            <p class="text-justify">Recompensas: Bienes y/o Servicios que el Usuario Proponente se obliga a entregar a los

            Usuarios Fondeadores, en los casos en que se haya logrado obtener la cantidad solicitada

            para la realización del Proyecto o Iniciativa Creativa.</p>

            <h1 class="text-center">Inscripción</h1>

            <p class="text-justify">Para poder estar en posibilidades de utilizar el Sitio, el Usuario (proponente o fondeador),

            deberá integrar con carácter de obligatorio el formulario de inscripción en todos sus campos

            con datos válidos. El Usuario deberá completarlo con su información personal de manera

            exacta, precisa y verdadera ("Datos Personales").</p>

            <p class="text-justify">CrowdEi se reserva el derecho de solicitar a los Usuarios algún comprobante y/o dato

            adicional a efectos de corroborar los datos personales, así como de suspender temporal o

            definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados.</p>

            <p class="text-justify">En un plazo que no excederá de 10 días hábiles contados a partir del momento de recepción

            por parte de CrowdE del cuestionario debidamente contestado, el Usuario recibirá un correo

            electrónico por parte del Equipo en el cual se le informará su aprobación o rechazo del

            Proyecto.</p>

            <p class="text-justify">Adicionalmente, el Usuario se comprometerá a integrar todos los campos requeridos en el

            portal para una mejor disponibilidad de información de los Usuarios en general, por lo que las

            imágenes, videos y redacción de los proyectos deben ser de buena calidad.</p>

            <h1 class="text-center">Privacidad de la Información</h1>

            <p class="text-justify">La presente plataforma se limita a mantener los datos personales debidamente almacenados

            apegandose al Aviso de Privacidad

            https://CrowdEi/avisodeprivacidad</p>

            <h1 class="text-center">Otros</h1>
            <ul>

              <li class="text-justify">Pago Comisión a CrowdEi. En el caso que el Proyecto haya alcanzado el monto

              mínimo solicitado para su realización CrowdEi cobrará al Usuario proponente el 5% del

              total del Monto Aportado por parte de los Usuarios Fondeadores más el impuesto al

              valor agregado correspondiente.</li>

              <li class="text-justify">Difusión del avance: Una vez que haya iniciado con el desarrollo del Proyecto el

              Usuario proponente deberá informar bimestralmente a los Usuarios Fondeadores del

              avance del Proyecto.</li>

              <li class="text-justify">Obligaciones. Cumplir con todas y cada una de las obligaciones establecidas en los

              presentes Términos y Condiciones y en el Memorándum de Entendimiento.</li>
            </ul>

            <h1 class="text-center">Jurisdicción y Ley Aplicable</h1>

            <p class="text-justify">Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República

            Mexicana, en particular respecto de mensajes de datos, contratación electrónica y comercio

            electrónico se regirá por lo dispuesto por la legislación federal respectiva. Cualquier

            controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o

            cumplimiento, será sometida a las leyes aplicables y a los Tribunales competentes.

            Para la interpretación, cumplimiento y ejecución del presente contrato, las partes

            expresamente se someten a la jurisdicción de los tribunales competentes de la Ciudad de

            México, Distrito Federal, renunciando en consecuencia a cualquier fuero que en razón de su

            domicilio presente o futuro pudiera corresponderles.</p>
          </div>
          <div ng-transclude >
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
